{%- if block.settings.desktop_image != blank or block.settings.mobile_image != blank or request.design_mode -%}
{%- liquid
    assign widths = '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
    assign desktop_img_class = "block-media__image block-media__image--desktop"
    assign mobile_img_class = "block-media__image"
    unless block.settings.mobile_image != blank
    assign desktop_img_class = "block-media__image block-media__image--desktop block-media__image--all"
    endunless
    if block.settings.desktop_image != blank
        assign mobile_img_class = "block-media__image block-media__image--mobile"
    endif
    assign onload_script = ''
    assign loading_images = 'lazy'
    if settings.images_loading != 'disable'
        assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
    endif
-%}
{%- capture sizes -%}
    (max-width: 768px) 100vw, {{ max_block_width }}
{%- endcapture -%}

{%- if block.settings.block_image_link != blank -%}<a href="{{ block.settings.block_image_link }}"{% if block.settings.target_blank %} target="_blank"{% endif %} class="section-block block-media block-media--{{ block.id }} aspect-ratio"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %} {{ block.shopify_attributes }}>
{%- else -%}<div class="section-block block-media block-media--{{ block.id }} aspect-ratio"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %} {{ block.shopify_attributes }}>
{%- endif -%}
    {% style %}
        .block-media--{{ block.id }} {
            {%- if block.settings.block_image_radius == 'default' -%}
            --block-image-radius: {{ settings.images_and_sections_radius }};
            {%- else -%}
            --block-image-radius: {{ block.settings.block_image_radius }};
            {%- endif -%}
            --aspect-ratio: {{ block.settings.desktop_media_ratio }};
        }
        {% if settings.images_loading != 'disable' and block.settings.desktop_media_ratio == 'auto' %}
            .block-media--{{ block.id }} .lazy-image {
                aspect-ratio: var(--asp-rat);
            }
        {% endif %}
        @media screen and (max-width: 768px) {
            .block-media--{{ block.id }} {
                --aspect-ratio: {{ block.settings.mobile_media_ratio }};
            }
            {% if settings.images_loading != 'disable' and block.settings.mobile_media_ratio == 'auto' %}
                .block-media--{{ block.id }} .lazy-image {
                    aspect-ratio: var(--asp-rat);
                }
            {% endif %}
        }
    {% endstyle %}
    {%- if block.settings.desktop_image != blank -%}
        {% if settings.images_loading != 'disable' %}
            <figure class="lazy-image lazy-image--{{ settings.images_loading }} {{ desktop_img_class }}" style="--asp-rat: {{ block.settings.desktop_image.aspect_ratio }};">
        {% endif %}
        {{
            block.settings.desktop_image
            | image_url: width: 3200
            | image_tag:
            sizes: sizes,
            widths: widths,
            class: desktop_img_class,
            alt: block.settings.desktop_image.alt,
            draggable: false,
            loading: loading_images,
            onload: onload_script
        }}
        {% if settings.images_loading != 'disable' %}
            {% if settings.images_loading != 'fade_scale' %}
            <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
              <img 
              alt="{{ block.settings.desktop_image.alt | escape }}" 
              src="{{ block.settings.desktop_image | image_url: width: 10 }}"
              draggable="false"
              width="10" 
              height="10">
            </div>
            {% endif %}
        </figure>
        {% endif %}
    {%- endif -%}
    {%- if block.settings.mobile_image != blank -%}
        {% if settings.images_loading != 'disable' %}
            <figure class="lazy-image lazy-image--{{ settings.images_loading }} {{ mobile_img_class }}" style="--asp-rat: {{ block.settings.mobile_image.aspect_ratio }};">
        {% endif %}
        {{
            block.settings.mobile_image
            | image_url: width: 3200
            | image_tag:
            sizes: sizes,
            widths: widths,
            class: mobile_img_class,
            alt: block.settings.mobile_image.alt,
            draggable: false,
            loading: loading_images,
            onload: onload_script
        }}
        {% if settings.images_loading != 'disable' %}
            {% if settings.images_loading != 'fade_scale' %}
            <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
              <img 
              alt="{{ block.settings.mobile_image.alt | escape }}" 
              src="{{ block.settings.mobile_image | image_url: width: 10 }}"
              draggable="false"
              width="10" 
              height="10">
            </div>
            {% endif %}
        </figure>
        {% endif %}
    {%- endif -%}
    {%- if block.settings.desktop_image == blank and block.settings.mobile_image == blank -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
{%- if block.settings.block_image_link != blank -%}</a>{%- else -%}</div>{%- endif -%}
{%- endif -%}