{% liquid
  if card_style
    assign collection_card_style = card_style
  else 
    assign collection_card_style = settings.collection_card_style
  endif
  assign scale_index = 1
  if card_style == 'media-on-side'
    assign scale_index = 2
  endif
%}

{%- capture sizes -%}
  {% if disable_max_width or full_width %}
    (max-width: 768px) calc(100vw / {{ mobile_columns }} / {{ scale_index }}), {{ max_width | divided_by: desktop_columns | divided_by: scale_index }}vw
  {% else %}
    (max-width: 768px) calc(100vw / {{ mobile_columns }} / {{ scale_index }}), {{ max_width | divided_by: desktop_columns | divided_by: scale_index }}px
  {% endif %}
{%- endcapture -%}

<a class="card-collection{% if full_width %} card-collection--full-width{% endif %} card-collection--{{ collection_card_style }} {% if collection_image == blank %}card-collection--without-media{% endif %} color-{{ card_color_scheme }}
  {% if show_collection_card_border %}with-border{% endif %} {% if card_color_scheme != parent_color_scheme %} with-color{% endif %}
  {% if collection_card_style == 'below_media' %}radius-{{ settings.card_images_radius }}{% endif %}" href="{{ card_collection.url }}">
    <div class="card-collection__media aspect-ratio">
      {%- if collection_image -%}
        {% assign alt = collection_image.alt | default: card_collection.title | escape %}
        <div class="card__image" {% if settings.disables_right_click %} oncontextmenu="return false"{% endif %}>
          {% if settings.images_loading != 'disable' %}
            <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--asp-rat: {{ collection_image.aspect_ratio }};">
          {% endif %}
          {{ collection_image | image_url: width: 3200 | image_tag:
            widths: '300, 400, 500, 750, 900, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
            sizes: sizes,
            draggable: false,
            alt: alt,
            loading: loading_images,
            onload: onload_script
          }}
          {% if settings.images_loading != 'disable' %}
            {% if settings.images_loading != 'fade_scale' %}
            <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
              <img 
              alt="{{ alt | escape }}" 
              src="{{ collection_image | image_url: width: 10 }}"
              draggable="false"
              width="10" 
              height="10">
            </div>
            {% endif %}
        </figure>
        {% endif %}
        </div>
      {%- endif -%}
    </div>
    <h2 class="card-collection__title {% if settings.center_collection_card_content %}center{% endif %} secondary-heading {% if settings.uppercase_secondary_headings %}uppercase{% endif %}">{{ card_collection.title | escape }}
      {%- if number_of_products -%}<span class="card-collection__details">({{ card_collection.all_products_count }})</span>{%- endif -%}
      {%- if settings.show_arrow -%}
        <span class="card-collection__icon flex--row">
          {%- render 'glyphs_arrows', icon: 'arrow-right' -%}
        </span>
      {%- endif -%}
    </h2>
</a>