{%- if location.settings.context_image != blank or request.design_mode -%}
{%- liquid
    assign onload_script = ''
    assign loading_images = 'lazy'
    if settings.images_loading != 'disable'
        assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
    endif
-%}
{%- if location.settings.context_image_link != blank -%}
    {%- if inside_link -%}
    <object class="{% if section_block %}section-block {% endif %}context-image context-image--{{ location.id }} aspect-ratio" aria-label="{{ 'general.links.link_to_button_label' | t: label: location.settings.context_image_link }}">
    {%- endif -%}
    <a href="{{ location.settings.context_image_link }}"{% if location.settings.context_target_blank %} target="_blank"{% endif %} aria-label="{{ location.settings.context_image.alt | escape }}" class="{%- unless inside_link -%}{% if section_block %}section-block {% endif %}context-image context-image--{{ location.id }} aspect-ratio {%- endunless -%}{% unless block.settings.context_image != blank %} context-image--placeholder{% endunless %}"{% if block_shopify_attributes %} {{ location.shopify_attributes }}{% endif %}{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
{%- else -%}
    <div class="{% if section_block %}section-block {% endif %}context-image context-image--{{ location.id }} aspect-ratio{% unless location.settings.context_image != blank %} context-image--placeholder{% endunless %}" {% if block_shopify_attributes %} {{ location.shopify_attributes }}{% endif %}{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
{%- endif -%}
        {% style %}
        .context-image--{{ location.id }} {
        --aspect-ratio: {{ location.settings.context_media_ratio }};
        --context-image-width: {{ location.settings.context_image_width }}px;
        {%- if location.settings.context_image_radius == 'default' -%}
        --context-image-radius: {{ settings.images_and_sections_radius }};
        {%- else -%}
        --context-image-radius: {{ location.settings.context_image_radius }};
        {%- endif -%}
        }
        {% if settings.images_loading != 'disable' and location.settings.context_media_ratio == 'auto' %}
            .context-image--{{ location.id }} .lazy-image {
                aspect-ratio: var(--asp-rat);
            }
        {% endif %}
        {% endstyle %}
        {%- if location.settings.context_image != blank -%}
            {%- liquid
                assign widths = '150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250'
                assign img_class = "context-image__image"
            -%}
            {% if settings.images_loading != 'disable' %}
                <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--asp-rat: {{ location.settings.context_image.aspect_ratio }};">
            {% endif %}
            {%- capture sizes -%}
                (max-width: 768px) clamp(100vw, {{ location.settings.context_image_width }}px, 100vw), {{ location.settings.context_image_width }}px
            {%- endcapture -%}
            {{
                location.settings.context_image
                | image_url: width: 1500
                | image_tag:
                sizes: sizes,
                widths: widths,
                class: img_class,
                alt: location.settings.context_image.alt,
                draggable: false,
                loading: loading_images,
                onload: onload_script
            }}
            {% if settings.images_loading != 'disable' %}
                {% if settings.images_loading != 'fade_scale' %}
                <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                  <img 
                  alt="{{ location.settings.context_image.alt | escape }}" 
                  src="{{ location.settings.context_image | image_url: width: 10 }}"
                  draggable="false"
                  width="10" 
                  height="10">
                </div>
                {% endif %}
            </figure>
            {% endif %}
        {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
{%- if location.settings.context_image_link != blank -%}
    </a>{%- if inside_link -%}</object>{%- endif -%}  
{%- else -%}
    </div>
{%- endif -%}
{%- endif -%}