<custom-options class="custom-options flex--column product-form__input product-form__input--dropdown" style="--spacing: {{ block.settings.top_spacing }};--mobile-spacing: {{ block.settings.mobile_top_spacing }};" {{ block.shopify_attributes }}>
    {% liquid 
      assign product_form_id = 'product-form-' | append: section.id
      assign options = block.settings.options | split: ','
    %}
    {% if settings.show_label and block.settings.option_label != blank %}
        <label class="form__label {{ block.settings.label_style }}{% if block.settings.label_uppercase %} uppercase{% endif %}{% if block.settings.label_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" 
            for="Option-{{ block.id }}-{{ forloop.index0 }}">
            <span class="form__label-name">
                {% if block.settings.label_bolder_font %}<b>{% endif %}{{ block.settings.option_label }}{% if block.settings.label_bolder_font %}</b>{% endif %}
                {% if block.settings.info_tooltip != blank %}
                    <span class="tooltip-icon icon icon--small">{%- render 'glyphs_signs', icon: 'help' -%}</span>
                    <span class="tooltip-text caption-font{% if settings.uppercase_caption %} uppercase{% else %} none-uppercase{% endif %}">{{ block.settings.info_tooltip }}</span>
                {% endif %}
            </span>
        </label>
    {% endif %}
    {% if options.size > 0 %}
        <div class="select flex--row align-center 
            {{ block.settings.text_style }}{% if block.settings.text_uppercase %} uppercase{% endif %}{% if block.settings.text_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                <select id="Option-{{ block.id }}-{{ forloop.index0 }}"
                class="select input  input-style--{{ settings.variant_input_size }}{% if block.settings.text_bolder_font %}bold{% endif %}"
                name="properties[{{ block.settings.option_name }}]"
                form="{{ product_form_id }}"
                >
                {%- for option in options -%}
                    <option id="{{ block.id }}-{{ block.settings.option_name }}-{{ forloop.index0 }}"
                        value="{{ option | escape }}" {% if forloop.first %}selected="selected"{% endif %}>
                        {{- option -}}
                    </option>
                {%- endfor -%}
                </select>
                <div class="select-icon flex--row align-center">
                    {%- render 'glyphs_arrows', icon: 'chevron-down' -%}
                </div>
        </div>
    {% endif %}
</custom-options>