<custom-options class="custom-options custom-options--{{ block.id }} flex--column product-form__input" style="--spacing: {{ block.settings.top_spacing }};--mobile-spacing: {{ block.settings.mobile_top_spacing }};" {{ block.shopify_attributes }}>
    {% style %}
        .custom-options--{{ block.id }} {
            --swatches-radius: {{ block.settings.swatches_radius }};
            --custom-swatch-width: {{ block.settings.swatch_size }}px;
        }
    {% endstyle %}
    {% liquid 
      assign product_form_id = 'product-form-' | append: section.id
      assign options = block.settings.options | split: ','
      assign default_option = ''
      if settings.show_selected_option
        for option in options
            if forloop.first
                assign default_option = option
                break
            endif
        endfor
      endif
    %}
    {% if settings.show_label and block.settings.option_label != blank %}
        <p class="form__label {{ block.settings.label_style }}{% if block.settings.label_uppercase %} uppercase{% endif %}{% if block.settings.label_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
            <span class="form__label-name">
                {% if block.settings.label_bolder_font %}<b>{% endif %}{{ block.settings.option_label }}{% if block.settings.label_bolder_font %}</b>{% endif %}
                {% if block.settings.info_tooltip != blank %}
                    <span class="tooltip-icon icon icon--small">{%- render 'glyphs_signs', icon: 'help' -%}</span>
                    <span class="tooltip-text caption-font{% if settings.uppercase_caption %} uppercase{% else %} none-uppercase{% endif %}">{{ block.settings.info_tooltip }}</span>
                {% endif %}
            </span>
            {% if settings.show_selected_option %} 
                {% if block.settings.label_bolder_font %}<b>{% endif %}
                <span class="current-option" data-selected-custom-option>&#x2014; {{  default_option }}</span>
                {% if block.settings.label_bolder_font %}</b>{% endif %}
            {% endif %}
        </p>
    {% endif %}
    {% if options.size > 0 %}
    <div class="form__variants layout-row {{ block.settings.text_style }}{% if block.settings.text_uppercase %} uppercase{% endif %}{% if block.settings.text_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
        {% for option in options %}
            <input type="radio" id="{{ block.id }}-{{ block.settings.option_name }}-{{ forloop.index0 }}"
            name="properties[{{ block.settings.option_name }}]"
            value="{{ option | escape }}"
            {% if value.selected or forloop.first %}checked{% endif %}
            form="{{ product_form_id }}"
            >
            <label for="{{ block.id }}-{{ block.settings.option_name }}-{{ forloop.index0 }}" class="color__swatch color__swatch--color" 
                style="--swatch-background: {{ option }}; --swatch-background-color: {{ option }};">
                <span class="color__swatch-dot color__swatch-dot--color"></span>
                <span class="color__swatch-name">{% if block.settings.text_bolder_font %}<b>{% endif %}{{ value }}{% if block.settings.text_bolder_font %}</b>{% endif %}</span>
                <span class="color__swatch-tooltip caption-font{% if settings.uppercase_caption %} uppercase{% else %} none-uppercase{% endif %}">{{ option }}</span>
            </label>
        {% endfor %}
    </div>
    {% endif %}
</custom-options>