{%- liquid
    assign sort_by = results.sort_by | default: results.default_sort_by
    assign total_active_values = 0
    if results.url
      assign results_url = results.url
    else 
      assign terms = results.terms | escape
      assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
    endif
  
    if enable_filtering
      assign price_range_active = false
      for filter in results.filters
        if filter.type == "price_range"
          if filter.min_value.value != nil or filter.max_value.value != nil
            assign price_range_active = true
          endif
        endif
        assign total_active_values = total_active_values | plus: filter.active_values.size
      endfor
    endif
    assign default_presentation = 'text'

    assign uppercase_label = false
    if label_style == 'section-heading' and settings.uppercase_section_headings
        assign uppercase_label = true
    elsif label_style == 'secondary-heading' and settings.uppercase_secondary_headings
        assign uppercase_label = true
    elsif label_style == 'subheading-font' and settings.uppercase_subheadings
        assign uppercase_label = true
    elsif label_style == 'body-font' and settings.uppercase_body
        assign uppercase_label = true
    elsif label_style == 'caption-font' and settings.uppercase_caption
        assign uppercase_label = true
    endif
-%}

{% if filter_type != 'drawer' %}
{% style %}
    @media screen and (min-width: 769px) {
        #shopify-section-{{ section.id }} .drawer.color-{{ settings.drawer_color_scheme }} {
            --layout-bg-color: {{ section.settings.color_scheme.settings.layout_background_color.red }},{{ section.settings.color_scheme.settings.layout_background_color.green }},{{ section.settings.color_scheme.settings.layout_background_color.blue }};
            {% if section.settings.color_scheme.settings.layout_background_gradient != empty %}
            --bg-gradient: {{ section.settings.color_scheme.settings.layout_background_gradient }};
            {% else %}
            --bg-gradient: {{ section.settings.color_scheme.settings.layout_background_color }};
            {% endif %}
            --layout-text-color: {{ section.settings.color_scheme.settings.layout_text_color.red }},{{ section.settings.color_scheme.settings.layout_text_color.green }},{{ section.settings.color_scheme.settings.layout_text_color.blue }};
            --layout-link-color: {{ section.settings.color_scheme.settings.layout_link_color.red }},{{ section.settings.color_scheme.settings.layout_link_color.green }},{{ section.settings.color_scheme.settings.layout_link_color.blue }};
            --layout-highlighted-background: {{ section.settings.color_scheme.settings.layout_highlighted_background.red }},{{ section.settings.color_scheme.settings.layout_highlighted_background.green }},{{ section.settings.color_scheme.settings.layout_highlighted_background.blue }};
            --layout-accent-color: {{ section.settings.color_scheme.settings.layout_accent_color.red }},{{ section.settings.color_scheme.settings.layout_accent_color.green }},{{ section.settings.color_scheme.settings.layout_accent_color.blue }};
            --popover-bg-color: {{ section.settings.color_scheme.settings.popover_background_color.red }},{{ section.settings.color_scheme.settings.popover_background_color.green }},{{ section.settings.color_scheme.settings.popover_background_color.blue }};
            --popover-text-color: {{ section.settings.color_scheme.settings.popover_text_color.red }},{{ section.settings.color_scheme.settings.popover_text_color.green }},{{ section.settings.color_scheme.settings.popover_text_color.blue }};
            --shadow-color: {{ section.settings.color_scheme.settings.shadow_color.red }},{{ section.settings.color_scheme.settings.shadow_color.green }},{{ section.settings.color_scheme.settings.shadow_color.blue }};
            --button-bg-color: {{ section.settings.color_scheme.settings.button_background_color.red }},{{ section.settings.color_scheme.settings.button_background_color.green }},{{ section.settings.color_scheme.settings.button_background_color.blue }};
            --button-label-color: {{ section.settings.color_scheme.settings.button_label_color.red }},{{ section.settings.color_scheme.settings.button_label_color.green }},{{ section.settings.color_scheme.settings.button_label_color.blue }};
            --button-hover-color: {{ section.settings.color_scheme.settings.button_hover_color.red }},{{ section.settings.color_scheme.settings.button_hover_color.green }},{{ section.settings.color_scheme.settings.button_hover_color.blue }};
            --lines-color: {{ section.settings.color_scheme.settings.lines_color.red }},{{ section.settings.color_scheme.settings.lines_color.green }},{{ section.settings.color_scheme.settings.lines_color.blue }};
        }
    }
{% endstyle %}
{% endif %}
  
<modal-window>
    <facet-filters-form class="facets-container {{ section.settings.grid_style }}-grid facets-container--{{ filter_type }} body-font{% if settings.uppercase_body %} uppercase{% endif %} {% if disable_max_width %}disable-max-width{% endif %}{% if collection_title and filter_type == 'drawer' and section.settings.collection_title != 'hide' %} with-collection-title collection-title--{{ section.settings.collection_title }}{% endif %}">
        {% if collection_title and filter_type == 'drawer' and section.settings.collection_title == 'center' %}<div>{% endif %}
        <button class="button {{ section.settings.drawer_button_style }}-button facets__button icon-button body-font button--secondary
            {% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% else %} none-uppercase{% endif %}
            {% if filter_type != 'drawer' %}mobile-facets{% endif %}" data-modal-toggle>
            <span class="facets__button-icon icon--large flex--row">
                {%- render 'glyphs_interface', icon: 'filter' -%}
            </span>
            <span class="facets__button-label facets__button-label--desktop">
                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}            
                    {{ section.settings.drawer_button_label }}
                {% if settings.bolder_secondary_buttons_font %}</b>{% endif %}  
            </span>
            {% if section.settings.mobile_drawer_button_label != blank %}
            <span class="facets__button-label facets__button-label--mobile">
                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}            
                    {{ section.settings.mobile_drawer_button_label }}
                {% if settings.bolder_secondary_buttons_font %}</b>{% endif %}  
            </span>
            {% endif %}
            <span id="ProductCount--{{ section.id }}" class="facets__button-label-count">            
            {%- liquid 
                assign active_filters = 0
                if section.id contains 'product-grid'
                assign filters = collection.filters
                elsif section.id contains 'search'
                assign filters = search.filters
                endif
            -%}
                {%- for filter in filters -%}
                    {%- if filter.active_values.size > 0 or filter.min_value.value != nil or filter.max_value.value != nil -%}
                        {% liquid 
                        assign price_value = 0
                        if filter.min_value.value != nil or filter.max_value.value != nil
                            assign price_value = 1
                        endif 
                        assign active_filters_size = filter.active_values | size
                        assign active_filters = active_filters | plus: active_filters_size | plus: price_value
                        %}
                    {%- endif -%}
                {%- endfor -%}

                {%- unless active_filters == 0 -%}
                    <div class="results-count">{{ active_filters }}</div>
                {%- endunless -%}
            </span>
        </button>
        {% if collection_title and filter_type == 'drawer' and section.settings.collection_title == 'center' %}</div>{% endif %}
        {% if collection_title and filter_type == 'drawer' and section.settings.collection_title != 'hide' %}
        <div class="collection-title {{ section.settings.heading_style }}{% if uppercase_heading %} uppercase{% endif %}{% if section.settings.collection_title == 'center' %} center{% endif %}"><span>{{ results.title | escape }}</span></div>
        {% endif %}
 
        <form id="FacetFiltersFormMobile" class="facets__wrapper {% if enable_filtering == false %}facets__wrapper--flex-end{% endif %}">
            {% if enable_filtering %}
                <div class="facets-header__wrapper">
                    <div class="facets-header__container flex--row">
                        <div class="product-count" role="status">
                            <p id="ProductCount--{{ section.id }}" class="product-count__text">
                            {%- liquid
                                if results.results_count
                                if results.results_count == 1
                                    echo 'templates.search.results_with_count.one' | t: terms: results.terms, count: results.results_count
                                else
                                    echo 'templates.search.results_with_count.other' | t: terms: results.terms, count: results.results_count
                                endif
                                elsif results.products_count == results.all_products_count
                                if results.products_count == 1
                                    echo 'general.facets.product_count_simple.one' | t: count: results.products_count
                                else
                                    echo 'general.facets.product_count_simple.other' | t: count: results.products_count
                                endif
                                else
                                if results.products_count == 1
                                echo 'general.facets.product_count.one' | t: product_count: results.products_count, count: results.all_products_count
                                else
                                echo 'general.facets.product_count.other' | t: product_count: results.products_count, count: results.all_products_count
                                endif
                                endif
                            -%}
                            </p>
                        </div>
                        <div class="facets__sorting">
                            <div class="sorting">
                                <div class="facet-filters__field flex--row">
                                <label class="filter-group-label" for="SortBy">{{ 'general.facets.sort_by_label' | t }}</label>
                                <div class="select flex--row align-center">
                                    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                                    <select name="sort_by" aria-label="{{ 'general.facets.sort_by_label' | t }}" class="facet-filters__sort select__select sorting__select input-style--{{ section.settings.dropdown_style }}" id="SortBy" aria-describedby="a11y-refresh-page-message">
                                    {%- for option in results.sort_options -%}
                                        <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                    {%- endfor -%}
                                    </select>
                                    <div class="select-icon flex--row align-center">
                                        {%- render 'glyphs_arrows', icon: 'chevron-down' -%}
                                    </div>
                                    <div class="sort-icon-mobile icon--large flex--row align-center">
                                        {%- render 'glyphs_interface', icon: 'sorting-arrows' -%}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div> 
                        {% render 'grid-switcher', 
                            enable_secondary_grid : section.settings.enable_secondary_grid, 
                            enable_preview_grid: section.settings.enable_preview_grid,
                            default_grid_style: section.settings.grid_style,
                            secondary_grid_style: section.settings.secondary_grid_style,
                            preview_grid_style: section.settings.preview_grid_style,  
                        %}
                    </div>
                </div>
                <div class="drawer hide-scrollbar drawer--{{ section.settings.drawer_position }} {% if settings.modal_enable_shadow %}modal--shadow{% endif %} {% if settings.modal_border %}modal--border{% endif %} filter-form filter-form--{{ filter_type }} modal color-{{ settings.drawer_color_scheme }}">
                    <div class="button-wrapper {% if filter_type != 'drawer' %}mobile-facets{% endif %}">
                            <button type="button" class="button-close close-popup icon--large" aria-label="{{ 'accessibility.close' | t }}" data-modal-toggle>
                                {%- render 'glyphs_interface', icon: 'close' -%}
                            </button>
                        </div>
                    <div class="scroll-area hide-scrollbar">
                        <div class="filter-form__wrapper">
                            <div class="filter-form__title filter__label subheading-font{% if settings.uppercase_subheadings %} uppercase{% else %} none-uppercase{% endif %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                                {% if settings.bolder_subheadings_font %}<b>{% endif %}{{ 'general.facets.form_title' | t }}{% if settings.bolder_subheadings_font %}</b>{% endif %}
                            </div>
                            <div class="active-facets-drawer">
                                <div class="active-facets {% if total_active_values == 0 and price_range_active == false %} hidden{% endif %}">
                                    {%- for filter in results.filters -%}
                                    {%- for value in filter.active_values -%}
                                        <facet-remove>
                                        <a class="active-facets__button" href="{{ value.url_to_remove }}">
                                            {%- render 'glyphs_interface', icon: 'close' -%}
                                            {{ value.label | escape }}
                                        </a>
                                        </facet-remove>
                                    {%- endfor -%}
                                    {% if filter.type == "price_range" %}
                                        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                                        <facet-remove>
                                            <a class="active-facets__button" href="{{ filter.url_to_remove }}">
                                                {%- render 'glyphs_interface', icon: 'close' -%}
                                                <span dir="ltr">{% if filter.min_value.value != nil %}{{ filter.min_value.value | money_without_trailing_zeros }}{% else %}{{ 0 | money_without_trailing_zeros }}{% endif %} &#8209; {% if filter.max_value.value != nil %}{{ filter.max_value.value | money_without_trailing_zeros }}{% else %}{{ filter.range_max | money_without_trailing_zeros }}{% endif %}</span>
                                            </a>
                                        </facet-remove>
                                        {%- endif -%}
                                    {% endif %}
                                    {%- endfor -%}
                                    <facet-remove class="facets__clear-all">
                                    <a href="{{ results_url }}" class="active-facets__button active-facets__button--clear">
                                        {{ 'general.facets.reset_all' | t }}
                                    </a>
                                    </facet-remove>
                                </div>
                            </div>
                            <div class="facet-filters-form-wrapper">
                                <div class="facets">
                                    <div class="facets__inner">
                                        <div class="facets__main">
                                            {%- for filter in results.filters -%}
                                                {% liquid 
                                                    assign presentation = filter.presentation | default: default_presentation
                                                %}
                                                {% case filter.type %}
                                                    {% when 'boolean' or 'list' %}
                                                        {% liquid 

                                                            assign pills_labels = settings.pills_label | downcase | strip | split: ','
                                                            assign color_swatches_labels = settings.color_swatches_label | downcase  | strip | split: ','
                                                            assign thumbnail_swatches_labels = settings.thumbnail_swatches_label | downcase | strip | split: ','

                                                            assign layout_row_labels = settings.filter_row | downcase | strip | split: ','
                                                            assign layout_two_columns_labels = settings.filter_two_columns | downcase | strip | split: ','

                                                            assign open_collapsible_labels = section.settings.open_collapsible_label | downcase | strip | split: ','
                                                        
                                                            assign filter_label = filter.label | downcase
                                                            assign swatch = false
                                                            assign thumbnail = false
                                                            assign pill = false
                                                            assign layout_row = false
                                                            assign layout_two_columns = false
                                                            assign open_collapsible = false

                                                            if presentation == 'image'
                                                                assign thumbnail = true
                                                            endif
                                                            if presentation == 'swatch'
                                                                assign swatch = true
                                                                for label in pills_labels
                                                                    assign label_strip = label | strip
                                                                    if filter_label == label_strip
                                                                        assign pill = true
                                                                        break
                                                                    endif
                                                                endfor
                                                            endif
                                                            if presentation == 'text'
                                                                for label in pills_labels
                                                                    assign label_strip = label | strip
                                                                    if filter_label == label_strip
                                                                        assign pill = true
                                                                        break
                                                                    endif
                                                                endfor

                                                                for label in color_swatches_labels
                                                                    assign label_strip = label | strip
                                                                    if filter_label == label_strip
                                                                        assign swatch = true
                                                                        break
                                                                    endif
                                                                endfor

                                                                for label in thumbnail_swatches_labels
                                                                    assign label_strip = label | strip
                                                                    if filter_label == label_strip
                                                                        assign thumbnail = true
                                                                        break
                                                                    endif
                                                                endfor
                                                                if swatch and thumbnail
                                                                    assign swatch = false
                                                                    assign thumbnail = true
                                                                endif
                                                            endif

                                                            for label in layout_row_labels
                                                                assign label_strip = label | strip
                                                                if filter_label == label_strip
                                                                    assign layout_row = true
                                                                    break
                                                                endif
                                                            endfor
                                                            for label in layout_two_columns_labels
                                                                assign label_strip = label | strip
                                                                if filter_label == label_strip
                                                                    assign layout_two_columns = true
                                                                    break
                                                                endif
                                                            endfor
                                                            for label in open_collapsible_labels
                                                                assign label_strip = label | strip
                                                                if filter_label == label_strip
                                                                    assign open_collapsible = true
                                                                    break
                                                                endif
                                                            endfor
                                                        %}
                                                        <accordion-toggle data-index="mobile-{{ forloop.index }}">
                                                            <div class="accordion-toggle filter-group facets__details js-filter{% if open_collapsible %} open_collapsible is-open{% endif %}" id="Details-mobile-{{ filter.param_name | escape }}-{{ section.id }}" data-index="mobile-{{ forloop.index }}" tabindex="0">
                                                                <div class="facets__summary accordion__summary" role="button">
                                                                <span class="summary__title {% if filter_type == 'horizontal' %}input-style--{{ section.settings.dropdown_style }} dropdown--{{ section.settings.dropdown_width }}{% endif %}">
                                                                    <span class="summary__title-name filter-group-label filter__label {{ label_style }}{% if uppercase_label %} uppercase{% else %} none-uppercase{% endif %}{% if label_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                                                                        {% if label_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ filter.label | escape }}{% if label_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                                                                    <div class="filter-group-icon icon--large icon-accordion--close">
                                                                        {%- render 'glyphs_interface', icon: 'plus' -%}
                                                                    </div>
                                                                    <div class="filter-group-icon icon--large icon-accordion--open">
                                                                        {%- render 'glyphs_interface', icon: 'minus' -%}
                                                                    </div>
                                                                    </span>
                                                                </span>
                                                                </div>
                                                                <div class="accordion__panel facets__submenu filter-group-display">
                                                                    {% if filter_type == 'horizontal' %}
                                                                    <p class="facets__title filter__label subheading-font{% if settings.uppercase_subheadings %} uppercase{% else %} none-uppercase{% endif %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                                                                        {% if settings.bolder_subheadings_font %}<b>{% endif %}{{ 'general.facets.choose_option' | t: option: filter.label }}{% if settings.bolder_subheadings_font %}</b>{% endif %}
                                                                    </p>
                                                                    {% endif %}
                                                                    {%- if filter.operator == 'AND' and section.settings.filter_and_operator_subtitle != blank -%}
                                                                        <span class="facets__subtitle">{{ section.settings.filter_and_operator_subtitle | escape }}</span>
                                                                    {%- endif -%}
                                                                    {% liquid 
                                                                        assign row_direction = false
                                                                        if swatch and layout_row and pill == false or thumbnail and layout_row and pill == false
                                                                            assign row_direction = true
                                                                        endif
                                                                        if thumbnail
                                                                            assign row_direction = true
                                                                        endif
                                                                    %}
                                                                    <ul class="accordion__content facets__list list-unstyled{% if row_direction %} facets__list--row{% endif %}" role="list">
                                                                        {%- for value in filter.values -%}
                                                                            {%- liquid
                                                                                if swatch or thumbnail
                                                                                assign swatch_file_extension = 'png'
                                                                                endif
                                                                                if presentation == 'text'
                                                                                    assign color_file_name = value.value | replace: ' ', '_' | append: '.' | append: swatch_file_extension
                                                                                    assign color_value = value.value | replace: ' ', '_' | downcase
                                                                                    assign color_swatch_fallback = value.value | downcase | split: ' ' | last
                                                                                    assign img_file = images[color_file_name] | downcase
                                                                                    assign color_image = images[color_file_name] | split: '/' | last | file_img_url: '248x248' | prepend: 'https:' | split: '?' | first 
                                                                                    assign value_downcase = value.value | downcase | strip
                                                                                    assign swatch_config = settings.swatch_config | newline_to_br | split: '<br />'
                                                                                    for swatch in swatch_config
                                                                                        assign swatch_parts = swatch | strip | split: ':'
                                                                                        assign swatch_name = swatch_parts.first | downcase | strip
                                                                                        if swatch_name == value_downcase
                                                                                            assign swatch_value = swatch_parts.last | strip
                                                                                            if swatch_value contains '#'
                                                                                                assign color_swatch_fallback = swatch_value
                                                                                            else
                                                                                                assign color_swatch_fallback = value.value | downcase | split: ' ' | last | handle
                                                                                                if value.swatch.color
                                                                                                    assign color_swatch_fallback = 'rgb(' | append: value.swatch.color.rgb | append: ')'
                                                                                                endif
                                                                                            endif
                                                                                            break
                                                                                        endif
                                                                                    endfor
                                                                                endif
                                                                                assign swatch_value = null
                                                                                if presentation == 'swatch'
                                                                                    if value.swatch.image
                                                                                        assign image_url = value.swatch.image | image_url: width: 50
                                                                                        assign swatch_value = 'url(' | append: image_url | append: ')'
                                                                                        assign swatch_focal_point = value.swatch.image.presentation.focal_point
                                                                                    elsif value.swatch.color
                                                                                        assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
                                                                                    endif
                                                                                endif
                                                                                if presentation == 'image'
                                                                                    assign image_url = value.image | image_url: width: 300
                                                                                    assign swatch_value = 'url(' | append: image_url | append: ')'
                                                                                endif
                                                                            -%}
                                                                            
                                                                            <li class="facets__item list-menu__item filter-group-display__list-item {% if thumbnail %} mobile-facets__item--thumbnail{% endif %}{% if swatch and layout_row and pill == false or thumbnail and layout_row and pill == false %} facets__item--row{% endif %}{% if filter_type == 'drawer' and layout_two_columns and thumbnail == false %} facets__item--two-columns{% endif %}">
                                                                                <label for="Filter-{{ filter.label | escape }}-mobile-{{ forloop.parentloop.index }}-{{ forloop.index }}" class="facets__label{% if value.count == 0 and value.active == false %} facets__label--disabled{% endif %} {% if thumbnail %}flex--column{% else %}flex--row{% endif %} filter-group-option{% if thumbnail %} filter-group-option--thumbnail{% endif %}{% if swatch %} filter-group-option--swatch{% endif %}{% if pill and thumbnail == false %} filter-group-option--pill{% endif %} input-style--{{ settings.input_size }}"
                                                                                    {% if swatch and layout_row and pill == false or thumbnail and layout_row and pill == false %} title="{{ value.label | escape }}"{% endif %}>
                                                                                    {% if pill and swatch and images[color_file_name] != blank or color_swatch_fallback != blank %}
                                                                                        <span class="facets__color-pill" {% unless presentation == 'swatch' or presentation == 'image' and value.image %}{% if swatch or thumbnail %}style="{% if images[color_file_name] != blank and img_file contains color_value %}--swatch-background-image: url({{ color_image }});{% else %} --swatch-background-color: {{ color_swatch_fallback | default: 'white' }};{% endif %}"{% endif %}{% endunless %}
                                                                                        {% if presentation == 'swatch'%}style="--swatch--background: {{ swatch_value }};{{ value.swatch.color.first }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% else %}  --swatch-focal-point: center{% endif %}"{% endif %}></span>
                                                                                    {% endif %}
                                                                                    <input class="facets__checkbox facets__checkbox--{{ presentation }} {%  if presentation == 'swatch' or presentation == 'image' %}filter-from-app{% endif %} {% if presentation == 'swatch' or presentation == 'image' or swatch and pill == false %}{% unless presentation == 'swatch' and pill  %} mobile-facets__swatch{% endunless %}{% elsif thumbnail %} mobile-facets__thumbnail{% endif %}{% if thumbnail %} mobile-facets__thumbnail--options{% endif %}"
                                                                                    type="checkbox"
                                                                                    name="{{ value.param_name }}"
                                                                                    value="{{ value.value }}"
                                                                                    id="Filter-{{ filter.label | escape }}-mobile-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                                                                                    {% if value.active %}checked="checked"{% endif %}
                                                                                    {% if value.count == 0 and value.active == false %}disabled="disabled"{% endif %}
                                                                                    {%  if presentation == 'swatch' or presentation == 'image' and value.image %}style="--swatch--background: {{ swatch_value }};{{ value.swatch.color.first }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% else %}  --swatch-focal-point: center{% endif %}"{% else %}
                                                                                    {% if swatch or thumbnail %}style="{% if images[color_file_name] != blank and img_file contains color_value %}--swatch-background-image: url({{ color_image }});{% else %} --swatch-background-color: {{ color_swatch_fallback | default: 'white' }};{% endif %}"{% endif %}{% endif %}
                                                                                />
                                                                                <span class="swatch__label{% if thumbnail %} caption-font{% if settings.uppercase_caption %} uppercase{% endif %}{% endif %}">{{ value.label | escape }} ({{ value.count }})</span>
                                                                                </label>
                                                                            </li>
                                                                        {%- endfor -%}
                                                                    </ul>
                                                                    {% if filter_type == 'horizontal' %}
                                                                        <div class="accordion__footer modal--shadow">
                                                                            <facet-remove>
                                                                                <a href="{{ filter.url_to_remove }}" class="facets__reset button outlined-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}">
                                                                                    {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'general.facets.reset' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                                                                                </a>
                                                                            </facet-remove>
                                                                            <button type="button" {% if filter.active_values.size == 0 %}disabled{% endif %} class="facets__save button solid-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}">
                                                                                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'general.facets.save' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                                                                            </button>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </accordion-toggle>
                                                    {% when 'price_range' %}
                                                        <accordion-toggle data-index="mobile-{{ forloop.index }}">
                                                            {% liquid
                                                                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                                                                assign uses_comma_decimals = false
                                                                
                                                                if currencies_using_comma_decimals contains cart.currency.iso_code
                                                                    assign uses_comma_decimals = true
                                                                endif
                                        
                                                                assign filter_range_max = filter.range_max
                                                                assign filter_min_value = 0
                                                                assign filter_max_value = filter_range_max
                                            
                                                                if filter.min_value.value != nil
                                                                    assign filter_min_value = filter.min_value.value
                                                                endif
                                            
                                                                if filter.max_value.value != nil
                                                                    assign filter_max_value = filter.max_value.value
                                                                endif
                                            
                                                                assign progress_lower = filter_min_value | times: 100.0 | divided_by: filter_range_max
                                                                assign progress_upper = filter_max_value | times: 100.0 | divided_by: filter_range_max
                                            
                                                                assign filter_range_max_amount = filter_range_max | divided_by: 100.0 | ceil
                                                                assign filter_min_value_amount = filter_min_value | money_without_trailing_zeros | remove: cart.currency.symbol
                                                                assign filter_max_value_amount = filter_max_value | money_without_trailing_zeros | remove: cart.currency.symbol
                    
                                                                if uses_comma_decimals
                                                                    assign filter_min_value_amount = filter_min_value_amount | replace: '.', '' | replace: ',', '.'
                                                                    assign filter_max_value_amount = filter_max_value_amount | replace: '.', '' | replace: ',', '.'
                                                                else
                                                                    assign filter_min_value_amount = filter_min_value_amount | replace: ',', ''
                                                                    assign filter_max_value_amount = filter_max_value_amount | replace: ',', ''
                                                                endif

                                                                assign open_collapsible_labels = section.settings.open_collapsible_label | downcase | strip | split: ','
                                                                assign open_collapsible = false
                                                                assign filter_label = filter.label | downcase
                                                                for label in open_collapsible_labels
                                                                    assign label_strip = label | strip
                                                                    if filter_label == label_strip
                                                                        assign open_collapsible = true
                                                                        break
                                                                    endif
                                                                endfor
                                                            %}
                                                            <div class="accordion-toggle filter-group facets__details js-filter{% if open_collapsible %} open_collapsible is-open{% endif %}" id="Details-mobile-{{ filter.param_name | escape }}-{{ section.id }}" data-index="mobile-{{ forloop.index }}" tabindex="0">
                                                                <div class="facets__summary accordion__summary" role="button">
                                                                <span class="summary__title {% if filter_type == 'horizontal' %}input-style--{{ section.settings.dropdown_style }} dropdown--{{ section.settings.dropdown_width }}{% endif %}">
                                                                    <span class="summary__title-name filter-group-label filter__label {{ label_style }}{% if uppercase_label %} uppercase{% else %} none-uppercase{% endif %}{% if label_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                                                                        {% if label_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ filter.label | escape }}{% if label_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                                                                    <div class="filter-group-icon icon--large icon-accordion--close">
                                                                        {%- render 'glyphs_interface', icon: 'plus' -%}
                                                                    </div>
                                                                    <div class="filter-group-icon icon--large icon-accordion--open">
                                                                        {%- render 'glyphs_interface', icon: 'minus' -%}
                                                                    </div>
                                                                    </span>
                                                                </span>
                                                                </div>
                                                                <div class="accordion__panel facets__submenu">
                                                                    {% if filter_type == 'horizontal' %}
                                                                    <p class="facets__title filter__label subheading-font{% if settings.uppercase_subheadings %} uppercase{% else %} none-uppercase{% endif %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                                                                        {% if settings.bolder_subheadings_font %}<b>{% endif %}{{ 'general.facets.choose_option' | t: option: filter.label }}{% if settings.bolder_subheadings_font %}</b>{% endif %}
                                                                    </p>
                                                                    {% endif %}
                                                                    <price-range class="facets__price price-range" data-min="0" data-max="{{ filter_range_max_amount }}" style="--progress-lower:{{ progress_lower }}%; --progress-upper:{{ progress_upper }}%;">
                                                                        <div class="fields">
                                                                            <div class="field">
                                                                                <label class="field__label filter-group-option caption-font{% if settings.uppercase_caption %} uppercase{% endif %}{% if settings.input_size == 'big' %} input-style--big{% endif %}" for="Mobile-Filter-{{ filter.label | escape }}-GTE">{{ 'general.facets.from' | t }}</label>
                                                                                <div class="field__item input--text input-style--{{ settings.input_size }}">
                                                                                    <span class="field__currency">{{ cart.currency.symbol }}</span>
                                                                                    <input class="field__input price-range__input--min"
                                                                                        name="{{ filter.min_value.param_name }}"
                                                                                        id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                                                                                        type="number"
                                                                                        dir="ltr"
                                                                                        placeholder="0"
                                                                                        min="0"
                                                                                        max="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                                                                        {%- if filter.min_value.value -%}value="{{ filter_min_value_amount }}"{%- endif -%}
                                                                                    />
                                                                                </div>
                                                                            </div>
                                                                            <div class="field">
                                                                                <label class="field__label filter-group-option caption-font{% if settings.uppercase_caption %} uppercase{% endif %}{% if settings.input_size == 'big' %} input-style--big{% endif %}" for="Mobile-Filter-{{ filter.label | escape }}-LTE">{{ 'general.facets.to' | t }}</label>
                                                                                <div class="field__item input--text input-style--{{ settings.input_size }}">
                                                                                    <span class="field__currency">{{ cart.currency.symbol }}</span>
                                                                                    <input class="field__input price-range__input--max"
                                                                                    name="{{ filter.max_value.param_name }}"
                                                                                    id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                                                                                    type="number"
                                                                                    dir="ltr"
                                                                                    placeholder="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                                                                    min="0"
                                                                                    max="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                                                                    {%- if filter.max_value.value -%}value="{{ filter_max_value_amount }}"{%- endif -%}
                                                                                    />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="price-range__track-wrapper">
                                                                            <div class="price-range__track-active"></div>
                                                                            <div class="price-range__track-inactive"></div>
                                                                            <div class="price-range__thumbs is-lower" role="slider" aria-valuenow="{{ filter_min_value_amount }}"></div>
                                                                            <div class="price-range__thumbs is-upper" role="slider" aria-valuenow="{{ filter_max_value_amount }}"></div>
                                                                        </div>
                                                                    </price-range>
                                                                    {% if filter_type == 'horizontal' %}
                                                                        <div class="accordion__footer modal--shadow">
                                                                            <facet-remove>
                                                                                <a href="{{ filter.url_to_remove }}" class="facets__reset button outlined-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% else %} none-uppercase{% endif %}">
                                                                                    {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'general.facets.reset' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                                                                                </a>
                                                                            </facet-remove>
                                                                            <button type="button" {% if filter.active_values.size == 0 %}disabled{% endif %} class="facets__save button solid-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% else %} none-uppercase{% endif %}">
                                                                                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'general.facets.save' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                                                                            </button>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </accordion-toggle>
                                                {% endcase %}
                                            {%- endfor -%}
                                        </div>
                                        {%- if search.performed -%}<input type="hidden" name="q" value="{{ search.terms | escape }}"/>{%- endif -%}
                                        {%- if collection.current_vendor or collection.current_type -%}<input type="hidden" name="q" value="{{ collection.current_vendor | escape }}{{ collection.current_type | escape }}"/>{%- endif -%}
                                    </div>
                                    {%- if results.terms -%}
                                    <input type="hidden" name="q" value="{{ results.terms | escape }}"/>
                                    <input name="options[prefix]" type="hidden" value="last"/>
                                    {%- endif -%}
                                    {%- if results.current_vendor or results.current_type -%}
                                    <input type="hidden" name="q" value="{{ results.current_vendor | escape }}{{ results.current_type | escape }}"/>
                                    {%- endif -%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="facets-footer modal--shadow">
                        <button type="button" class="results-toast button button-close solid-button body-font button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% else %} none-uppercase{% endif %}" role="status" data-modal-toggle>
                            <p  class="results-toast__text">{% if settings.bolder_main_buttons_font %}<b>{% endif %}
                            {%- liquid
                                if results.products_count == 1
                                    echo 'general.facets.found_count.one' | t: product_count: results.products_count
                                else
                                    echo 'general.facets.found_count.other' | t: product_count: results.products_count
                                endif
                            -%}
                            {% if settings.bolder_main_buttons_font %}</b>{% endif %}</p>
                            <div class="loading-overlay__spinner hidden">
                                <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            {% endif %}             
        </form>
    </facet-filters-form>
</modal-window>