{% style %}
  .image-block.image-block--{{ block.id }} {
    --image-width: {{ image_settings.image_width }}px;
    --spacing: {{ image_settings.top_spacing }};
    --mobile-spacing: {{ image_settings.mobile_top_spacing }};
    --aspect-ratio: {{ image_settings.image_ratio }};

    {% if image_settings.context_image_radius == 'default' %}
      --context-image-radius: {{ settings.images_and_sections_radius }};
    {% else %}
      --context-image-radius: {{ image_settings.context_image_radius }};
    {% endif %}
  }
  {% if settings.images_loading != 'disable' and image_settings.image_ratio == 'auto' %}
    .image-block.image-block--{{ block.id }} .lazy-image {
      aspect-ratio: var(--asp-rat);
    }
  {% endif %}
{% endstyle %}

{% if image_settings.image_link != blank -%}
  <a
    class="image-block image-block--{{ block.id }} aspect-ratio"
    href="{{ image_settings.image_link }}"
    {% if image_settings.image_target_blank %}
      target="_blank"
    {% endif %}
    {{ block.shopify_attributes }}
  >
{% else %}
  <div
    class="image-block image-block--{{ block.id }} aspect-ratio"
    {{ block.shopify_attributes }}
  >
{% endif %}
{% if image_settings.image %}
  {% if settings.images_loading != 'disable' %}
    <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--asp-rat: {{ image_settings.image.aspect_ratio }}">
  {% endif %}
  <img
    srcset="
      {%- if image_settings.image.width >= 165 -%}{{ image_settings.image | image_url: width: 165 }} 165w,{%- endif -%}
      {%- if image_settings.image.width >= 375 -%}{{ image_settings.image | image_url: width: 375 }} 375w,{%- endif -%}
      {%- if image_settings.image.width >= 550 -%}{{ image_settings.image | image_url: width: 550 }} 550w,{%- endif -%}
      {%- if image_settings.image.width >= 750 -%}{{ image_settings.image | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if image_settings.image.width >= 1100 -%}{{ image_settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
      {%- if image_settings.image.width >= 1500 -%}{{ image_settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
      {%- if image_settings.image.width >= 1700 -%}{{ image_settings.image | image_url: width: 1700 }} 1700w,{%- endif -%}
      {%- if image_settings.image.width >= 2000 -%}{{ image_settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
      {{ image_settings.image | image_url }} {{ image_settings.image.width }}w
    "
    src="{{ image_settings.image | image_url: height: image_settings.image.width }}"
    loading="lazy"
    draggable="false"
    sizes="(max-width: 768px) 100vw, (min-width: calc(100vw - {{ settings.left_and_right_margins }} * 2)) calc(100vw - {{ settings.left_and_right_margins }} * 2), 100vw"
    width="{{ image_settings.image.width }}"
    height="{{ image_settings.image.height }}"
    alt="{{ image_settings.image.alt | default: shop.name | escape }}"
    {% if settings.images_loading != 'disable' %}onload="this.parentNode.classList.add('lazyloaded');" {% endif %}
    class="image-block__item"
    style="object-position: {{ image_settings.image.presentation.focal_point }}"
  >
  {% if settings.images_loading != 'disable' %}
    {% if settings.images_loading != 'fade_scale' %}
    <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
      <img 
      alt="{{ image_settings.image.alt | escape }}" 
      src="{{ image_settings.image | image_url: width: 10 }}"
      draggable="false"
      width="10" 
      height="10">
    </div>
    {% endif %}
</figure>
{% endif %}
{% else %}
  {{ 'collection-3' | placeholder_svg_tag: 'placeholder-svg image-block__item' }}
{% endif %}
{% if image_settings.image_link != blank %}</a>{% else %}</div>{% endif %}
