{%- liquid
  unless color_location
    assign color_location = location
  endunless
-%}
<{% if location.settings.info_card_link != blank %}a href="{{ location.settings.info_card_link }}"{% if location.settings.info_card_target_blank %} target="_blank"{% endif %}{% else %}div{% endif %} class="info-card color-{{ color_location.settings.info_card_color_scheme }}{% if color_location.settings.info_card_color_scheme != parent_color_scheme %} with-color{% endif %}{% if full_width %} info-card--full-width{% endif %}">
    <div class="info-card__wrapper {% if block_style %} info-card__wrapper--{{ location.id }}{% endif %} flex--column{% if location.settings.info_card_center_text %} center{% else %} left{% endif %}">
        {%- if location.settings.info_card_heading != blank or location.settings.info_card_subheading != blank or location.settings.info_card_text != blank -%}
        {% if block_style %}
          {% style %}
            .info-card__wrapper--{{ location.id }} {
              {%- if location.settings.info_card_button_radius == 'default' -%}
                --info-button-border-radius: {{ settings.buttons_radius }};
              {%- else -%}
                --info-button-border-radius: {{ location.settings.info_card_button_radius }};
              {%- endif -%}
            }
          {% endstyle %}
        {% endif %}
        <div class="info-card__header flex--column">
            {%- if location.settings.info_card_subheading != blank -%}
                {%- liquid
                  assign uppercase_subheading = false
                  if location.settings.info_card_subheading_style == 'section-heading' and settings.uppercase_section_headings
                    assign uppercase_subheading = true
                  elsif location.settings.info_card_subheading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                    assign uppercase_subheading = true
                  elsif location.settings.info_card_subheading_style == 'subheading-font' and settings.uppercase_subheadings
                      assign uppercase_subheading = true
                  elsif location.settings.info_card_subheading_style == 'body-font' and settings.uppercase_body
                      assign uppercase_subheading = true
                  elsif location.settings.info_card_subheading_style == 'caption-font' and settings.uppercase_caption
                      assign uppercase_subheading = true
                  endif
                -%}
                <{{ location.settings.info_card_subheading_tag }} class="info-card__subheading {{ location.settings.info_card_subheading_style }}{% if uppercase_subheading %} uppercase{% endif %}{% if location.settings.info_card_subheading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                  {% if location.settings.info_card_subheading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ location.settings.info_card_subheading }}{% if location.settings.info_card_subheading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                </{{ location.settings.info_card_subheading_tag }}>
            {%- endif -%}
            {%- if location.settings.info_card_heading != blank -%}
            {%- liquid
                assign uppercase_heading = false
                if location.settings.info_card_heading_style == 'caption-font' and settings.uppercase_caption
                    assign uppercase_heading = true
                elsif location.settings.info_card_heading_style == 'body-font' and settings.uppercase_body
                    assign uppercase_heading = true
                elsif location.settings.info_card_heading_style == 'subheading-font' and settings.uppercase_subheadings
                    assign uppercase_heading = true
                elsif location.settings.info_card_heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                    assign uppercase_heading = true
                elsif location.settings.info_card_heading_style == 'section-heading' and settings.uppercase_section_headings
                    assign uppercase_heading = true
                elsif location.settings.info_card_heading_style == 'page-title' and settings.uppercase_page_titles
                    assign uppercase_heading = true
                endif

                assign heading_text = location.settings.info_card_heading   
                assign processed_text = ''
                assign split_text = heading_text | split: '['

                for part in split_text
                  if part contains ']'
                    assign split_bracket = part | split: ']'
                    assign highlight_text = split_bracket[0]
                    assign after_bracket = split_bracket[1]
                    assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                  else
                    assign processed_text = processed_text | append: part
                  endif
                endfor

                assign final_text = ''
                assign split_text_curly = processed_text | split: '{'

                for part in split_text_curly
                  if part contains '}'
                    assign split_curly = part | split: '}'
                    assign styled_text = split_curly[0]
                    assign after_curly = split_curly[1]
                    assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                  else
                    assign final_text = final_text | append: part
                  endif
                endfor
              -%}
              <{{ location.settings.info_card_heading_tag }} class="info-card__heading custom-heading {{ location.settings.info_card_heading_style }}{% if uppercase_heading %} uppercase{% endif %}{% if location.settings.info_card_heading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                {% if location.settings.info_card_heading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if location.settings.info_card_heading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
              </{{ location.settings.info_card_heading_tag }}>                      
            {%- endif -%}
            {% if location.settings.info_card_text != blank %}
                {%- liquid
                  assign uppercase_text = false
                  if location.settings.info_card_text_style == 'secondary-heading' and settings.uppercase_secondary_headings
                    assign uppercase_text = true
                  elsif location.settings.info_card_text_style == 'section-heading' and settings.uppercase_section_headings
                    assign uppercase_text = true
                  elsif location.settings.info_card_text_style == 'page-title' and settings.uppercase_page_titles
                    assign uppercase_text = true
                  elsif location.settings.info_card_text_style == 'subheading-font' and settings.uppercase_subheadings
                      assign uppercase_text = true
                  elsif location.settings.info_card_text_style == 'body-font' and settings.uppercase_body
                      assign uppercase_text = true
                  elsif location.settings.info_card_text_style == 'caption-font' and settings.uppercase_caption
                      assign uppercase_text = true
                  endif
                -%}
                <div class="info-card__text richtext rte link-underline {{ location.settings.info_card_text_style }}
                  {% if location.settings.info_card_text_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.uppercase_subheadings %} uppercase{% endif %}{% if settings.bolder_subheadings_font %} bold{% endif %}
                  {% else %}{% if uppercase_text %} uppercase{% endif %}{% endif %}">
                  <object>{{ location.settings.info_card_text }}</object>
                </div>
              {% endif %}
        </div>
        {%- endif -%}
        {%- if location.settings.info_card_link != blank -%}
            <object class="info-card__button-wrapper"><a href="{{ location.settings.info_card_link }}" {% if location.settings.info_card_target_blank %} target="_blank"{% endif %} class="button info-card__button button--small {{ location.settings.info_card_button_style }}-button icon icon--large">
                {%- render 'glyphs_arrows', icon: 'arrow-right' -%}
            </a></object>
        {%- endif -%}
    </div>
<{% if location.settings.info_card_link != blank %}/a{% else %}/div{% endif %}>