{%- if paginate.parts.size > 0 -%}
  {{ 'component-pagination.css' | asset_url | stylesheet_tag }}

  <div class="pagination-wrapper {{ section.settings.grid_style }}-grid body-font {% if disable_max_width %}disable-max-width{% endif %}">
    {%- if pagination_type == 'click' or pagination_type == 'infinite' -%}
      {%- if paginate.next -%}
        <infinite-scroll class="infinite-scroll flex--row" data-url="{{ paginate.next.url }}" data-trigger="{{ pagination_type }}">
          {%- if pagination_type == 'click' -%}
            <button class="pagination__button button {{ pagination_settings.pagination_button_style }}-button body-font {% if pagination_settings.use_main_button_pagination %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}{% if pagination_settings.pagination_button_icon != blank %} button-block--small-padding button-with-icon{% if pagination_settings.swap_pagination_button_icon %} icon--swap{% endif %}{% endif %}"
               aria-label="{{ pagination_settings.pagination_button_label }}">
               {% if pagination_settings.pagination_button_icon != blank %}
                {%- liquid
                  assign icon_name = pagination_settings.pagination_button_icon | split: '/'
                  if icon_name.size == 3
                      assign file_name = icon_name.first | append: '_' | append: icon_name[1]
                  elsif icon_name.size == 2
                      assign file_name = icon_name.first
                  endif
                  assign icon = icon_name.last
                -%}
                <span class="icon-accordion flex--row {% if pagination_settings.use_main_button_pagination %}icon--large{% else %}icon--small{% endif %}">{% render 'catalog-icons', file_name: file_name, icon: icon %}</span>
              {% endif %}
               <span class="pagination__button-text">
               {% if pagination_settings.use_main_button_pagination %}
                {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ pagination_settings.pagination_button_label }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                {% else %}
                  {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ pagination_settings.pagination_button_label }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
               {% endif %}
              </span>
            </button>
          {% elsif pagination_type == 'infinite' %}
            <button aria-hidden="true"></button>
          {% endif %}
          <div class="loading-overlay__spinner hidden">
            <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </infinite-scroll>
      {%- endif -%}
    {%- else -%}
      {%- unless disable_pagination -%}
        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul class="pagination__list flex--row">
            <li {% unless paginate.previous %}class="pagination__item--disable"{% endunless %}>
                <a href="{% if paginate.previous.url != blank %}{{ paginate.previous.url }}{{ anchor }}{% else %}/{% endif %}" class="pagination__item pagination__item--prev pagination__item-arrow link icon--large" aria-label="{{ 'general.pagination.previous' | t }}">
                  {%- render 'glyphs_arrows', icon: 'arrow-left' -%}
                </a>
            </li>
            <li class="pagination__pages flex--row">
              {%- for part in paginate.parts -%}
                {%- liquid 
                  assign prev_activ_index = paginate.current_page | minus: 1
                -%}
              <div class="pagination__li {% if part.is_link == false and part.title != paginate.current_page %}pagination__li-disabled{% endif %} {% if part.title == paginate.current_page %} pagination__li--current{% endif %}{% if part.title == prev_activ_index %} pagination__li--previous{% endif %}">
                {%- if part.is_link -%}
                  <a href="{{ part.url }}{{ anchor }}" class="pagination__item link" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span class="pagination__item pagination__item--current" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                  {%- else -%}
                    <span class="pagination__item pagination__item--dots">{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </div>
              {%- endfor -%}
            </li>
            <li {% unless paginate.next %}class="pagination__item--disable"{% endunless %}>
                <a href="{{ paginate.next.url }}{{ anchor }}" class="pagination__item pagination__item--next pagination__item-arrow link icon--large" aria-label="{{ 'general.pagination.next' | t }}" >
                  {%- render 'glyphs_arrows', icon: 'arrow-right' -%}
                </a>
            </li> 
          </ul>
        </nav>
      {%- endunless -%}
    {%- endif -%}
  </div>
{%- endif -%}
