{%- liquid
    if section.settings.gallery_size == 4
      assign media_width = 0.33
    elsif section.settings.gallery_size == 5
      assign media_width = 0.42
    elsif section.settings.gallery_size == 6
      assign media_width = 0.50
    elsif section.settings.gallery_size == 7
      assign media_width = 0.58
    elsif section.settings.gallery_size == 8
      assign media_width = 0.66
    elsif section.settings.gallery_size == 9
      assign media_width = 0.75
    endif

    if quick_view
      assign media_width = 0.50
    endif
  
    assign id_append = ''
    if is_duplicate
      assign id_append = '-duplicate'
    endif
    assign media_count = product.media.size

    assign loading_images = ''
    assign onload_script = ''
    if section.index > 2
      assign loading_images = 'lazy'
    endif
    if quick_view
      assign loading_images = 'lazy'
    endif
    if settings.images_loading != 'disable' and quick_view
        assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
    endif
    if settings.images_loading != 'disable' and section.index > 2
        assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
    endif
  -%}

  {% style %}
    #shopify-section-{{ section.id }} .thumbnail-list__item,
    .popup-wrapper__quick-view .thumbnail-list__item {
      --aspect-ratio: {{ thumbnails_media_ratio }};
      --focal-point: {{ thumbnails_focal_point }};

      @media screen and (max-width: 1024px) {
        --aspect-ratio: {{ mobile_thumbnails_media_ratio }};
        --focal-point: {{ mobile_thumbnails_focal_point }};
      }
    }

    {% if show_thumbnails_on_desktop != 'disable' and show_thumbnails_on_mobile == false %}
      #shopify-section-{{ section.id }} .thumbnail-slider,
      .popup-wrapper__quick-view .thumbnail-slider {
        display: block;

        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    {% endif %}

    {% if show_thumbnails_on_desktop == 'disable' and show_thumbnails_on_mobile %}
      #shopify-section-{{ section.id }} .thumbnail-slider,
      .popup-wrapper__quick-view .thumbnail-slider {
        display: none;

        @media screen and (max-width: 1024px) {
          display: block;
        }
      }
    {% endif %}
  {% endstyle %}
  
<media-gallery
    id="MediaGallery-{{ section.id }}{{ id_append }}"
    role="region"
    class="media-gallery"
    aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
    data-desktop-layout="{{ gallery_style }}">
    <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
    {% assign variant_alt = product.selected_or_first_available_variant.image.alt | downcase %}
    {% assign variant_alt = variant_alt | split: '(' | last | split: ')' | first | append: ')' | prepend: '(' %}
    {% liquid 
      assign show_thumbs = false
        if media_count > 1 and show_thumbnails_on_desktop != 'disable'
          assign show_thumbs = true
        endif
      assign show_thumbs_left = false
      if show_thumbs and show_thumbnails_on_desktop == 'left'
        assign show_thumbs_left = true
      elsif show_thumbs and show_thumbnails_on_desktop == 'below_gallery' and gallery_style != 'gallery'
        assign show_thumbs_left = true
      endif
    %}
    <product-gallery id="GalleryViewer-{{ section.id }}{{ id_append }}" class="product-gallery 
      {%- if show_thumbnails_on_mobile %} product-gallery--enable-on_mobile{% endif -%}
      {%- if sticky_thumbnails and gallery_style != 'gallery' and show_thumbnails_on_desktop == 'on_top' %} product-gallery--top-sticky-thumbs{% endif -%}
      {%- if show_thumbs_left and show_thumbs %} product-gallery--thumbs-column{% endif -%}
      {%- if show_thumbs_left or show_thumbnails_on_desktop == 'on_top' %} flex--row{% endif -%}
      {%- if show_thumbnails_on_desktop == 'below_gallery' and show_thumbs_left == false %} flex--column{% endif -%}
    " data-enable-autoplay="{{ section.settings.enable_video_autoplay }}">
      {%- unless is_duplicate -%}
        <a class="skip-to-content-link visually-hidden button solid-button body-font button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}" href="#ProductInfo-{{ section.id }}">
          {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ 'accessibility.skip_to_product_info' | t }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
        </a>
      {%- endunless -%}
      <div class="gallery-slider">
        <ul
          id="Slider-Gallery-{{ section.id }}{{ id_append }}"
          class="product__media-list gallery__grid hide-scrollbar {{ section.settings.grid_style }}-grid-gaps
          {% if product.media.size < 1 %}product__media-list--one_column{% else %}product__media-list--{{ gallery_style }}{% endif %}
          {% if section.settings.show_media_attached_to_variant %} media_attached_to_variant{% endif %}
          {% if only_variant_images %}variant-images{% endif %}
          {% if organize_images %} organize_images{% endif %}
          {% if media_ratio == 'auto' %} gallery__grid-original{% endif %}
          {% if fit_inside %} color-{{ gallery_color_scheme }} {% endif %}
          {% if desktop_media_ratio == 'auto' and gallery_style == 'gallery' %} product__media-list-desktop-original {% endif %} 
          {% if mobile_media_ratio == 'auto' %} product__media-list-mobile-original {% endif %}"
          role="list">
          {%- if product.media.size < 1 and settings.product_placeholder != blank -%}
            <li tabindex="0" class="product__placeholder product__media-item slider__slide--wide">
              {%- capture sizes -%}
                {% if disable_max_width %}
                  (max-width: 768px) 100vw, {{ max_width | times: media_width | round }}vw
                {% else %}
                  (max-width: 768px) 100vw, {{ max_width | times: media_width | round }}px
                {% endif %}
              {%- endcapture -%}
              {% assign image_class = 'image-magnify-' | append: section.settings.image_zoom %}
              {% if settings.images_loading != 'disable' %}
                <figure class="lazy-image lazy-image--{{ settings.images_loading }}">
              {% endif %}
              {{ settings.product_placeholder | image_url: width: 2200 | image_tag:
                class: image_class,
                loading: loading_images,
                onload: onload_script,
                draggable: false,
                sizes: sizes,
                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946, 2200, 2400, 2800, 3000, 3200'
              }}
              {% if settings.images_loading != 'disable' %}
                {% if settings.images_loading != 'fade_scale' %}
                <div class="lazy-image__preloader lazy-image__preloader--full lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                  <img 
                  alt="{{ settings.product_placeholder.alt | escape }}" 
                  src="{{ settings.product_placeholder | image_url: width: 10 }}"
                  draggable="false"
                  width="10" 
                  height="10">
                </div>
                {% endif %}
            </figure>
            {% endif %}
            </li>
          {%- endif -%}
          {%- if product.selected_or_first_available_variant.featured_media != null and organize_images == false -%}
            {% liquid 
              assign featured_media = product.selected_or_first_available_variant.featured_media
              if featured_media.alt contains '(' or featured_media.alt contains ')' 
                assign featured_media_alt = featured_media.alt | downcase | split: '(' | last | split: ')' | first | prepend: '(' | append: ')'
              else
                assign featured_media_alt = featured_media.alt | downcase
              endif
            %}
            <li
              id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
              class="is-active {% if gallery_style == 'alternative_1' %}first-el{% endif %} {% if gallery_style == 'alternative_2' %}third-el{% endif %} product__media-item product__media-item-{{ featured_media.media_type }} slider__slide slider__slide--wide {% if section.settings.show_media_attached_to_variant and variant_images.size > 0 %}product__media-item--hide{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--show product__media-item--variant-alt product__media-item--variant{% endif %}{% if section.settings.show_media_attached_to_variant and variant_alt contains featured_media_alt  %} product__media-item--variant-alt{% endif %}{% if variant_images contains featured_media.src %} product__media-item--variant{% endif %}"
              data-media-id="{{ section.id }}-{{ featured_media.id }}"
              data-media-alt="{{ featured_media_alt }}">
              {%- liquid
                assign media_position = 1
                assign lazy_load = false
                if section.index > 2
                  assign lazy_load = true
                endif
                if quick_view
                  assign lazy_load = true
                endif
                assign onload_script = '' 
                if settings.images_loading != 'disable' and lazy_load
                    assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
                endif
              -%}
              {% render 'product-thumbnail',
                media: featured_media,
                media_count: media_count,
                position: media_position,
                fit_inside: fit_inside,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                max_width: max_width,
                disable_max_width: disable_max_width,
                lazy_load: lazy_load,
                grid_style: grid_style,
                gallery_style: gallery_style,
                desktop_media_ratio: desktop_media_ratio,
                mobile_media_ratio: mobile_media_ratio,
                gallery_color_scheme: gallery_color_scheme,
                fetchpriority: 'high',
                autoplay: section.settings.enable_video_autoplay,
                onload_script: onload_script
              %}
            </li>
          {%- endif -%}
          {%- assign variant_media_index = 0 -%}
          {%- assign media_index = 0 -%}
          {% liquid
            if product.selected_or_first_available_variant.featured_media != null and organize_images == false
              assign variant_media_index = 1
              assign media_index = 1
            endif
          %}
          {%- for media in product.media -%}
            {% liquid 
              if media.alt contains '(' or media.alt contains ')' 
                assign media_alt = media.alt | downcase | split: '(' | last | split: ')' | first | prepend: '(' | append: ')' 
              else 
                assign media_alt = media.alt | downcase
              endif
            %} 
            {%- if media.id != product.selected_or_first_available_variant.featured_media.id and organize_images == false -%}
              {%- assign media_index = media_index | plus: 1 -%}
              {%- assign current_media_index = media_index | modulo: 3  -%}
              <li
                id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
                class="{{ current_media_index }} {% if media == product.selected_or_first_available_variant.image %}is-active {% endif %} {% if gallery_style == 'alternative_2' and current_media_index == 1 %} third-el{% endif %} product__media-item product__media-item-{{ media.media_type }} slider__slide slider__slide--wide {% if section.settings.show_media_attached_to_variant and variant_images.size > 0 %}product__media-item--hide{% endif %}{% if media.media_type != 'image' %} product__media-item--show product__media-item--variant-alt product__media-item--variant{% endif %}{% if section.settings.show_media_attached_to_variant and variant_alt contains media_alt  %} product__media-item--variant-alt{% endif %}{% if variant_images contains media.src %} product__media-item--variant{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if product.selected_or_first_available_variant.featured_media == blank %} product__media-item--show{% endif %}"
                data-media-id="{{ section.id }}-{{ media.id }}"
                data-media-alt="{{ media_alt }}">
                {%- liquid
                  assign media_position = media_position | default: 0 | plus: 1
                  assign lazy_load = false
                  assign preload = false
                  assign onload_script = '' 
                  if media_position > 1
                    assign lazy_load = true
                    assign preload = true
                  endif
                  if quick_view
                    assign lazy_load = true
                    assign preload = true
                  endif
                  assign fetchpriority = 'auto'
                  if forloop.index == 1
                    assign fetchpriority = 'high'
                  endif
                  if settings.images_loading != 'disable' and preload
                      assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
                  endif
                -%}
                {% render 'product-thumbnail',
                  media: media,
                  media_count: media_count,
                  position: media_position,
                  fit_inside: fit_inside,
                  desktop_layout: section.settings.gallery_layout,
                  mobile_layout: section.settings.mobile_thumbnails,
                  loop: section.settings.enable_video_looping,
                  modal_id: section.id,
                  xr_button: true,
                  media_width: media_width,
                  max_width: max_width,
                  disable_max_width: disable_max_width,
                  lazy_load: lazy_load,
                  grid_style: grid_style,
                  gallery_style: gallery_style,
                  desktop_media_ratio: desktop_media_ratio,
                  mobile_media_ratio: mobile_media_ratio,
                  gallery_color_scheme: gallery_color_scheme,
                  fetchpriority: fetchpriority,
                  preload: preload,
                  autoplay: section.settings.enable_video_autoplay,
                  onload_script: onload_script
                %}
              </li>
            {%- endif -%}
            {% if organize_images %}
                {%- assign variant_media_index = variant_media_index | plus: 1 -%}
                {%- assign current_index = variant_media_index | modulo: 3  -%}
              <li
                id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
                class="{% if media == product.selected_or_first_available_variant.image %}is-active {% endif %} {% if gallery_style == 'alternative_1' and media == product.selected_or_first_available_variant.image %}first-el{% endif %} {% if gallery_style == 'alternative_2' and current_index == 1 %} third-el{% endif %} product__media-item product__media-item-{{ media.media_type }} slider__slide slider__slide--wide {% if section.settings.show_media_attached_to_variant and variant_images.size > 0 %}product__media-item--hide{% endif %}{% if media.media_type != 'image' %} product__media-item--show product__media-item--variant-alt product__media-item--variant{% endif %}{% if section.settings.show_media_attached_to_variant and variant_alt contains media_alt  %} product__media-item--variant-alt{% endif %}{% if variant_images contains media.src %} product__media-item--variant{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if product.selected_or_first_available_variant.featured_media == blank %} product__media-item--show{% endif %}"
                data-media-id="{{ section.id }}-{{ media.id }}"
                data-media-alt="{{ media_alt }}">
                {%- liquid
                  assign media_position = media_position | default: 0 | plus: 1
                  assign lazy_load = false
                  assign preload = false
                  if media_position > 1
                    assign lazy_load = true
                    assign preload = true
                  endif
                  if quick_view
                    assign lazy_load = true
                    assign preload = true
                  endif
                  assign onload_script = '' 
                  if settings.images_loading != 'disable' and preload
                      assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
                  endif
                -%}
                {% render 'product-thumbnail',
                  media: media,
                  media_count: media_count,
                  position: media_position,
                  fit_inside: fit_inside,
                  desktop_layout: section.settings.gallery_layout,
                  mobile_layout: section.settings.mobile_thumbnails,
                  loop: section.settings.enable_video_looping,
                  modal_id: section.id,
                  xr_button: true,
                  media_width: media_width,
                  max_width: max_width,
                  disable_max_width: disable_max_width,
                  lazy_load: lazy_load,
                  grid_style: grid_style,
                  gallery_style: gallery_style,
                  desktop_media_ratio: desktop_media_ratio,
                  mobile_media_ratio: mobile_media_ratio,
                  gallery_color_scheme: gallery_color_scheme,
                  preload: preload,
                  autoplay: section.settings.enable_video_autoplay,
                  onload_script: onload_script
                %}
              </li>
            {% endif %}
          {%- endfor -%}
        </ul>
        {% if product.media.size > 1 %}
        <div class="slider-buttons flex--row {% unless gallery_style contains 'gallery' %}visually-hidden--desktop{% endunless %}">
          <button
            type="button"
            class="slider-button slider-button--prev "
            name="previous"
            {% unless gallery_style contains 'gallery' %}tabindex="-1"{% endunless %}
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="icon icon--small">{%- render 'glyphs_arrows', icon: 'arrow-left' -%}</span>
          </button>
          <button
            type="button"
            class="slider-button slider-button--next "
            {% unless gallery_style contains 'gallery' %}tabindex="-1"{% endunless %}
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="icon icon--small">{%- render 'glyphs_arrows', icon: 'arrow-right' -%}</span>
          </button>
        </div>
        {%- unless show_thumbnails_on_mobile -%}
          <div role="scrollbar" aria-orientation="horizontal" aria-valuemax="100" aria-valuemin="0" aria-valuenow="39" class="slider-scrollbar visually-hidden">
            <span class="slider-scrollbar__track">
              <span class="slider-scrollbar__thumb"></span>
            </span>
          </div>
        {% endunless %}
        {% endif %}
        {% assign first_model = true %}
          {%- for media in product.media -%}
            {%- if media.media_type == 'model' -%}
              <button
                class="button product__xr-button product__xr-button--gallery {% unless first_model %}product__xr-button--hidden{% endunless %}{% unless foorlop.first %} product__xr-button--hidden{% endunless %}"
                {% unless foorlop.first %}style="visibility: hidden; opacity: 0; display: none;"{% endunless %}
                type="button"
                aria-label="{{ 'products.product.xr_button_label' | t }}"
                data-shopify-xr
                data-shopify-model3d-id="{{ media.id }}"
                data-shopify-title="{{ product.title | escape }}"
                data-media-id="{{ section.id }}-{{ media.id }}"
                data-shopify-xr-hidden
              >
                {%- render 'glyphs_signs', icon: '3d' -%}
                {{ 'products.product.xr_button' | t }}
              </button>
              {% assign first_model = false %}
          {%- endif -%}
        {%- endfor -%}
      </div>
      {% liquid 
        assign show_thumbs = false
        if media_count > 1 and show_thumbnails_on_desktop != 'disable' or show_thumbnails_on_mobile
          assign show_thumbs = true
        endif
        assign show_thumbs_left = false
        if show_thumbs and show_thumbnails_on_desktop == 'left'
          assign show_thumbs_left = true
        elsif show_thumbs and show_thumbnails_on_desktop == 'below_gallery' and gallery_style != 'gallery'
          assign show_thumbs_left = true
        endif
      %}
    {%- if show_thumbs -%}
      <div id="GalleryThumbnails-{{ section.id }}" class="thumbnail-slider{% if show_thumbs_left %} thumbnail-slider--column{% endif %}{% if show_thumbnails_on_desktop == 'on_top' %} thumbnail-slider--top{% endif %} hide-scrollbar{% if sticky_thumbnails and gallery_style != 'gallery' %} thumbnail-slider--sticky{% endif %}">
        <div class="gallery__viewport hide-scrollbar">
          {% assign variant_alt = product.selected_or_first_available_variant.image.alt | downcase %}
          {% assign variant_alt = variant_alt | split: '(' | last | split: ')' | first | append: ')' | prepend: '(' %}
          <ul id="Slider-Thumbnails-{{ section.id }}" class="gallery__grid thumbnail-list {% if show_thumbs_left %} flex--column{% endif %} hide-scrollbar {% if only_variant_images %}variant-images{% endif %}{% if organize_images %} organize_images{% endif %}">
            {%- if featured_media != null and organize_images == false -%}
              {%- liquid
                capture media_index
                  if featured_media.media_type == 'model'
                    increment model_index
                  elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                    increment video_index
                  elsif featured_media.media_type == 'image'
                    increment image_index
                  endif
                endcapture
                assign featured_media = product.selected_or_first_available_variant.featured_media
                if featured_media.alt contains '(' or featured_media.alt contains ')' 
                  assign featured_media_alt = featured_media.alt | downcase | split: '(' | last | split: ')' | first | prepend: '(' | append: ')'
                else
                  assign featured_media_alt = featured_media.alt | downcase
                endif
                assign media_index = media_index | plus: 1
              -%}
              
              <li id="Slide-Thumbnails-{{ section.id }}-0" tabindex="0" class="is-active aspect-ratio thumbnail-list__item thumbnail-list__item-{{ featured_media.media_type }} {% if section.settings.thumbnails_gap == 0 %}thumbnail-list__item--stuck{% endif %} slider__slide{% if section.settings.show_media_attached_to_variant and variant_images.size > 0 %} product__media-item--hide{% endif %}{% if section.settings.show_media_attached_to_variant and variant_alt contains featured_media_alt  %} product__media-item--variant-alt{% endif %}{% if section.settings.show_media_attached_to_variant and variant_images contains featured_media.src %} product__media-item--variant{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--show product__media-item--variant-alt product__media-item--variant{% endif %}{% if product.selected_or_first_available_variant.featured_media == blank %} product__media-item--show{% endif %} is-active" data-target="{{ section.id }}-{{ featured_media.id }}" data-media-position="{{ media_index }}" data-media-alt="{{ featured_media_alt }}">
                <button class="slide__thumbnail"
                  aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                  aria-current="true"
                  tabindex="-1"
                  aria-controls="GalleryViewer-{{ section.id }}"
                  aria-describedby="Thumbnail-{{ section.id }}-0"
                  {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}
                >
                  {% if settings.images_loading != 'disable' %}
                    <figure class="lazy-image lazy-image--{{ settings.images_loading }}">
                  {% endif %}
                  {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
                  <img id="Thumbnail-{{ section.id }}-0" srcset="{% if featured_media.preview_image.width >= 54 %}{{ featured_media.preview_image | image_url: width: 54 }} 54w,{% endif %}
                    {% if featured_media.preview_image.width >= 74 %}{{ featured_media.preview_image | image_url: width: 74 }} 74w,{% endif %}
                    {% if featured_media.preview_image.width >= 104 %}{{ featured_media.preview_image | image_url: width: 104 }} 104w,{% endif %}
                    {% if featured_media.preview_image.width >= 162 %}{{ featured_media.preview_image | image_url: width: 162 }} 162w,{% endif %}
                    {% if featured_media.preview_image.width >= 208 %}{{ featured_media.preview_image | image_url: width: 208 }} 208w,{% endif %}
                    {% if featured_media.preview_image.width >= 324 %}{{ featured_media.preview_image | image_url: width: 324 }} 324w,{% endif %}
                    {% if featured_media.preview_image.width >= 416 %}{{ featured_media.preview_image | image_url: width: 416 }} 416w,{% endif %},
                    {{ featured_media.preview_image | image_url }} {{ media.preview_image.width }}w"
                    src="{{ featured_media | image_url: width: 416 }}"
                    sizes="{{ section.settings.thumbnails_width | times: 1.5 }}px"
                    alt="{{ featured_media.alt | escape }}"
                    height="{{ featured_media.preview_image.height }}"
                    width="{{ section.settings.thumbnails_width }}"
                    style="aspect-ratio: {{ featured_media.preview_image.width }} / {{ featured_media.preview_image.height }}"
                    {% if settings.images_loading != 'disable' %}
                      loading="lazy"
                      onload="this.parentNode.classList.add('lazyloaded');" {% endif %}
                    draggable="false"
                  >
                  {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
                  {% if settings.images_loading != 'disable' %}
                    {% if settings.images_loading != 'fade_scale' %}
                    <div class="lazy-image__preloader lazy-image__preloader--full lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                        <img 
                        alt="{{ featured_media.preview_image.alt | escape }}" 
                        src="{{ featured_media.preview_image | image_url: width: 10 }}"
                        draggable="false"
                        width="10" 
                        height="10">
                    </div>
                    {% endif %}
                </figure>
                {% endif %}
                </button>
              </li>
            {%- endif -%}
            {%- for media in product.media -%}
              {%- liquid
                capture media_index
                  if media.media_type == 'model'
                    increment model_index
                  elsif media.media_type == 'video' or media.media_type == 'external_video'
                    increment video_index
                  elsif media.media_type == 'image'
                    increment image_index
                  endif
                endcapture
                if media.alt contains '(' or media.alt contains ')' 
                  assign media_alt = media.alt | downcase | split: '(' | last | split: ')' | first | prepend: '(' | append: ')' 
                else 
                  assign media_alt = media.alt | downcase
                endif
                assign media_index = media_index | plus: 1
              -%}
              {%- if media.id != product.selected_or_first_available_variant.featured_media.id and organize_images == false -%}
                <li id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}" tabindex="0" class="{% if media == product.selected_or_first_available_variant.image %}is-active {% endif %}thumbnail-list__item thumbnail-list__item-{{ media.media_type }} aspect-ratio slider__slide {% if only_variant_images and variant_images.size > 0 %}product__media-item--hide{% endif %}{% if media.media_type != 'image' %} product__media-item--show product__media-item--variant-alt product__media-item--variant{% endif %}{% if only_variant_images and variant_alt contains media_alt  %} product__media-item--variant-alt{% endif %}{% if section.settings.show_media_attached_to_variant and variant_images contains media.src %} product__media-item--variant{% endif %}{% if product.selected_or_first_available_variant.featured_media == blank %} product__media-item--show{% endif %}" data-target="{{ section.id }}-{{ media.id }}" data-media-alt="{{ media_alt }}" data-media-position="{{ media_index }}">
                  <button class="slide__thumbnail"
                    aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                    {% if media == product.selected_or_first_available_variant.featured_media or product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} aria-current="true"{% endif %}
                    aria-controls="GalleryViewer-{{ section.id }}"
                    tabindex="-1"
                    aria-describedby="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                    {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}
                  >
                    {%- if media.media_type == 'model' -%}
                      <span class="thumbnail__badge" aria-hidden="true">
                        {%- render 'glyphs_signs', icon: '3d' -%}
                      </span>
                    {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                      <span class="thumbnail__badge" aria-hidden="true">
                        {%- render 'glyphs_interface', icon: 'play' -%}                           
                      </span>
                    {%- endif -%}
                    {% if settings.images_loading != 'disable' %}
                      <figure class="lazy-image lazy-image--{{ settings.images_loading }}">
                    {% endif %}
                    {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
                    <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                      srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                              {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                              {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                              {% if media.preview_image.width >= 168 %}{{ media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                              {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                              {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                      src="{{ media | image_url: width: 84, height: 84 }}"
                      sizes="{{ section.settings.thumbnails_width | times: 1.5 }}px"
                      alt="{{ media.alt | escape }}"
                      height="{{ media.preview_image.height }}"
                      width="{{ section.settings.thumbnails_width }}"
                      style="aspect-ratio: {{ media.preview_image.width }} / {{ media.preview_image.height }}"
                      {% if settings.images_loading != 'disable' %}
                        loading="lazy"
                        onload="this.parentNode.classList.add('lazyloaded');" {% endif %}
                      draggable="false"
                    >
                    {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
                    {% if settings.images_loading != 'disable' %}
                      {% if settings.images_loading != 'fade_scale' %}
                      <div class="lazy-image__preloader lazy-image__preloader--full lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                          <img 
                          alt="{{ media.preview_image.alt | escape }}" 
                          src="{{ media.preview_image | image_url: width: 10 }}"
                          draggable="false"
                          width="10" 
                          height="10">
                      </div>
                      {% endif %}
                  </figure>
                  {% endif %}
                  </button>
                </li>
              {%- endif -%}
              {%- if organize_images -%}
                <li id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}" tabindex="0" class="{% if media == product.selected_or_first_available_variant.image %}is-active {% endif %}thumbnail-list__item thumbnail-list__item-{{ media.media_type }} aspect-ratio slider__slide {% if only_variant_images and variant_images.size > 0 %}product__media-item--hide{% endif %}{% if media.media_type != 'image' %} product__media-item--show product__media-item--variant-alt product__media-item--variant{% endif %}{% if only_variant_images and variant_alt contains media_alt  %} product__media-item--variant-alt{% endif %}{% if section.settings.show_media_attached_to_variant and variant_images contains media.src %} product__media-item--variant{% endif %}{% if product.selected_or_first_available_variant.featured_media == blank %} product__media-item--show{% endif %}" data-target="{{ section.id }}-{{ media.id }}" data-media-alt="{{ media_alt }}" data-media-position="{{ media_index }}">
                  <button class="slide__thumbnail"
                    aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                    {% if media == product.selected_or_first_available_variant.featured_media or product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} aria-current="true"{% endif %}
                    aria-controls="GalleryViewer-{{ section.id }}"
                    tabindex="-1"
                    aria-describedby="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                    {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}
                  >
                    {%- if media.media_type == 'model' -%}
                      <span class="thumbnail__badge" aria-hidden="true">
                        {%- render 'glyphs_signs', icon: '3d' -%}
                      </span>
                    {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                      <span class="thumbnail__badge" aria-hidden="true">
                        {%- render 'glyphs_interface', icon: 'play' -%}                            
                      </span>
                    {%- endif -%}
                    {% if settings.images_loading != 'disable' %}
                      <figure class="lazy-image lazy-image--{{ settings.images_loading }}">
                    {% endif %}
                    {% comment %} theme-check-disable ImgLazyLoading {% endcomment %}
                    <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                      srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                              {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                              {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                              {% if media.preview_image.width >= 168 %}{{ media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                              {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                              {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                      src="{{ media | image_url: width: 84, height: 84 }}"
                      sizes="{{ section.settings.thumbnails_width | times: 1.5 }}px"
                      alt="{{ media.alt | escape }}"
                      height="{{ media.preview_image.height }}"
                      width="{{ section.settings.thumbnails_width }}"
                      style="aspect-ratio: {{ media.preview_image.width }} / {{ media.preview_image.height }}"
                      {% if settings.images_loading != 'disable' %}
                        loading="lazy"
                        onload="this.parentNode.classList.add('lazyloaded');" {% endif %}
                      draggable="false"
                    >
                    {% comment %} theme-check-enable ImgLazyLoading {% endcomment %}
                    {% if settings.images_loading != 'disable' %}
                      {% if settings.images_loading != 'fade_scale' %}
                      <div class="lazy-image__preloader lazy-image__preloader--full lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                          <img 
                          alt="{{ media.preview_image.alt | escape }}" 
                          src="{{ media.preview_image | image_url: width: 10 }}"
                          draggable="false"
                          width="10" 
                          height="10">
                      </div>
                      {% endif %}
                  </figure>
                  {% endif %}
                  </button>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {%- endif -%}
  </product-gallery>
</media-gallery>
  