{% if block.settings.button_label != blank %}
    <div class="section-block button-block video-button-block{% if block.settings.button_style == 'link' %} video-button-link{% endif %} {% if block.settings.use_main_button %}button-block--main{% endif %}" {{ block.shopify_attributes }}>
        <modal-opener data-modal="#VideoModal-{{ block.id }}">
            <button type="button"
                data-modal-toggle
                class="video-button button icon-button button--modal-opener {{ block.settings.button_style }}-button body-font open-popup {% if block.settings.use_main_button %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}"
                {% unless block.settings.video_url != blank %}disabled{% endunless %} id="Deferred-Poster-{{ block.settings.video_url.id }}">
                <span class="video-button__play-wrapper">
                    <span class="video-button__play">
                        <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_dd_14370_355636)">
                        <g clip-path="url(#clip0_14370_355636)">
                        <path class="svg-circle" fill-rule="evenodd" clip-rule="evenodd" d="M74 8H10V72H74V8ZM33 29.482C33 27.9385 34.6744 26.9767 36.0077 27.7545L54.0385 38.2721C55.3615 39.0439 55.3615 40.9555 54.0385 41.7272L36.0078 52.2454C34.6744 53.0232 33 52.0615 33 50.5179V29.482Z"/>
                        <path class="svg-play" d="M36.0077 27.7545C34.6744 26.9767 33 27.9385 33 29.482V50.5179C33 52.0615 34.6744 53.0232 36.0078 52.2454L54.0385 41.7272C55.3615 40.9555 55.3615 39.0439 54.0385 38.2721L36.0077 27.7545Z"/>
                        </g>
                        </g>
                        <defs>
                        <filter id="filter0_dd_14370_355636" x="0" y="0" width="84" height="84" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="2"/>
                        <feGaussianBlur stdDeviation="5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_14370_355636"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset/>
                        <feGaussianBlur stdDeviation="1"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
                        <feBlend mode="normal" in2="effect1_dropShadow_14370_355636" result="effect2_dropShadow_14370_355636"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_14370_355636" result="shape"/>
                        </filter>
                        <clipPath id="clip0_14370_355636">
                        <rect x="10" y="8" width="64" height="64" rx="32"/>
                        </clipPath>
                        </defs>
                        </svg>             
                    </span>
                </span>
                <span class="video-button__text icon-button__title">
                    {% if block.settings.use_main_button %}{% if settings.bolder_main_buttons_font %}<b>{% endif %}{% else %}{% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{% endif %}
                    {{ block.settings.button_label }}
                    {% if block.settings.use_main_button %}{% if settings.bolder_main_buttons_font %}</b>{% endif %}{% else %}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}{% endif %}
                </span>
            </button>
        </modal-opener>
        {%- capture modal_template_id -%}modal-tpl-{{ block.id }}{%- endcapture -%}
        <modal-dialog id="VideoModal-{{ block.id }}" class="global-popup-modal" data-template-id="{{ modal_template_id }}">
            {% comment %} <template id="{{ modal_template_id }}"> {% endcomment %}
                <div class="modal color-{{ settings.popup_color_scheme }} popup popup--video{% if settings.modal_enable_shadow %} modal--shadow{% endif %} none-autoplay" style="aspect-ratio: 16 / 9;">

                        <div class="button-wrapper">
                            <button type="button" class="button button-close button--small close-popup icon--large"  id="ModalClose-{{ block.id }}">
                                {%- render 'glyphs_interface', icon: 'close' -%}
                            </button>
                        </div>
                        <div class="popup-video">
                            <deferred-media class="video-section__media deferred-media" data-media-id="{{ block.settings.video_url.id }}">
                            <template>
                            {%- if block.settings.video_url.type == 'youtube' -%}
                                <video-section
                                data-init-mode="template"
                                data-parent="deferred-media"
                                data-type="youtube"
                                alt="{{ block.settings.video_alt | escape }}"
                                data-video-id="{{ block.settings.video_url.id }}"></video-section>
                            {%- else -%}
                                <video-section
                                data-init-mode="template"
                                data-parent="deferred-media"
                                data-type="vimeo"
                                alt="{{ block.settings.video_alt | escape }}"
                                data-video-id="{{ block.settings.video_url.id }}"></video-section>
                            {%- endif -%}
                            </template>
                        </deferred-media>
                        </div>
              
                </div>
            {% comment %} </template> {% endcomment %}
        </modal-dialog>
    </div>
    <br class="button-wrap">
{% endif %}