{{ 'promo-popup.css' | asset_url | stylesheet_tag }}
{{ 'section-age-verification.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign max_width = '720px'
    assign onload_script = ''
    assign loading_images = 'eager'
    if settings.images_loading != 'disable'
        assign onload_script = 'this.parentNode.classList.add("lazyloaded");'
        assign loading_images = 'lazy'
    endif
-%}

{% style %}
    #shopify-section-{{ section.id }} {
        position: fixed;
        top: 0;
        inset-inline: 0;
        bottom: auto;
        visibility: visible;
        z-index: 150;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        --overlay-opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
    #shopify-section-{{ section.id }}.open {
        visibility: visible;
        bottom: auto;
    }
{% endstyle %}

<promo-popup data-section-id="{{ section.id }}" class="hidden" data-delay-type="timer" data-delay="0" data-frequency="{{ section.settings.frequency }}">
    <div class="promo-popup age-verification color-{{ section.settings.color_scheme }}">
        <div class="overlay age-verification__overlay{% if section.settings.image != blank or section.settings.mobile_image != blank %} overlay--filled{% endif %}">
          <div class="age-verification__image-wrapper{% if section.settings.image != blank or section.settings.mobile_image != blank %} age-verification__image--filled{% endif %}">
            {% if section.settings.image != blank %}
                {%- liquid
                    assign widths = '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                    assign img_class = "age-verification__image"
                    if section.settings.mobile_image != blank
                        assign img_class = "age-verification__image age-verification__image--desktop"
                    endif
                -%}
                {% if settings.images_loading != 'disable' %}
                <figure class="lazy-image lazy-image--absolut lazy-image--{{ settings.images_loading }} {{ img_class }}">
                {% endif %}
                
                {%- capture sizes -%}
                    100vw
                {%- endcapture -%}
                {{
                    section.settings.image
                    | image_url: width: 3200
                    | image_tag:
                    sizes: sizes,
                    widths: widths,
                    class: img_class,
                    alt: section.settings.image.alt,
                    draggable: false,
                    loading: loading_images,
                    onload: onload_script
                }}
                {% if settings.images_loading != 'disable' %}
                  {% if settings.images_loading != 'fade_scale' %}
                  <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                    <img 
                    alt="{{ section.settings.image.alt | escape }}" 
                    src="{{ section.settings.image | image_url: width: 10 }}"
                    draggable="false"
                    width="10" 
                    height="10">
                  </div>
                  {% endif %}
                </figure>
                {% endif %}
            {% endif %}
            {% if section.settings.mobile_image != blank %}
                {%- liquid
                    assign widths = '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                    assign img_class = "age-verification__image"
                    if section.settings.image != blank
                        assign img_class = "age-verification__image age-verification__image--mobile"
                    endif
                -%}
                {% if settings.images_loading != 'disable' %}
                  <figure class="lazy-image lazy-image--absolut lazy-image--{{ settings.images_loading }} age-verification__image--mobile">
                {% endif %}
                {{
                    section.settings.mobile_image
                    | image_url: width: 3200
                    | image_tag:
                    sizes: sizes,
                    widths: widths,
                    class: img_class,
                    alt: section.settings.mobile_image.alt,
                    draggable: false,
                    loading: loading_images,
                    onload: onload_script
                }}
                {% if settings.images_loading != 'disable' %}
                  {% if settings.images_loading != 'fade_scale' %}
                  <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                    <img 
                    alt="{{ section.settings.mobile_image.alt | escape }}" 
                    src="{{ section.settings.mobile_image | image_url: width: 10 }}"
                    draggable="false"
                    width="10" 
                    height="10">
                  </div>
                  {% endif %}
                </figure>
                {% endif %}
            {% endif %}
          </div>
        </div>
      <div class="popup modal {% if section.settings.fill_content == false %}popup--transparent{% endif %} hide-scrollbar regular" data-position="popup">
          {% if section.blocks.size > 0 %}
            <div class="popup-content {% if section.settings.center_text %}center{% endif %} color-{{ section.settings.color_scheme }}">
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'subheading' -%}
                    {%- if block.settings.subheading != blank -%}
                        {%- liquid
                          assign uppercase_subheading = false
                          if block.settings.subheading_style == 'section-heading' and settings.uppercase_section_headings
                            assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'body-font' and settings.uppercase_body
                              assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_subheading = true
                          endif
                        -%}
                        <{{ block.settings.subheading_tag }} class="section-block subheading-block {{ block.settings.subheading_style }}{% if uppercase_subheading %} uppercase{% endif %}{% if block.settings.subheading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" {{ block.shopify_attributes }}>
                          {% if block.settings.subheading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ block.settings.subheading }}{% if block.settings.subheading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                        </{{ block.settings.subheading_tag }}>
                    {%- endif -%}
                  {%- when 'heading' -%}
                        {%- if block.settings.heading != blank -%}
                          {%- liquid
                            assign uppercase_heading = false
                            if block.settings.heading_style == 'caption-font' and settings.uppercase_caption
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'body-font' and settings.uppercase_body
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'subheading-font' and settings.uppercase_subheadings
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'section-heading' and settings.uppercase_section_headings
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'page-title' and settings.uppercase_page_titles
                                assign uppercase_heading = true
                            endif

                            assign heading_text = block.settings.heading
                            assign processed_text = ''
                            assign split_text = heading_text | split: '['

                            for part in split_text
                              if part contains ']'
                                assign split_bracket = part | split: ']'
                                assign highlight_text = split_bracket[0]
                                assign after_bracket = split_bracket[1]
                                assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                              else
                                assign processed_text = processed_text | append: part
                              endif
                            endfor

                            assign final_text = ''
                            assign split_text_curly = processed_text | split: '{'

                            for part in split_text_curly
                              if part contains '}'
                                assign split_curly = part | split: '}'
                                assign styled_text = split_curly[0]
                                assign after_curly = split_curly[1]
                                assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                              else
                                assign final_text = final_text | append: part
                              endif
                            endfor
                          -%}
                          <{{ block.settings.heading_tag }} class="section-block custom-heading heading-block {{ block.settings.heading_style }}{% if uppercase_heading %} uppercase{% endif %}{% if block.settings.heading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" {{ block.shopify_attributes }}>
                            {% if block.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if block.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                          </{{ block.settings.heading_tag }}>
                        {%- endif -%}
                  {%- when 'text' -%}
                    {%- if block.settings.text != blank -%}
                        {%- liquid
                          assign uppercase_text = false
                          if block.settings.text_style == 'section-heading' and settings.uppercase_section_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'body-font' and settings.uppercase_body
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_text = true
                          endif
                          assign uppercase_headings = false
                          if block.settings.richtext_heading_style == 'body-font' and settings.uppercase_body
                            assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'subheading-font' and settings.uppercase_subheadings
                            assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'section-heading' and settings.uppercase_section_headings
                              assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'page-title' and settings.uppercase_page_titles
                              assign uppercase_headings = true
                          endif
                        -%}
                        <div class="section-block richtext heading-style-{{ block.settings.richtext_heading_style }} rte link-underline{% if uppercase_headings %} headings-uppercase{% endif %}{% if block.settings.richtext_heading_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} heading-style-subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} heading-style-bold{% endif %}{% endif %}
                          {{ block.settings.text_style }}{% if uppercase_text %} uppercase{% endif %} {% if block.settings.text_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} bold{% endif %}{% endif %}" {{ block.shopify_attributes }}>
                              {{ block.settings.text }}
                        </div>
                      {%- endif -%}
                  {%- when 'context_image' -%}
                    {%- render 'context-image', location: block, block_shopify_attributes: true, section_block: true -%}
                  {%- when 'block_image' -%}
                    {%- render 'block-image', block: block, max_width: max_width, max_block_width: max_width -%}
                  {%- when 'icon' -%}
                    {%- liquid
                      render 'block-icon', block: block -%}
                  {%- when 'empty_space' -%}
                    {%- render 'empty-space', block: block -%}
                  {%- when 'line' -%}
                    {%- render 'line', block: block -%}
                  {%- when 'custom_liquid' -%}
                    {%- if block.settings.custom_liquid != blank -%}
                        {%- liquid
                          assign uppercase_text = false
                          if block.settings.text_style == 'section-heading' and settings.uppercase_section_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'body-font' and settings.uppercase_body
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_text = true
                          endif
                        -%}
                        <div class="custom-liquid {{ block.settings.text_style }}{% if uppercase_text %} uppercase{% endif %} 
                          {% if block.settings.text_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} bold{% endif %}{% endif %}" {{ block.shopify_attributes }}>
                          {{ block.settings.custom_liquid }}
                        </div>
                      {%- endif -%}
                  {%- when 'verification_buttons' -%}
                    <div class="verification-buttons section-block" {{ block.shopify_attributes }}>
                      {%- if block.settings.accept_button_label != blank or block.settings.accept_button_icon != blank -%}
                        <div {{ block.shopify_attributes }} class="verification-button close-button block__button{% if block.settings.accept_button_label != blank and block.settings.accept_button_icon != blank %} button-block--small-padding{% endif %}">
                          <button type="button" class="close-popup button solid-button body-font {% if block.settings.use_main_button %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}
                            {% if block.settings.accept_button_icon != blank %} button-with-icon{% if block.settings.swap_accept_button_icon %} icon--swap{% endif %}{% endif %}" data-popup-toggle>
                            {% if block.settings.accept_button_icon != blank %}
                              {%- liquid
                                assign icon_name = block.settings.accept_button_icon | split: '/'
                                if icon_name.size == 3
                                    assign file_name = icon_name.first | append: '_' | append: icon_name[1]
                                elsif icon_name.size == 2
                                    assign file_name = icon_name.first
                                endif
                                assign icon = icon_name.last
                              -%}
                              <span class="icon-accordion flex--row {% if block.settings.use_main_button %}icon--large{% else %}icon--small{% endif %}">{% render 'catalog-icons', file_name: file_name, icon: icon %}</span>
                            {% endif %}
                            {% if block.settings.use_main_button %}
                                {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ block.settings.accept_button_label }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                            {% else %}
                                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ block.settings.accept_button_label }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                            {% endif %}
                          </button>
                        </div>
                      {%- endif -%}
                      {% if block.settings.decline_button_label != blank or block.settings.decline_button_icon != blank %}
                        <div class="verification-button block__button{% if block.settings.decline_button_label != blank and block.settings.decline_button_icon != blank %} button-block--small-padding{% endif %}">
                        {%- if block.settings.decline_button_link != blank -%}<a tabindex="-1" href="{{ block.settings.decline_button_link }}" class="button outlined-button  body-font {% if block.settings.use_main_button %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}{% if block.settings.decline_button_icon != blank %} button-with-icon{% if block.settings.swap_decline_button_icon %} icon--swap{% endif %}{% endif %}">{%- else -%}
                        <span disabled class="button outlined-button  body-font {% if block.settings.use_main_button %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}{% if block.settings.decline_button_icon != blank %} button-with-icon{% if block.settings.swap_decline_button_icon %} icon--swap{% endif %}{% endif %}">{%- endif -%}
                          {% if block.settings.decline_button_icon != blank %}
                            {%- liquid
                              assign icon_name = block.settings.decline_button_icon | split: '/'
                              if icon_name.size == 3
                                  assign file_name = icon_name.first | append: '_' | append: icon_name[1]
                              elsif icon_name.size == 2
                                  assign file_name = icon_name.first
                              endif
                              assign icon = icon_name.last
                            -%}
                            <span class="icon-accordion flex--row {% if block.settings.use_main_button %}icon--large{% else %}icon--small{% endif %}">{% render 'catalog-icons', file_name: file_name, icon: icon %}</span>
                          {% endif %}
                        {% if block.settings.use_main_button %}
                            {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ block.settings.decline_button_label }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                        {% else %}
                            {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ block.settings.decline_button_label }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                        {% endif %}
                        {%- unless block.settings.decline_button_link != blank -%}</span>{%- endunless -%}{%- if block.settings.decline_button_link != blank -%}</a>{%- endif -%}
                        </div>
                      {% endif %}
                    </div>
                {%- endcase -%}
              {% endfor %}
            </div>
          {% endif %}
      </div>
    </div>
</promo-popup>

{% schema %}
{
    "name": "t:sections.age_verification.name",
    "tag": "section",
    "class": "popup-section",
    "settings": [
        {
            "type": "select",
            "id": "frequency",
            "options": [
              {
                "value": "100000",
                "label": "t:sections.popup.settings.frequency.options__1.label"
              },
              {
                "value": "6",
                "label": "t:sections.popup.settings.frequency.options__2.label"
              },
              {
                "value": "24",
                "label": "t:sections.popup.settings.frequency.options__3.label"
              },
              {
                "value": "72",
                "label": "t:sections.popup.settings.frequency.options__4.label"
              },
              {
                "value": "168",
                "label": "t:sections.popup.settings.frequency.options__5.label"
              },
              {
                "value": "0",
                "label": "t:sections.popup.settings.frequency.options__6.label"
              }
            ],
            "default": "0",
            "label": "t:sections.popup.settings.frequency.label",
            "info": "t:sections.popup.settings.frequency.info"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.all.media.image.image.label",
            "info": "t:sections.all.media.image.image.info"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "t:sections.all.media.image.mobile_image.label",
            "info": "t:sections.all.media.image.mobile_image.info"
        },
        {
            "type": "checkbox",
            "id": "center_text",
            "default": true,
            "label": "t:sections.all.alignment.center_text.label"
        },
        {
            "type": "checkbox",
            "id": "fill_content",
            "default": true,
            "label": "t:sections.all.settings_titles.fill_content.label"
        },
        {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "t:sections.all.media.overlay.overlay_opacity.label",
            "default": 50
        },
        {
            "type": "header",
            "content": "t:sections.all.colors.header.content"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.color_scheme.label",
            "default": "background-1"
        }
    ],
    "blocks": [
        {
            "type": "subheading",
            "name": "t:blocks.subheading.name",
            "settings": [
              {
                "type": "text",
                "id": "subheading",
                "label": "t:sections.all.settings_titles.subheading.subheading.label",
                "default": "Subheading"
              },
              {
                "type": "select",
                "id": "subheading_style",
                "options": [
                  {
                    "value": "caption-font",
                    "label": "t:sections.all.headings_style.options__6.label"
                  },
                  {
                    "value": "body-font",
                    "label": "t:sections.all.headings_style.options__1.label"
                  },
                  {
                    "value": "subheading-font",
                    "label": "t:sections.all.headings_style.options__2.label"
                  },
                  {
                    "value": "secondary-heading",
                    "label": "t:sections.all.headings_style.options__3.label"
                  },
                  {
                    "value": "section-heading",
                    "label": "t:sections.all.headings_style.options__4.label"
                  }
                ],
                "default": "subheading-font",
                "label": "t:sections.all.headings_style.subheading_style.label"
              },
              {
                "type": "select",
                "id": "subheading_tag",
                "options": [
                  {
                      "value": "h1",
                      "label": "t:sections.all.tag.options__1.label"
                  },
                  {
                      "value": "h2",
                      "label": "t:sections.all.tag.options__2.label"
                  },
                  {
                      "value": "h3",
                      "label": "t:sections.all.tag.options__3.label"
                  },
                  {
                      "value": "h4",
                      "label": "t:sections.all.tag.options__4.label"
                  },
                  {
                      "value": "h5",
                      "label": "t:sections.all.tag.options__5.label"
                  },
                  {
                      "value": "h6",
                      "label": "t:sections.all.tag.options__6.label"
                  },
                  {
                      "value": "div",
                      "label": "t:sections.all.tag.options__7.label"
                  },
                  {
                      "value": "span",
                      "label": "t:sections.all.tag.options__8.label"
                  }, 
                  {
                      "value": "p",
                      "label": "t:sections.all.tag.options__9.label"
                  }
                  ],
                  "default": "h3",
                  "label": "t:sections.all.tag.subheading_tag.label"
              }
            ]
        },
        {
            "type": "heading",
            "name": "t:blocks.heading.name",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:sections.all.settings_titles.heading.heading.label",
                    "info": "t:sections.all.settings_titles.heading.heading.info",
                    "default": "You must be over 21 years old to visit this site"
                },
                {
                    "type": "select",
                    "id": "heading_style",
                    "options": [
                      {
                        "value": "caption-font",
                        "label": "t:sections.all.headings_style.options__6.label"
                      },
                      {
                        "value": "body-font",
                        "label": "t:sections.all.headings_style.options__1.label"
                      },
                      {
                        "value": "subheading-font",
                        "label": "t:sections.all.headings_style.options__2.label"
                      },
                      {
                        "value": "secondary-heading",
                        "label": "t:sections.all.headings_style.options__3.label"
                      },
                      {
                        "value": "section-heading",
                        "label": "t:sections.all.headings_style.options__4.label"
                      },
                      {
                        "value": "page-title",
                        "label": "t:sections.all.headings_style.options__5.label"
                      }
                    ],
                    "default": "section-heading",
                    "label": "t:sections.all.headings_style.heading_style.label"
                },
                {
                  "type": "select",
                  "id": "heading_tag",
                  "options": [
                    {
                        "value": "h1",
                        "label": "t:sections.all.tag.options__1.label"
                    },
                    {
                        "value": "h2",
                        "label": "t:sections.all.tag.options__2.label"
                    },
                    {
                        "value": "h3",
                        "label": "t:sections.all.tag.options__3.label"
                    },
                    {
                        "value": "h4",
                        "label": "t:sections.all.tag.options__4.label"
                    },
                    {
                        "value": "h5",
                        "label": "t:sections.all.tag.options__5.label"
                    },
                    {
                        "value": "h6",
                        "label": "t:sections.all.tag.options__6.label"
                    },
                    {
                        "value": "div",
                        "label": "t:sections.all.tag.options__7.label"
                    },
                    {
                        "value": "span",
                        "label": "t:sections.all.tag.options__8.label"
                    }, 
                    {
                        "value": "p",
                        "label": "t:sections.all.tag.options__9.label"
                    }
                    ],
                    "default": "h2",
                    "label": "t:sections.all.tag.heading_tag.label"
                }
            ]
        },
        {
            "type": "text",
            "name": "t:blocks.text.name",
            "settings": [
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:sections.all.settings_titles.text.text.label",
                    "default": "<p>Please, verify your age.</p>"
                },
                {
                    "type": "select",
                    "id": "richtext_heading_style",
                    "options": [
                      {
                        "value": "body-font",
                        "label": "t:sections.all.headings_style.options__1.label"
                      },
                      {
                        "value": "subheading-font",
                        "label": "t:sections.all.headings_style.options__2.label"
                      },
                      {
                        "value": "secondary-heading",
                        "label": "t:sections.all.headings_style.options__3.label"
                      },
                      {
                        "value": "section-heading",
                        "label": "t:sections.all.headings_style.options__4.label"
                      },
                      {
                        "value": "page-title",
                        "label": "t:sections.all.headings_style.options__5.label"
                      }
                    ],
                    "default": "section-heading",
                    "label": "t:sections.all.headings_style.richtext_heading_style.label"
                },
                {
                    "type": "select",
                    "id": "text_style",
                    "options": [
                      {
                        "value": "caption-font",
                        "label": "t:sections.all.headings_style.options__6.label"
                      },
                      {
                        "value": "body-font",
                        "label": "t:sections.all.headings_style.options__1.label"
                      },
                      {
                        "value": "subheading-font",
                        "label": "t:sections.all.headings_style.options__2.label"
                      },
                      {
                        "value": "secondary-heading",
                        "label": "t:sections.all.headings_style.options__3.label"
                      },
                      {
                        "value": "section-heading",
                        "label": "t:sections.all.headings_style.options__4.label"
                      }
                    ],
                    "default": "body-font",
                    "label": "t:sections.all.headings_style.text_style.label"
                }
            ]
        },
        {
            "type": "context_image",
            "name": "t:blocks.context_image.name",
            "settings": [
              {
                "type": "image_picker",
                "id": "context_image",
                "label": "t:sections.all.media.image.image.label"
              },
              {
                "type": "range",
                "id": "context_image_width",
                "min": 40,
                "max": 800,
                "step": 8,
                "unit": "px",
                "default": 120,
                "label": "t:blocks.context_image.settings.image_width.label"
              },
              {
                "type": "select",
                "id": "context_media_ratio",
                "options": [
                  {
                    "value": "auto",
                    "label": "t:sections.all.media.media_ratio.options__1.label"
                  },
                  {
                    "value": "1/1",
                    "label": "t:sections.all.media.media_ratio.options__2.label"
                  },
                  {
                    "value": "4/5",
                    "label": "t:sections.all.media.media_ratio.options__3.label"
                  },
                  {
                    "value": "2/3",
                    "label": "t:sections.all.media.media_ratio.options__4.label"
                  },
                  {
                    "value": "4/3",
                    "label": "t:sections.all.media.media_ratio.options__5.label"
                  },
                  {
                    "value": "3/2",
                    "label": "t:sections.all.media.media_ratio.options__6.label"
                  },
                  {
                    "value": "16/9",
                    "label": "t:sections.all.media.media_ratio.options__7.label"
                  },
                  {
                    "value": "4/1",
                    "label": "t:sections.all.media.media_ratio.options__8.label"
                  }
                ],
                "default": "auto",
                "label": "t:sections.all.media.media_ratio.label"
              },
              {
                "type": "select",
                "id": "context_image_radius",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.corner_radius.options__7.label"
                  },
                  {
                    "value": "0px",
                    "label": "t:sections.all.corner_radius.options__1.label"
                  },
                  {
                    "value": "3px",
                    "label": "t:sections.all.corner_radius.options__2.label"
                  },
                  {
                    "value": "5px",
                    "label": "t:sections.all.corner_radius.options__3.label"
                  },
                  {
                    "value": "12px",
                    "label": "t:sections.all.corner_radius.options__4.label"
                  },
                  {
                    "value": "16px",
                    "label": "t:sections.all.corner_radius.options__5.label"
                  },
                  {
                    "value": "2000px",
                    "label": "t:sections.all.corner_radius.options__6.label"
                  }
                ],
                "default": "default",
                "label": "t:sections.all.corner_radius.label"
              },
              {
                "type": "url",
                "id": "context_image_link",
                "label": "t:sections.all.link.label"
              },
              {
                "type": "checkbox",
                "id": "context_target_blank",
                "default": false,
                "label": "t:sections.all.link.target_blank.label"
              }
            ]
        },
        {
          "type": "icon",
          "name": "t:blocks.icon.name",
          "settings": [
            {
              "type": "text",
              "id": "icon",
              "label": "t:sections.all.icons.icon.label",
              "info": "t:sections.all.icons.icon.info"
            },
            {
              "type": "range",
              "id": "icon_size",
              "min": 24,
              "max": 400,
              "step": 4,
              "unit": "px",
              "default": 48,
              "label": "t:sections.icons-with-text.settings.icon_or_image_size.label"
            },
            {
              "type": "color",
              "id": "color",
              "label": "t:blocks.icon.settings.color.label",
              "info": "t:blocks.icon.settings.color.info",
              "default": "#000000"
            },
            {
              "type": "color",
              "id": "mobile_color",
              "label": "t:blocks.icon.settings.mobile_color.label",
              "info": "t:blocks.icon.settings.color.info",
              "default": "#000000"
            },
            {
              "type": "range",
              "id": "mobile_icon_size",
              "min": 24,
              "max": 400,
              "step": 4,
              "unit": "px",
              "default": 48,
              "label": "t:blocks.icon.settings.mobile_icon_size.label"
            },
            {
              "type": "url",
              "id": "link",
              "label": "t:sections.all.link.label"
            },
            {
              "type": "checkbox",
              "id": "target_blank",
              "default": false,
              "label": "t:sections.all.link.target_blank.label"
            }
          ]
        },
        {
            "type": "block_image",
            "name": "t:blocks.image.name",
            "settings": [
              {
                "type": "image_picker",
                "id": "desktop_image",
                "label": "t:sections.all.media.image.image.label"
              },
              {
                "type": "select",
                "id": "desktop_media_ratio",
                "options": [
                  {
                    "value": "auto",
                    "label": "t:sections.all.media.media_ratio.options__1.label"
                  },
                  {
                    "value": "1/1",
                    "label": "t:sections.all.media.media_ratio.options__2.label"
                  },
                  {
                    "value": "4/5",
                    "label": "t:sections.all.media.media_ratio.options__3.label"
                  },
                  {
                    "value": "2/3",
                    "label": "t:sections.all.media.media_ratio.options__4.label"
                  },
                  {
                    "value": "4/3",
                    "label": "t:sections.all.media.media_ratio.options__5.label"
                  },
                  {
                    "value": "3/2",
                    "label": "t:sections.all.media.media_ratio.options__6.label"
                  },
                  {
                    "value": "16/9",
                    "label": "t:sections.all.media.media_ratio.options__7.label"
                  },
                  {
                    "value": "4/1",
                    "label": "t:sections.all.media.media_ratio.options__8.label"
                  }
                ],
                "default": "auto",
                "label": "t:sections.all.media.media_ratio.label"
              },
              {
                "type": "select",
                "id": "block_image_radius",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.corner_radius.options__7.label"
                  },
                  {
                    "value": "0px",
                    "label": "t:sections.all.corner_radius.options__1.label"
                  },
                  {
                    "value": "3px",
                    "label": "t:sections.all.corner_radius.options__2.label"
                  },
                  {
                    "value": "5px",
                    "label": "t:sections.all.corner_radius.options__3.label"
                  },
                  {
                    "value": "12px",
                    "label": "t:sections.all.corner_radius.options__4.label"
                  },
                  {
                    "value": "16px",
                    "label": "t:sections.all.corner_radius.options__5.label"
                  },
                  {
                    "value": "2000px",
                    "label": "t:sections.all.corner_radius.options__6.label"
                  }
                ],
                "default": "default",
                "label": "t:sections.all.corner_radius.label"
              },
              {
                "type": "image_picker",
                "id": "mobile_image",
                "label": "t:sections.all.media.image.mobile_image.label"
              },
              {
                "type": "select",
                "id": "mobile_media_ratio",
                "options": [
                  {
                    "value": "auto",
                    "label": "t:sections.all.media.media_ratio.options__1.label"
                  },
                  {
                    "value": "1/1",
                    "label": "t:sections.all.media.media_ratio.options__2.label"
                  },
                  {
                    "value": "4/5",
                    "label": "t:sections.all.media.media_ratio.options__3.label"
                  },
                  {
                    "value": "2/3",
                    "label": "t:sections.all.media.media_ratio.options__4.label"
                  },
                  {
                    "value": "4/3",
                    "label": "t:sections.all.media.media_ratio.options__5.label"
                  },
                  {
                    "value": "3/2",
                    "label": "t:sections.all.media.media_ratio.options__6.label"
                  },
                  {
                    "value": "16/9",
                    "label": "t:sections.all.media.media_ratio.options__7.label"
                  },
                  {
                    "value": "4/1",
                    "label": "t:sections.all.media.media_ratio.options__8.label"
                  }
                ],
                "default": "auto",
                "label": "t:sections.all.media.media_ratio.label"
              },
              {
                "type": "url",
                "id": "block_image_link",
                "label": "t:sections.all.link.label"
              },
              {
                "type": "checkbox",
                "id": "target_blank",
                "default": false,
                "label": "t:sections.all.link.target_blank.label"
              }
            ]
        },
        {
            "type": "empty_space",
            "name": "t:blocks.empty_space.name",
            "settings": [
              {
                "type": "range",
                "id": "desktop_height",
                "min": 0,
                "max": 4,
                "step": 0.5,
                "unit": "x",
                "label": "t:sections.all.height.desktop_height.label",
                "default": 1
              },
              {
                "type": "range",
                "id": "mobile_height",
                "min": 0,
                "max": 4,
                "step": 0.5,
                "unit": "x",
                "label": "t:sections.all.height.mobile_height.label",
                "default": 1
              }
            ]
        },
        {
            "type": "line",
            "name": "t:blocks.line.name",
            "settings": [
              {
                "type": "header",
                "content": "t:sections.all.spacing.header.content"
              },
              {
                "type": "range",
                "id": "top_spacing",
                "min": 0,
                "max": 2,
                "step": 0.5,
                "unit": "x",
                "label": "t:sections.all.spacing.top_spacing.label",
                "default": 1
              },
              {
                "type": "range",
                "id": "bottom_spacing",
                "min": 0,
                "max": 2,
                "step": 0.5,
                "unit": "x",
                "label": "t:sections.all.spacing.bottom_spacing.label",
                "default": 1
              }
            ]
        },
        {
            "type": "custom_liquid",
            "name": "t:blocks.custom_liquid.name",
            "settings": [
              {
                "type": "liquid",
                "id": "custom_liquid",
                "label": "t:blocks.custom_liquid.settings.custom_liquid.label",
                "info": "t:blocks.custom_liquid.settings.custom_liquid.info"
              },
              {
                "type": "select",
                "id": "text_style",
                "options": [
                  {
                    "value": "caption-font",
                    "label": "t:sections.all.headings_style.options__6.label"
                  },
                  {
                    "value": "body-font",
                    "label": "t:sections.all.headings_style.options__1.label"
                  },
                  {
                    "value": "subheading-font",
                    "label": "t:sections.all.headings_style.options__2.label"
                  },
                  {
                    "value": "secondary-heading",
                    "label": "t:sections.all.headings_style.options__3.label"
                  },
                  {
                    "value": "section-heading",
                    "label": "t:sections.all.headings_style.options__4.label"
                  }
                ],
                "default": "body-font",
                "label": "t:sections.all.headings_style.text_style.label"
              }
            ]
        },
        {
            "type": "verification_buttons",
            "name": "t:sections.age_verification.blocks.verification_buttons.name",
            "settings": [
                {
                    "type": "text",
                    "id": "accept_button_label",
                    "default": "I am over 21",
                    "label": "t:sections.age_verification.blocks.verification_buttons.settings.accept_button_label.label"
                },
                {
                  "type": "text",
                  "id": "accept_button_icon",
                  "label": "t:sections.age_verification.blocks.verification_buttons.settings.accept_button_icon.label",
                  "info": "t:sections.all.icons.icon_1.info"
                },
                {
                  "type": "checkbox",
                  "id": "swap_accept_button_icon",
                  "default": false,
                  "label": "t:sections.all.icons.swap_icon_position.label"
                },
                {
                    "type": "text",
                    "id": "decline_button_label",
                    "default": "I am under 21",
                    "label": "t:sections.age_verification.blocks.verification_buttons.settings.decline_button_label.label"
                },
                {
                  "type": "text",
                  "id": "decline_button_icon",
                  "label": "t:sections.age_verification.blocks.verification_buttons.settings.decline_button_icon.label",
                  "info": "t:sections.all.icons.icon_1.info"
                },
                {
                  "type": "checkbox",
                  "id": "swap_decline_button_icon",
                  "default": false,
                  "label": "t:sections.all.icons.swap_icon_position.label"
                },
                {
                    "type": "url",
                    "id": "decline_button_link",
                    "label": "t:sections.age_verification.blocks.verification_buttons.settings.decline_button_link.label"
                },
                {
                    "type": "checkbox",
                    "id": "use_main_button",
                    "default": true,
                    "label": "t:sections.all.buttons.use_main_button.label"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "t:sections.age_verification.name",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "text"
            },
            {
              "type": "verification_buttons"
            }
          ]
        }
    ],
    "enabled_on": {
        "groups": ["custom.overlay"]
    }
}
{% endschema %}