{%- liquid
    assign disable_max_width = false
    if section.settings.disable_max_width 
      assign disable_max_width = true
    elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
      assign disable_max_width = true
    endif

    assign full_width = false
    if section.settings.full_width
      assign full_width = true
    endif

    assign section_framing = false
    if section.settings.section_framing != 'disable'
        assign section_framing = true
    endif

    assign selector_container = '#shopify-section-' | append: section.id

  assign info_card_visible = false
  if section.settings.info_card_heading != blank or section.settings.info_card_subheading != blank or section.settings.info_card_text != blank or section.settings.info_card_link != blank
    assign info_card_visible = true
  endif
-%}

{% style %}
  #shopify-section-{{ section.id }} {
    --top-spacing: {{ section.settings.top_spacing }};
    --bottom-spacing: {{ section.settings.bottom_spacing }};
    {%- if section.settings.info_card_button_radius == 'default' -%}
      --info-button-border-radius: {{ settings.buttons_radius }};
    {%- else -%}
      --info-button-border-radius: {{ section.settings.info_card_button_radius }};
    {%- endif -%}
  }
{% endstyle %}

<div class="section {% if section_framing == false or section.settings.full_width %} color-{{ section.settings.color_scheme }}{% endif %}{% unless section.settings.full_width %} side-margins{% endunless %}{% if section.settings.show_bottom_line %} bottom-line{% endif %}">
    <div class="section-container{% if section.settings.full_width == false %}{% if section.settings.section_framing == 'grid' %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}{% unless section_framing %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endunless %}{% endif %}">
        {%- if section_framing and section.settings.full_width == false -%}<div class="section-radius elem-padding-l color-{{ section.settings.color_scheme }}"><div class="{% if section.settings.section_framing != 'grid' and section.settings.full_width == false %}{{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}">{%- endif -%}
          {%- render 'cart-recommendations', cart_recommendations_settings: section.settings, is_section: true, selector_container: selector_container, full_width: full_width, info_card_visible: info_card_visible -%}
        {%- if section_framing and section.settings.full_width == false -%}</div></div>{%- endif -%}
    </div>
</div>

{% schema %}
{
  "name": "t:sections.cart-recommendations.name",
  "tag": "section",
  "class": "cart-recommendations product-recommendations",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.cart-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.all.settings_titles.heading.heading.label",
      "info": "t:sections.all.settings_titles.heading.heading.info"
    },
    {
      "type": "select",
      "id": "recommendations_heading_style",
      "options": [
        {
          "value": "caption-font",
          "label": "t:sections.all.headings_style.options__6.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        },
        {
          "value": "page-title",
          "label": "t:sections.all.headings_style.options__5.label"
        }
      ],
      "default": "section-heading",
      "label": "t:sections.all.headings_style.heading_style.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
            "value": "h1",
            "label": "t:sections.all.tag.options__1.label"
        },
        {
            "value": "h2",
            "label": "t:sections.all.tag.options__2.label"
        },
        {
            "value": "h3",
            "label": "t:sections.all.tag.options__3.label"
        },
        {
            "value": "h4",
            "label": "t:sections.all.tag.options__4.label"
        },
        {
            "value": "h5",
            "label": "t:sections.all.tag.options__5.label"
        },
        {
            "value": "h6",
            "label": "t:sections.all.tag.options__6.label"
        },
        {
            "value": "div",
            "label": "t:sections.all.tag.options__7.label"
        },
        {
            "value": "span",
            "label": "t:sections.all.tag.options__8.label"
        }, 
        {
            "value": "p",
            "label": "t:sections.all.tag.options__9.label"
        }
        ],
        "default": "h2",
        "label": "t:sections.all.tag.heading_tag.label"
    },
    {
      "type": "checkbox",
      "id": "center_text",
      "default": true,
      "label": "t:sections.all.alignment.center_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.slider.header.content"
    },
    {
      "type": "range",
      "id": "desktop_item_width",
      "min": 2,
      "max": 6.5,
      "step": 0.5,
      "label": "t:sections.all.slider.desktop_item_width.label",
      "info": "t:sections.all.slider.desktop_item_width.info",
      "default": 6.5
    },
    {
      "type": "select",
      "id": "alignment_fewer_items",
      "options": [
        {
          "value": "center",
          "label": "t:sections.all.slider.alignment_fewer_items.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.all.slider.alignment_fewer_items.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.slider.alignment_fewer_items.label"
    },
    {
      "type": "range",
      "id": "mobile_item_min_width",
      "min": 150,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.slider.mobile_item_min_width.label",
      "default": 250
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "default": true,
      "label": "t:sections.all.slider.show_arrows.label"
    },
    {
      "type": "checkbox",
      "id": "show_scrollbar",
      "default": true,
      "label": "t:sections.all.slider.show_scrollbar.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.product_card.header.content"
    },
    {
      "type": "select",
      "id": "hover_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.product_card.hover_behavior.options__1.label"
        },
        {
          "value": "image_zoom",
          "label": "t:sections.all.product_card.hover_behavior.options__2.label"
        },
        {
          "value": "second_image",
          "label": "t:sections.all.product_card.hover_behavior.options__3.label"
        },
        {
          "value": "second_image_zoom",
          "label": "t:sections.all.product_card.hover_behavior.options__4.label"
        },
        {
          "value": "slider",
          "label": "t:sections.all.product_card.hover_behavior.options__5.label"
        },
        {
          "value": "autoplay_slider",
          "label": "t:sections.all.product_card.hover_behavior.options__6.label"
        }
      ],
      "default": "second_image_zoom",
      "label": "t:sections.all.product_card.hover_behavior.label"
    },
    {
      "type": "checkbox",
      "id": "show_bullets",
      "default": true,
      "label": "t:sections.all.slider.show_bullets.label"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 2,
      "max": 5,
      "step": 0.5,
      "unit": "s",
      "label": "t:sections.all.product_card.autoplay_speed.label",
      "default": 3
    },
    {
      "type": "select",
      "id": "desktop_options",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.product_card.desktop_options.options__1.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.product_card.desktop_options.options__2.label"
        },
        {
          "value": "on_hover",
          "label": "t:sections.all.product_card.desktop_options.options__3.label"
        }
      ],
      "default": "enable",
      "label": "t:sections.all.product_card.desktop_options.label"
    },
    {
      "type": "select",
      "id": "mobile_options",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.product_card.mobile_options.options__1.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.product_card.mobile_options.options__2.label"
        }
      ],
      "default": "enable",
      "label": "t:sections.all.product_card.mobile_options.label"
    },
    {
      "type": "select",
      "id": "quick_buy",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.product_card.quick_buy.options__1.label"
        },
        {
          "value": "on_desktop",
          "label": "t:sections.all.product_card.quick_buy.options__2.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.product_card.quick_buy.options__3.label"
        }
      ],
      "default": "enable",
      "label": "t:sections.all.product_card.quick_buy.label"
    },
    {
      "type": "select",
      "id": "price_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.product_card.price_position.options__1.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.product_card.price_position.options__2.label"
        },
        {
          "value": "with_title",
          "label": "t:sections.all.product_card.price_position.options__3.label"
        }
      ],
      "default": "bottom",
      "label": "t:sections.all.product_card.price_position.label"
    },
    {
      "type": "select",
      "id": "options_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.product_card.options_position.options__1.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.product_card.options_position.options__2.label"
        }
      ],
      "default": "bottom",
      "label": "t:sections.all.product_card.options_position.label"
    },
    {
      "type": "select",
      "id": "show_vendor",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.product_card.show_vendor.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.all.product_card.show_vendor.options__2.label"
        },
        {
          "value": "image",
          "label": "t:sections.all.product_card.show_vendor.options__3.label"
        }
      ],
      "default": "text",
      "label": "t:sections.all.product_card.show_vendor.label",
      "info": "t:sections.all.product_card.show_vendor.info"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "t:sections.all.product_card.show_title.label"
    },
    {
      "type": "number",
      "id": "max_product_name_characters",
      "label": "t:sections.all.product_card.max_product_name_characters.label",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.all.product_card.show_rating.label",
      "info": "t:sections.all.product_card.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_short_description",
      "default": false,
      "label": "t:sections.all.product_card.show_short_description.label",
      "info": "t:sections.all.product_card.show_short_description.info"
    },
    {
      "type": "checkbox",
      "id": "show_pickup_availability",
      "default": false,
      "label": "t:sections.all.product_card.show_pickup_availability.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_card_border",
      "default": false,
      "label": "t:sections.all.show_frame.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.information_card.content"
    },
    {
      "type": "select",
      "id": "info_card_style",
      "options": [
        {
          "value": "show",
          "label": "t:sections.all.media.image.image_style.options__1.label"
        }, 
        {
          "value": "hide",
          "label": "t:sections.all.media.image.image_style.options__2.label"
        }, 
        {
          "value": "show_on_desktop",
          "label": "t:sections.all.media.image.image_style.options__3.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.all.settings_titles.information_card.info_card_style.label"
    },
    {
      "type": "select",
      "id": "info_card_position",
      "options": [
        {
          "value": "first",
          "label": "t:sections.all.settings_titles.information_card.position.options__1.label"
        }, 
        {
          "value": "last",
          "label": "t:sections.all.settings_titles.information_card.position.options__2.label"
        }
      ],
      "default": "first",
      "label": "t:sections.all.settings_titles.information_card.position.label"
    },
    {
      "type": "checkbox",
      "id": "info_card_center_text",
      "default": false,
      "label": "t:sections.all.alignment.center_text.label"
    },
    {
      "type": "url",
      "id": "info_card_link",
      "label": "t:sections.all.link.label"
    },
    {
      "type": "checkbox",
      "id": "info_card_target_blank",
      "default": false,
      "label": "t:sections.all.link.target_blank.label"
    },
    {
      "type": "text",
      "id": "info_card_subheading",
      "label": "t:sections.all.settings_titles.subheading.subheading.label",
      "default": "Subheading"
    },
    {
      "type": "select",
      "id": "info_card_subheading_style",
      "options": [
        {
          "value": "caption-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        }
      ],
      "default": "subheading-font",
      "label": "t:sections.all.headings_style.subheading_style.label"
    },
    {
      "type": "select",
      "id": "info_card_subheading_tag",
      "options": [
        {
            "value": "h1",
            "label": "t:sections.all.tag.options__1.label"
        },
        {
            "value": "h2",
            "label": "t:sections.all.tag.options__2.label"
        },
        {
            "value": "h3",
            "label": "t:sections.all.tag.options__3.label"
        },
        {
            "value": "h4",
            "label": "t:sections.all.tag.options__4.label"
        },
        {
            "value": "h5",
            "label": "t:sections.all.tag.options__5.label"
        },
        {
            "value": "h6",
            "label": "t:sections.all.tag.options__6.label"
        },
        {
            "value": "div",
            "label": "t:sections.all.tag.options__7.label"
        },
        {
            "value": "span",
            "label": "t:sections.all.tag.options__8.label"
        }, 
        {
            "value": "p",
            "label": "t:sections.all.tag.options__9.label"
        }
        ],
        "default": "h3",
        "label": "t:sections.all.tag.subheading_tag.label"
    },
    {
      "type": "text",
      "id": "info_card_heading",
      "label": "t:sections.all.settings_titles.heading.heading.label",
      "info": "t:sections.all.settings_titles.heading.heading.info",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "info_card_heading_style",
      "options": [
        {
          "value": "caption-font",
          "label": "t:sections.all.headings_style.options__6.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        },
        {
          "value": "page-title",
          "label": "t:sections.all.headings_style.options__5.label"
        }
      ],
      "default": "secondary-heading",
      "label": "t:sections.all.headings_style.heading_style.label"
    },
    {
      "type": "select",
      "id": "info_card_heading_tag",
      "options": [
        {
            "value": "h1",
            "label": "t:sections.all.tag.options__1.label"
        },
        {
            "value": "h2",
            "label": "t:sections.all.tag.options__2.label"
        },
        {
            "value": "h3",
            "label": "t:sections.all.tag.options__3.label"
        },
        {
            "value": "h4",
            "label": "t:sections.all.tag.options__4.label"
        },
        {
            "value": "h5",
            "label": "t:sections.all.tag.options__5.label"
        },
        {
            "value": "h6",
            "label": "t:sections.all.tag.options__6.label"
        },
        {
            "value": "div",
            "label": "t:sections.all.tag.options__7.label"
        },
        {
            "value": "span",
            "label": "t:sections.all.tag.options__8.label"
        }, 
        {
            "value": "p",
            "label": "t:sections.all.tag.options__9.label"
        }
        ],
        "default": "h2",
        "label": "t:sections.all.tag.heading_tag.label"
    },
    {
      "type": "richtext",
      "id": "info_card_text",
      "label": "t:sections.all.settings_titles.text.text.label"
    },
    {
      "type": "select",
      "id": "info_card_text_style",
      "options": [
        {
          "value": "caption-font",
          "label": "t:sections.all.headings_style.options__6.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        },
        {
          "value": "page-title",
          "label": "t:sections.all.headings_style.options__5.label"
        }
      ],
      "default": "body-font",
      "label": "t:sections.all.headings_style.text_style.label"
    },
    {
      "type": "select",
      "id": "info_card_button_style",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.buttons.button_styles.options__1.label"
        },
        {
          "value": "outlined",
          "label": "t:sections.all.buttons.button_styles.options__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.buttons.button_styles.options__3.label"
        }
      ],
      "default": "solid",
      "label": "t:sections.all.buttons.button_styles.button_style.label"
    },
    {
      "type": "select",
      "id": "info_card_button_radius",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.corner_radius.options__7.label"
        },
        {
          "value": "0px",
          "label": "t:sections.all.corner_radius.options__1.label"
        },
        {
          "value": "3px",
          "label": "t:sections.all.corner_radius.options__2.label"
        },
        {
          "value": "5px",
          "label": "t:sections.all.corner_radius.options__3.label"
        },
        {
          "value": "12px",
          "label": "t:sections.all.corner_radius.options__4.label"
        },
        {
          "value": "16px",
          "label": "t:sections.all.corner_radius.options__5.label"
        },
        {
          "value": "2000px",
          "label": "t:sections.all.corner_radius.options__6.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.corner_radius.button_radius"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.section_layout_header.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "page",
          "label": "t:sections.all.grid_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.grid_style.options__3.label"
        },
        {
          "value": "alternative",
          "label": "t:sections.all.grid_style.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.all.grid_style.label"
    },
    {
      "type": "checkbox",
      "id": "disable_max_width",
      "default": false,
      "label": "t:sections.all.disable_max_width.label"
    },
    {
      "type": "checkbox",
      "id": "disable_grid_gaps",
      "default": false,
      "label": "t:sections.all.disable_grid_gaps.label"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "t:sections.all.show_bottom_line.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "color_scheme",
      "id": "product_card_color_scheme",
      "label": "t:sections.all.colors.product_card_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "color_scheme",
      "id": "info_card_color_scheme",
      "label": "t:sections.all.colors.info_card_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "section_framing",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.section_framing.options__1.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.section_framing.options__2.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.section_framing.options__3.label"
        }
      ],
      "default": "disable",
      "label": "t:sections.all.section_framing.label",
      "info": "t:sections.all.section_framing.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.top_spacing.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.bottom_spacing.label",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.cart-recommendations.name"
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}
