{%- liquid
    assign disable_max_width = false
    if section.settings.disable_max_width 
      assign disable_max_width = true
    elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
      assign disable_max_width = true
    endif
-%}

<modal-window>
    <header class="header-password header overlap--{{ settings.overlap }}">
      <div class="overlay color-{{ settings.popup_color_scheme }} overlay-scheme--{{ settings.overlay_scheme_color }}" data-modal-toggle></div>
      <div class="color-{{ section.settings.color_scheme }} side-margins">
        <div class="header-password__wrapper {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %} flex--row">
            {%- render 'logo', object_type: section -%}
            {%- if shop.password_message != blank -%}
            <div class="password-content body-font{% if settings.uppercase_body %} uppercase{% endif %}">
                {{ shop.password_message }}
            </div>
            {%- endif -%}
            <button class="button outlined-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}" data-modal-toggle>
                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}
                {{ 'password_page.login_password_button' | t }}
                {% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
            </button>
            <div class="popup modal color-{{ settings.popup_color_scheme }} {% if settings.modal_enable_shadow %}modal--shadow{% endif %} hide-scrollbar regular">
              <div class="scroll-area hide-scrollbar">
                <div class="button-wrapper">
                    <button type="button" class="button button-close button--small close-popup icon--large" data-modal-toggle>
                      {%- render 'glyphs_interface', icon: 'close' -%}
                    </button>
                </div>
                <div class="popup-content">
                    <h2 class="header-password__heading secondary-heading {% if settings.uppercase_secondary_headings %}uppercase{% endif %}">{{ 'password_page.login_form_heading' | t }}</h2>
                    <form-state class="body-font {% if settings.uppercase_body %}uppercase{% endif %}">
                    {%- form 'storefront_password', class: 'password-form' -%}
                        {%- if form.errors -%}
                        <div class="error-color">{{ form.errors.messages['form'] }}</div>  
                        {%- endif -%}
                        <div class="fields-wrapper">
                            <div class="field password-field{% if form.errors %} password-field--error{% endif %}">
                                <label class="label" for="Password">{{ 'password_page.login_form_password_label' | t | append: '*' }}</label>
                                <input
                                    id="Password"
                                    type="password"
                                    name="password"
                                    class="input input--text required {% if form.errors %}invalid{% endif %} enter-using-password"
                                    required="required"
                                    autocomplete="current-password"
                                    {% if form.errors %}
                                    aria-invalid="true"
                                    aria-describedby="PasswordLoginForm-password-error"
                                    {%- endif -%}/> 
                            </div>
                        </div>
                        <button name="commit" class="button solid-button button--main body-font{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %} button--submit">
                            {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ 'password_page.login_form_submit' | t }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                        </button>
                    {%- endform -%}
                    </form-state>
                    <div class="header-password__have-account body-font {% if settings.uppercase_body %}uppercase{% endif %} flex--row">
                        <p>{{ 'password_page.admin_link' | t }}</p>
                        <a href="{{ shop.url }}/admin" class="link-underline">{{ 'password_page.login' | t }}</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </header>
</modal-window>

{% schema %}
{
  "name": "t:sections.password_header.name",
  "tag": "section",
  "class": "shopify-section-password-header shopify-section-header",
  "settings": [
    {
      "type": "select",
      "id": "logo_type",
      "options": [
          {
              "value": "image",
              "label": "t:blocks.logo.settings.logo_type.options__1.label"
          },
          {
              "value": "text",
              "label": "t:blocks.logo.settings.logo_type.options__2.label"
          }
      ],
      "default": "text",
      "label": "t:blocks.logo.settings.logo_type.label"
    },
    {
      "type": "image_picker",
      "id": "image_logo",
      "label": "t:blocks.logo.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "overlapping_logo",
      "label": "t:blocks.logo.settings.overlapping_logo.label"
    },
    {
      "type": "range",
      "id": "desktop_logo_width",
      "min": 40,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "t:blocks.logo.settings.desktop_logo_width.label",
      "default": 100
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 40,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:blocks.logo.settings.mobile_logo_width.label",
      "default": 100
  },
    {
      "type": "header",
      "content": "t:blocks.logo.settings.text_logo.content"
    },
    {
      "type": "text",
      "id": "text_logo",
      "label": "t:sections.all.settings_titles.text.text.label"
    },
    {
      "type": "font_picker",
      "id": "logo_font",
      "default": "ibm_plex_sans_n5",
      "label": "t:blocks.logo.settings.logo_font.label",
      "info": "t:blocks.logo.settings.logo_font.info"
    },
    {
      "type": "range",
      "id": "desktop_logo_font_size",
      "min": 11,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.logo.settings.desktop_logo_font_size.label",
      "default": 24
    },
    {
      "type": "range",
      "id": "mobile_logo_font_size",
      "min": 11,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.logo.settings.mobile_logo_font_size.label",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.section_layout_header.content"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "page",
          "label": "t:sections.all.grid_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.grid_style.options__3.label"
        },
        {
          "value": "alternative",
          "label": "t:sections.all.grid_style.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.all.grid_style.label"
    },
    {
      "type": "checkbox",
      "id": "disable_max_width",
      "default": false,
      "label": "t:sections.all.disable_max_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}