{{ 'customer.css' | asset_url | stylesheet_tag }}

{% style %}
    #shopify-section-{{ section.id }} {
        --top-spacing: {{ section.settings.top_spacing }};
        --bottom-spacing: {{ section.settings.bottom_spacing }};
    }
{% endstyle %}

<script src="{{ 'customer.js' | asset_url }}" defer="defer"></script>

<div class="section customer addresses side-margins section-container{% if section.settings.show_bottom_line %} bottom-line{% endif %}" data-customer-addresses>
    <div class="template-header customer-top flex--column page-grid {% if settings.full_width_page_grid %}disable-max-width{% endif %}">
        <h1 class="page-title {% if settings.uppercase_page_titles %}uppercase{% endif %}{% if section.settings.center_text %} center{% endif %}">
            {{ 'customer.account.title' | t }}
        </h1>
        <a class="icon-button button link-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}" href="{{ routes.account_url }}">
            {%- render 'glyphs_arrows', icon: 'arrow-left' -%}
            {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'customer.account.return' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
        </a>
    </div>
    <ul role="list" class="template-header customer-addresses page-grid {% if settings.full_width_page_grid %}disable-max-width{% endif %}">
        {%- for address in customer.addresses -%}
            <li class="customer-address" data-address>
                <h2 class="secondary-heading {% if settings.uppercase_secondary_headings %}uppercase{% endif %}">
                    {%- if address.first_name != blank or address.last_name != blank -%}<span>{{ address.first_name }} {{ address.last_name }}</span>{%- endif -%}
                    {%- if address == customer.default_address -%}<span class="default-tag caption-font{% if settings.uppercase_caption %} uppercase{% else %} none-uppercase{% endif %}">{{ 'customer.addresses.default' | t }}</span>{%- endif -%}
                </h2>
                <div class="customer-address__block body-font {% if settings.uppercase_body %}uppercase{% endif %}">{{ address | format_address }}</div>
                <div class="customer-address__actions body-font {% if settings.uppercase_body %}uppercase{% endif %}">
                    <modal-window>
                        <button
                        type="button"
                        id="EditFormButton_{{ address.id }}"
                        aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                        aria-controls="EditAddress_{{ address.id }}"
                        aria-expanded="false"
                        data-address-id="{{ address.id }}"
                        class="customer-address__action icon-button"
                        data-modal-toggle>
                            {%- render 'glyphs_interface', icon: 'edit' -%}
                            {{ 'customer.addresses.edit' | t }}
                        </button>
                        <div id="EditAddress_{{ address.id }}" class="address-edit-block modal color-{{ settings.popup_color_scheme }} popup {% if settings.modal_enable_shadow %}modal--shadow{% endif %} hide-scrollbar regular">
                            <div class="scroll-area hide-scrollbar">
                            <div class="button-wrapper">
                                <button type="button" class="button button-close button--small close-popup icon--large" data-modal-toggle>
                                    {%- render 'glyphs_interface', icon: 'close' -%}
                                </button>
                            </div>
                            <div class="popup-content">
                                <div class="address-edit-wrapper">
                                    <h2 class="secondary-heading {% if settings.uppercase_secondary_headings %}uppercase{% endif %}">{{ 'customer.addresses.edit_address' | t }}</h2>
                                    {%- form 'customer_address', address -%}
                                    <div class="fields-wrapper">
                                        <div class="fields-row">
                                        <div class="field">
                                                <label class="label" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                                <input class="input input--text" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                                            </div>
                                            <div class="field">
                                                <label class="label" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                                <input class="input input--text" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">  
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                            <input class="input input--text" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization"> 
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                            <input class="input input--text" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1"> 
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                            <input class="input input--text" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2">
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                            <input class="input input--text" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressCountry_{{ form.id }}">
                                            {{ 'customer.addresses.country' | t | append: '*' }}
                                            </label>
                                            <div class="select flex--row align-center">
                                            <select
                                                id="AddressCountry_{{ form.id }}"
                                                name="address[country]"
                                                data-address-country-select
                                                data-default="{{ form.country }}"
                                                data-form-id="{{ form.id }}"
                                                required="required"
                                                autocomplete="country"
                                                class="input">
                                                {{ all_country_option_tags }}
                                            </select>
                                            <div class="select-icon flex--row align-center">
                                                {%- render 'glyphs_arrows', icon: 'chevron-down' -%}
                                            </div>      
                                            </div>
                                        </div>
                                        <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;" class="field">
                                            <label class="label" for="AddressProvince_{{ form.id }}">
                                            {{ 'customer.addresses.province' | t }}
                                            </label>
                                            <div class="select flex--row align-center">
                                            <select
                                                id="AddressProvince_{{ form.id }}"
                                                name="address[province]"
                                                data-default="{{ form.province }}"
                                                autocomplete="address-level1"
                                                class="input">
                                            </select>
                                            <div class="select-icon flex--row align-center">
                                                {%- render 'glyphs_arrows', icon: 'chevron-down' -%}
                                            </div> 
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                            <input class="input input--text" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                                        </div>
                                        <div class="field">
                                            <label class="label" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                            <input class="input input--text" type="tel" dir="ltr" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel">
                                        </div>
                                    </div>
                                    <label class="field field--checkbox flex--row align-center" for="address_default_address_{{ form.id }}">
                                        <input-checkbox>{{ form.set_as_default_checkbox }}</input-checkbox>
                                        <span class="label">{{ 'customer.addresses.set_default' | t }}</span>
                                    </label>
                                    <div>
                                        <button type="submit" class="button solid-button body-font button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}">
                                            {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ 'customer.addresses.update' | t }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                                        </button>
                                        <button class="close-popup button-close button outlined-button button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}" type="reset"  data-modal-toggle>
                                            {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'customer.addresses.cancel' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                                        </button>
                                    </div>
                                    {%- endform -%}
                                </div>
                            </div>
                            </div>
                        </div>
                    </modal-window>
                    <button
                        type="button"
                        aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                        class="customer-address__action button-delete icon-button">
                            {%- render 'glyphs_interface', icon: 'trash' -%}
                        {{ 'customer.addresses.delete' | t }}
                    </button>
                    
                </div>
            </li>
        {%- endfor -%}
    </ul>
    <modal-window>
        <div data-address class="body-font {% if settings.uppercase_body %}uppercase{% endif %} page-grid {% if settings.full_width_page_grid %}disable-max-width{% endif %}">
            <button
            type="button"
            aria-expanded="false"
            aria-controls="AddAddress"
            class="button solid-button body-font button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %} add-address"
            data-modal-toggle>
            {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ 'customer.addresses.add_new' | t }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
            </button>
            <div id="AddAddress" class="address-edit-block modal color-{{ settings.popup_color_scheme }} popup {% if settings.modal_enable_shadow %}modal--shadow{% endif %} hide-scrollbar regular">
                <div class="scroll-area hide-scrollbar">
                <div class="button-wrapper">
                    <button type="button" class="button button-close button--small close-popup icon--large" data-modal-toggle>
                        {%- render 'glyphs_interface', icon: 'close' -%}
                    </button>
                </div>
                <div class="popup-content">
                    <div class="address-edit-wrapper">
                        <h2 class="secondary-heading {% if settings.uppercase_secondary_headings %}uppercase{% endif %}" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
                        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                        <div class="fields-wrapper">
                        <div class="fields-row">
                            <div class="field">
                                <label class="label" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                <input class="input input--text" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                            </div>
                            <div class="field">
                                <label class="label" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                <input class="input input--text" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                            <input class="input input--text" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
                        </div>
                        <div class="field">
                            <label class="label" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                            <input class="input input--text" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1">
                        </div>
                        <div class="field">
                            <label class="label" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                            <input class="input input--text" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2">
                        </div>
                        <div class="field">
                            <label class="label" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                            <input class="input input--text" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                        </div>
                        <div class="field">
                            <label class="label" for="AddressCountryNew">{{ 'customer.addresses.country' | t | append: '*' }}</label>
                            <div class="select flex--row align-center">
                            <select
                                id="AddressCountryNew"
                                name="address[country]"
                                required="required"
                                data-default="{{ form.country }}"
                                autocomplete="country"
                                class="input">
                                {{ all_country_option_tags }}
                            </select>
                            <div class="select-icon flex--row align-center">
                                {%- render 'glyphs_arrows', icon: 'chevron-down' -%}
                            </div> 
                            </div>
                        </div>
                        <div id="AddressProvinceContainerNew" style="display: none" class="field">
                            <label class="label" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                            <div class="select flex--row align-center">
                            <select
                                id="AddressProvinceNew"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                                class="input">
                            </select>
                            <div class="select-icon flex--row align-center">
                                {%- render 'glyphs_arrows', icon: 'chevron-down' -%}
                            </div> 
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                            <input class="input input--text" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                            </div>
                            <div class="field">
                            <label class="label" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                            <input class="input input--text" type="tel" dir="ltr" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel">
                        </div>
                        </div>
                        <label class="field field--checkbox flex--row align-center" for="address_default_address_new">
                            <input-checkbox>{{ form.set_as_default_checkbox }}</input-checkbox>
                            <span class="label">{{ 'customer.addresses.set_default' | t }}</span>
                        </label>
                        <div>
                            <button class="button solid-button body-font button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}">
                                {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ 'customer.addresses.add' | t }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                            </button>
                            <button class="close-popup button-close button outlined-button button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}" type="reset" data-modal-toggle>
                                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ 'customer.addresses.cancel' | t }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                            </button>
                        </div>
                        {%- endform -%}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </modal-window>
</div>

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>

{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
        "type": "checkbox",
        "id": "show_bottom_line",
        "default": false,
        "label": "t:sections.all.show_bottom_line.label"
    },
    {
        "type": "checkbox",
        "id": "center_text",
        "default": true,
        "label": "t:sections.all.alignment.center_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.top_spacing.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.bottom_spacing.label",
      "default": 1
    }
  ]
}
{% endschema %}