{% if section.settings.page != blank or request.design_mode %}
{%- liquid
    assign disable_max_width = false
    if section.settings.disable_max_width 
      assign disable_max_width = true
    elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
      assign disable_max_width = true
    endif

    assign section_framing = false
    if section.settings.section_framing != 'disable'
        assign section_framing = true
    endif
-%}

{% style %}
    #shopify-section-{{ section.id }} {
        --top-spacing: {{ section.settings.top_spacing }};
        --bottom-spacing: {{ section.settings.bottom_spacing }};
    }
{% endstyle %}

<div class="section{% unless section_framing %} color-{{ section.settings.color_scheme }}{% endunless %} side-margins{% if section.settings.show_bottom_line %} bottom-line{% endif %}">
  <div class="page section-container{% if section.settings.section_framing == 'grid' %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}{% unless section_framing %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endunless %}">
    {% if section_framing %}<div class="section-radius elem-padding-l color-{{ section.settings.color_scheme }}"><div {% if section.settings.section_framing != 'grid' %}class="{{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}"{% endif %}>{% endif %}
        {% unless section.settings.hide_heading %}
            <div class="section-header">
              {%- liquid
                assign uppercase_heading = false
                if section.settings.heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                    assign uppercase_heading = true
                elsif section.settings.heading_style == 'section-heading' and settings.uppercase_section_headings
                    assign uppercase_heading = true
                elsif section.settings.heading_style == 'page-title' and settings.uppercase_page_titles
                    assign uppercase_heading = true
                elsif section.settings.heading_style == 'subheading-font' and settings.uppercase_subheadings
                    assign uppercase_heading = true
                elsif section.settings.heading_style == 'body-font' and settings.uppercase_body
                    assign uppercase_heading = true
                elsif section.settings.heading_style == 'caption-font' and settings.uppercase_caption
                    assign uppercase_heading = true
                endif
              -%}
                <{{ section.settings.heading_tag }} class="page__title custom-heading {{ section.settings.heading_style }}{% if uppercase_heading %} uppercase{% endif %}">
                    {% if section.settings.page != blank %}
                        {% if section.settings.heading != blank %}
                          {% liquid
                            assign heading_text = section.settings.heading
                            assign processed_text = ''
                            assign split_text = heading_text | split: '['

                            for part in split_text
                              if part contains ']'
                                assign split_bracket = part | split: ']'
                                assign highlight_text = split_bracket[0]
                                assign after_bracket = split_bracket[1]
                                assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                              else
                                assign processed_text = processed_text | append: part
                              endif
                            endfor

                            assign final_text = ''
                            assign split_text_curly = processed_text | split: '{'

                            for part in split_text_curly
                              if part contains '}'
                                assign split_curly = part | split: '}'
                                assign styled_text = split_curly[0]
                                assign after_curly = split_curly[1]
                                assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                              else
                                assign final_text = final_text | append: part
                              endif
                            endfor
                          %}
                            {{ final_text }}
                        {% else %}
                            {{ section.settings.page.title | escape }}
                        {% endif %}
                    {% else %}
                        {{ 'sections.page.heading' | t }}
                    {% endif %}
                </{{ section.settings.heading_tag }}>
            </div>
        {% endunless %}
        {% liquid 
          assign uppercase_headings = false
          if section.settings.rte_heading_style == 'body-font' and settings.uppercase_body
            assign uppercase_headings = true
          elsif section.settings.rte_heading_style == 'subheading-font' and settings.uppercase_subheadings
            assign uppercase_headings = true
          elsif section.settings.rte_heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
            assign uppercase_headings = true
          elsif section.settings.rte_heading_style == 'section-heading' and settings.uppercase_section_headings
              assign uppercase_headings = true
          elsif section.settings.rte_heading_style == 'page-title' and settings.uppercase_page_titles
              assign uppercase_headings = true
          endif
        %}
        <div class="page__content heading-style-{{ section.settings.rte_heading_style }} {% if section.settings.rte_heading_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} heading-style-subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} heading-style-bold{% endif %}{% endif %}
          {% if section.settings.page != blank %}rte{% endif %} body-font{% if settings.uppercase_body %} uppercase{% endif %}{% if uppercase_headings %} headings-uppercase{% endif %}">
            {% if section.settings.page != blank %}
                {{ section.settings.page.content }}
            {% else %}
                <div class="placeholder"></div>
                <svg class="page-placeholder placeholder-content" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M41.1046 5.33301H10.667V58.6663H53.3337V17.5621L41.1046 5.33301ZM52.0003 57.333H12.0003V6.66634H40.5523L52.0003 18.1143V57.333ZM21.3337 27.9997H42.667V26.6663H21.3337V27.9997ZM21.3337 37.333H37.3337V35.9997H21.3337V37.333Z"/>
                    </g>
                </svg>
            {% endif %}
        </div>
    {% if section_framing %}</div></div>{% endif %}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.all.settings_titles.page.page.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.settings_titles.heading.custom_heading.label",
      "info": "t:sections.all.settings_titles.heading.heading.info"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "caption-font",
          "label": "t:sections.all.headings_style.options__6.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        },
        {
          "value": "page-title",
          "label": "t:sections.all.headings_style.options__5.label"
        }
      ],
      "default": "section-heading",
      "label": "t:sections.all.headings_style.heading_style.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
            "value": "h1",
            "label": "t:sections.all.tag.options__1.label"
        },
        {
            "value": "h2",
            "label": "t:sections.all.tag.options__2.label"
        },
        {
            "value": "h3",
            "label": "t:sections.all.tag.options__3.label"
        },
        {
            "value": "h4",
            "label": "t:sections.all.tag.options__4.label"
        },
        {
            "value": "h5",
            "label": "t:sections.all.tag.options__5.label"
        },
        {
            "value": "h6",
            "label": "t:sections.all.tag.options__6.label"
        },
        {
            "value": "div",
            "label": "t:sections.all.tag.options__7.label"
        },
        {
            "value": "span",
            "label": "t:sections.all.tag.options__8.label"
        }, 
        {
            "value": "p",
            "label": "t:sections.all.tag.options__9.label"
        }
        ],
        "default": "h2",
        "label": "t:sections.all.tag.heading_tag.label"
    },
    {
      "type": "checkbox",
      "id": "hide_heading",
      "default": false,
      "label": "t:sections.all.settings_titles.heading.hide_heading.label"
    },
    {
      "type": "select",
      "id": "rte_heading_style",
      "options": [
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        },
        {
          "value": "page-title",
          "label": "t:sections.all.headings_style.options__5.label"
        }
      ],
      "default": "section-heading",
      "label": "t:sections.all.headings_style.richtext_heading_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.section_layout_header.content"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "page",
          "label": "t:sections.all.grid_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.grid_style.options__3.label"
        },
        {
          "value": "alternative",
          "label": "t:sections.all.grid_style.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.all.grid_style.label"
    },
    {
      "type": "checkbox",
      "id": "disable_max_width",
      "default": false,
      "label": "t:sections.all.disable_max_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "t:sections.all.show_bottom_line.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "section_framing",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.section_framing.options__1.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.section_framing.options__2.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.section_framing.options__3.label"
        }
      ],
      "default": "disable",
      "label": "t:sections.all.section_framing.label",
      "info": "t:sections.all.section_framing.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.top_spacing.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.bottom_spacing.label",
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  }
}
{% endschema %}