{% if section.blocks.size > 0 %}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign disable_max_width = false
    if section.settings.disable_max_width 
      assign disable_max_width = true
    elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
      assign disable_max_width = true
    elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
      assign disable_max_width = true
    endif

    assign max_width = '100vw'
    if disable_max_width == false and section.settings.grid_style == 'page'
        assign max_width = settings.page_width | append: 'px'
    elsif disable_max_width == false and section.settings.grid_style == 'alternative'
        assign max_width = settings.alt_grid_width | append: 'px'
    elsif disable_max_width == false and section.settings.grid_style == 'secondary'
        assign max_width = settings.second_grid_width | append: 'px'
    endif

    assign section_framing = false
    if section.settings.section_framing != 'disable'
        assign section_framing = true
    endif
-%}

{% style %}
    #shopify-section-{{ section.id }} {
        --top-spacing: {{ section.settings.top_spacing }};
        --bottom-spacing: {{ section.settings.bottom_spacing }};
    }
{% endstyle %}

<div class="section{% unless section_framing %} color-{{ section.settings.color_scheme }}{% endunless %} side-margins{% if section.settings.show_bottom_line %} bottom-line{% endif %}">
    <div class="section-container{% if section.settings.section_framing == 'grid' %} rich-text {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}{% unless section_framing %} rich-text {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endunless %}{% if section.settings.center_text %} center{% endif %}">
        {%- if section_framing -%}<div class="section-radius elem-padding-l color-{{ section.settings.color_scheme }}"><div class="{% if section.settings.section_framing != 'grid' %}rich-text {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}{% if section.settings.center_text %} center{% endif %}">{%- endif -%}
          <div class="content-width--{{ section.settings.content_width }}">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'heading' -%}
                      {%- if block.settings.heading != blank -%}
                        {%- liquid
                          assign uppercase_heading = false
                          if block.settings.heading_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_heading = true
                          elsif block.settings.heading_style == 'body-font' and settings.uppercase_body
                              assign uppercase_heading = true
                          elsif block.settings.heading_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_heading = true
                          elsif block.settings.heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                              assign uppercase_heading = true
                          elsif block.settings.heading_style == 'section-heading' and settings.uppercase_section_headings
                              assign uppercase_heading = true
                          elsif block.settings.heading_style == 'page-title' and settings.uppercase_page_titles
                              assign uppercase_heading = true
                          endif

                          assign heading_text = block.settings.heading
                          
                          assign processed_text = ''
                          assign split_text = heading_text | split: '['

                          for part in split_text
                            if part contains ']'
                              assign split_bracket = part | split: ']'
                              assign highlight_text = split_bracket[0]
                              assign after_bracket = split_bracket[1]
                              assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                            else
                              assign processed_text = processed_text | append: part
                            endif
                          endfor

                          
                          assign final_text = ''
                          assign split_text_curly = processed_text | split: '{'

                          for part in split_text_curly
                            if part contains '}'
                              assign split_curly = part | split: '}'
                              assign styled_text = split_curly[0]
                              assign after_curly = split_curly[1]
                              assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                            else
                              assign final_text = final_text | append: part
                            endif
                          endfor
                        -%}
                        <{{ block.settings.heading_tag }} class="section-block custom-heading heading-block {{ block.settings.heading_style }}{% if uppercase_heading %} uppercase{% endif %}{% if block.settings.heading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" {{ block.shopify_attributes }}>
                          {% if block.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if block.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                        </{{ block.settings.heading_tag }}>                      {%- endif -%}
                    {%- when 'subheading' -%}
                      {%- if block.settings.subheading != blank -%}
                        {%- liquid
                          assign uppercase_subheading = false
                          if block.settings.subheading_style == 'section-heading' and settings.uppercase_section_headings
                            assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'body-font' and settings.uppercase_body
                              assign uppercase_subheading = true
                          elsif block.settings.subheading_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_subheading = true
                          endif
                        -%}
                        <{{ block.settings.subheading_tag }} class="section-block subheading-block {{ block.settings.subheading_style }}{% if uppercase_subheading %} uppercase{% endif %}{% if block.settings.subheading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" {{ block.shopify_attributes }}>
                          {% if block.settings.subheading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ block.settings.subheading }}{% if block.settings.subheading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                        </{{ block.settings.subheading_tag }}>
                      {%- endif -%}
                    {%- when 'text' -%}
                      {%- if block.settings.text != blank -%}
                        {%- liquid
                          assign uppercase_text = false
                          if block.settings.text_style == 'section-heading' and settings.uppercase_section_headings
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'body-font' and settings.uppercase_body
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_text = true
                          endif
                          assign uppercase_headings = false
                          if block.settings.richtext_heading_style == 'body-font' and settings.uppercase_body
                            assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'subheading-font' and settings.uppercase_subheadings
                            assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'section-heading' and settings.uppercase_section_headings
                              assign uppercase_headings = true
                          elsif block.settings.richtext_heading_style == 'page-title' and settings.uppercase_page_titles
                              assign uppercase_headings = true
                          endif
                        -%}
                        <div class="section-block richtext heading-style-{{ block.settings.richtext_heading_style }} {% if block.settings.richtext_heading_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} heading-style-subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} heading-style-bold{% endif %}{% endif %}
                          rte link-underline{% if uppercase_headings %} headings-uppercase{% endif %} {{ block.settings.text_style }}{% if uppercase_text %} uppercase{% endif %} 
                          {% if block.settings.text_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} bold{% endif %}{% endif %}" {{ block.shopify_attributes }}>
                              {{ block.settings.text }}
                        </div>
                      {%- endif -%}
                    {%- when 'custom_liquid' -%}
                      {%- if block.settings.custom_liquid != blank -%}
                        {%- liquid
                          assign uppercase_text = false
                          if block.settings.text_style == 'section-heading' and settings.uppercase_section_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'secondary-heading' and settings.uppercase_secondary_headings
                            assign uppercase_text = true
                          elsif block.settings.text_style == 'subheading-font' and settings.uppercase_subheadings
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'body-font' and settings.uppercase_body
                              assign uppercase_text = true
                          elsif block.settings.text_style == 'caption-font' and settings.uppercase_caption
                              assign uppercase_text = true
                          endif
                        -%}
                        <div class="custom-liquid {{ block.settings.text_style }}{% if uppercase_text %} uppercase{% endif %} 
                          {% if block.settings.text_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} bold{% endif %}{% endif %}" {{ block.shopify_attributes }}>
                          {{ block.settings.custom_liquid }}
                        </div>
                      {%- endif -%}
                    {%- when 'context_image' -%}
                        {%- liquid
                          render 'context-image', location: block, block_shopify_attributes: true, section_block: true -%}
                    {%- when 'block_image' -%}
                        {%- liquid
                          render 'block-image', block: block, max_width: max_width, max_block_width: max_width -%}
                    {%- when 'button' -%}
                        {%- liquid
                          render 'button', block: block -%}
                    {%- when 'icon' -%}
                        {%- liquid
                          render 'block-icon', block: block -%}
                    {%- when 'video_button' -%}
                        {%- render 'video-button', block: block -%}
                    {%- when 'empty_space' -%}
                        {%- render 'empty-space', block: block -%}
                    {%- when 'line' -%}
                        {%- render 'line', block: block -%}
                    {%- when 'promo_code' -%}
                        {%- render 'promo-code', block: block, promo_code: block.settings.promo_code -%}
                    {%- when 'countdown_timer' -%}
                      {{ 'component-countdown-timer.css' | asset_url | stylesheet_tag }}
                      {%- render 'countdown-timer', block: block, section_id: section.id -%}
                {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- if section_framing -%}</div></div>{%- endif -%}
    </div>
</div> 
{% endif %}

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "rich-text",
  "settings": [
    {
      "type": "checkbox",
      "id": "center_text",
      "default": false,
      "label": "t:sections.all.alignment.center_text.label"
    },
    {
      "type": "select",
      "id": "content_width",
      "options": [
        {
          "value": "wide",
          "label": "t:sections.all.content_width.options__1.label"
        }, 
        {
          "value": "narrow",
          "label": "t:sections.all.content_width.options__2.label"
        }, 
        {
          "value": "sup_narrow",
          "label": "t:sections.all.content_width.options__3.label"
        }
      ],
      "default": "wide",
      "label": "t:sections.all.settings_titles.content_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.section_layout_header.content"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "page",
          "label": "t:sections.all.grid_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.grid_style.options__3.label"
        },
        {
          "value": "alternative",
          "label": "t:sections.all.grid_style.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.all.grid_style.label"
    },
    {
      "type": "checkbox",
      "id": "disable_max_width",
      "default": false,
      "label": "t:sections.all.disable_max_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "t:sections.all.show_bottom_line.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "section_framing",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.section_framing.options__1.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.section_framing.options__2.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.section_framing.options__3.label"
        }
      ],
      "default": "disable",
      "label": "t:sections.all.section_framing.label",
      "info": "t:sections.all.section_framing.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.top_spacing.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.bottom_spacing.label",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.settings_titles.heading.heading.label",
          "info": "t:sections.all.settings_titles.heading.heading.info",
          "default": "Heading [highlighted text] and {styled text}"
        },
        {
          "type": "select",
          "id": "heading_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "section-heading",
          "label": "t:sections.all.headings_style.heading_style.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h2",
            "label": "t:sections.all.tag.heading_tag.label"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:blocks.subheading.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.settings_titles.subheading.subheading.label",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "subheading_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            }
          ],
          "default": "subheading-font",
          "label": "t:sections.all.headings_style.subheading_style.label"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h3",
            "label": "t:sections.all.tag.subheading_tag.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.all.settings_titles.text.text.label",
          "default": "<p>Pair text with image or loop video to focus on your featured product, collection, or promotion. Tell a story, describe your brand or share announcements.</p>"
        },
        {
          "type": "select",
          "id": "richtext_heading_style",
          "options": [
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "section-heading",
          "label": "t:sections.all.headings_style.richtext_heading_style.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            }
          ],
          "default": "body-font",
          "label": "t:sections.all.headings_style.text_style.label"
        }
      ]
    },
    {
      "type": "block_image",
      "name": "t:blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "t:sections.all.media.image.image.label"
        },
        {
          "type": "select",
          "id": "desktop_media_ratio",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.media.media_ratio.options__1.label"
            },
            {
              "value": "1/1",
              "label": "t:sections.all.media.media_ratio.options__2.label"
            },
            {
              "value": "4/5",
              "label": "t:sections.all.media.media_ratio.options__3.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.media.media_ratio.options__4.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.media.media_ratio.options__5.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.media.media_ratio.options__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.media.media_ratio.options__7.label"
            },
            {
              "value": "4/1",
              "label": "t:sections.all.media.media_ratio.options__8.label"
            }
          ],
          "default": "auto",
          "label": "t:sections.all.media.media_ratio.label"
        },
        {
          "type": "select",
          "id": "block_image_radius",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.corner_radius.options__7.label"
            },
            {
              "value": "0px",
              "label": "t:sections.all.corner_radius.options__1.label"
            },
            {
              "value": "3px",
              "label": "t:sections.all.corner_radius.options__2.label"
            },
            {
              "value": "5px",
              "label": "t:sections.all.corner_radius.options__3.label"
            },
            {
              "value": "12px",
              "label": "t:sections.all.corner_radius.options__4.label"
            },
            {
              "value": "16px",
              "label": "t:sections.all.corner_radius.options__5.label"
            },
            {
              "value": "2000px",
              "label": "t:sections.all.corner_radius.options__6.label"
            }
          ],
          "default": "default",
          "label": "t:sections.all.corner_radius.label"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.all.media.image.mobile_image.label"
        },
        {
          "type": "select",
          "id": "mobile_media_ratio",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.media.media_ratio.options__1.label"
            },
            {
              "value": "1/1",
              "label": "t:sections.all.media.media_ratio.options__2.label"
            },
            {
              "value": "4/5",
              "label": "t:sections.all.media.media_ratio.options__3.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.media.media_ratio.options__4.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.media.media_ratio.options__5.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.media.media_ratio.options__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.media.media_ratio.options__7.label"
            },
            {
              "value": "4/1",
              "label": "t:sections.all.media.media_ratio.options__8.label"
            }
          ],
          "default": "auto",
          "label": "t:sections.all.media.media_ratio.label"
        },
        {
          "type": "url",
          "id": "block_image_link",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "default": false,
          "label": "t:sections.all.link.target_blank.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.settings_titles.label.label",
          "default": "Discover"
        },
        {
          "type": "text",
          "id": "button_icon",
          "label": "t:sections.all.icons.icon.label",
          "info": "t:sections.all.icons.icon.info"
        },
        {
          "type": "checkbox",
          "id": "swap_button_icon",
          "default": false,
          "label": "t:sections.all.icons.swap_icon_position.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "default": false,
          "label": "t:sections.all.link.target_blank.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_styles.options__1.label"
            },
            {
              "value": "outlined",
              "label": "t:sections.all.buttons.button_styles.options__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_styles.options__3.label"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.buttons.button_styles.button_style.label"
        },
        {
          "type": "checkbox",
          "id": "use_main_button",
          "default": false,
          "label": "t:sections.all.buttons.use_main_button.label"
        }
      ]
    },
    {
      "type": "video_button",
      "name": "t:blocks.video_button.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:blocks.video_button.paragraph.content"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.all.media.video.video_url.label",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.buttons.button_label.label",
          "default": "Watch now"
        },
        {
          "type": "text",
          "id": "video_alt",
          "label": "t:sections.all.media.video.video_alt.label",
          "info": "t:sections.all.media.video.video_alt.info"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_styles.options__1.label"
            },
            {
              "value": "outlined",
              "label": "t:sections.all.buttons.button_styles.options__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_styles.options__3.label"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.buttons.button_styles.button_style.label"
        },
        {
          "type": "checkbox",
          "id": "use_main_button",
          "default": false,
          "label": "t:sections.all.buttons.use_main_button.label"
        }
      ]
    },
    {
      "type": "context_image",
      "name": "t:blocks.context_image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "context_image",
          "label": "t:sections.all.media.image.image.label"
        },
        {
          "type": "range",
          "id": "context_image_width",
          "min": 40,
          "max": 800,
          "step": 8,
          "unit": "px",
          "default": 120,
          "label": "t:blocks.context_image.settings.image_width.label"
        },
        {
          "type": "select",
          "id": "context_media_ratio",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.media.media_ratio.options__1.label"
            },
            {
              "value": "1/1",
              "label": "t:sections.all.media.media_ratio.options__2.label"
            },
            {
              "value": "4/5",
              "label": "t:sections.all.media.media_ratio.options__3.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.media.media_ratio.options__4.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.media.media_ratio.options__5.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.media.media_ratio.options__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.media.media_ratio.options__7.label"
            },
            {
              "value": "4/1",
              "label": "t:sections.all.media.media_ratio.options__8.label"
            }
          ],
          "default": "auto",
          "label": "t:sections.all.media.media_ratio.label"
        },
        {
          "type": "select",
          "id": "context_image_radius",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.corner_radius.options__7.label"
            },
            {
              "value": "0px",
              "label": "t:sections.all.corner_radius.options__1.label"
            },
            {
              "value": "3px",
              "label": "t:sections.all.corner_radius.options__2.label"
            },
            {
              "value": "5px",
              "label": "t:sections.all.corner_radius.options__3.label"
            },
            {
              "value": "12px",
              "label": "t:sections.all.corner_radius.options__4.label"
            },
            {
              "value": "16px",
              "label": "t:sections.all.corner_radius.options__5.label"
            },
            {
              "value": "2000px",
              "label": "t:sections.all.corner_radius.options__6.label"
            }
          ],
          "default": "default",
          "label": "t:sections.all.corner_radius.label"
        },
        {
          "type": "url",
          "id": "context_image_link",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "checkbox",
          "id": "context_target_blank",
          "default": false,
          "label": "t:sections.all.link.target_blank.label"
        }
      ]
    },
    {
      "type": "icon",
      "name": "t:blocks.icon.name",
      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "t:sections.all.icons.icon.label",
          "info": "t:sections.all.icons.icon.info"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 24,
          "max": 400,
          "step": 4,
          "unit": "px",
          "default": 48,
          "label": "t:sections.icons-with-text.settings.icon_or_image_size.label"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:blocks.icon.settings.color.label",
          "info": "t:blocks.icon.settings.color.info",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "mobile_color",
          "label": "t:blocks.icon.settings.mobile_color.label",
          "info": "t:blocks.icon.settings.color.info",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "mobile_icon_size",
          "min": 24,
          "max": 400,
          "step": 4,
          "unit": "px",
          "default": 48,
          "label": "t:blocks.icon.settings.mobile_icon_size.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "default": false,
          "label": "t:sections.all.link.target_blank.label"
        }
      ]
    },
    {
      "type": "line",
      "name": "t:blocks.line.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.spacing.header.content"
        },
        {
          "type": "range",
          "id": "top_spacing",
          "min": 0,
          "max": 2,
          "step": 0.5,
          "unit": "x",
          "label": "t:sections.all.spacing.top_spacing.label",
          "default": 1
        },
        {
          "type": "range",
          "id": "bottom_spacing",
          "min": 0,
          "max": 2,
          "step": 0.5,
          "unit": "x",
          "label": "t:sections.all.spacing.bottom_spacing.label",
          "default": 1
        }
      ]
    },
    {
      "type": "empty_space",
      "name": "t:blocks.empty_space.name",
      "settings": [
        {
          "type": "range",
          "id": "desktop_height",
          "min": 0,
          "max": 4,
          "step": 0.5,
          "unit": "x",
          "label": "t:sections.all.height.desktop_height.label",
          "default": 1
        },
        {
          "type": "range",
          "id": "mobile_height",
          "min": 0,
          "max": 4,
          "step": 0.5,
          "unit": "x",
          "label": "t:sections.all.height.mobile_height.label",
          "default": 1
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:blocks.custom_liquid.settings.custom_liquid.info"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            }
          ],
          "default": "body-font",
          "label": "t:sections.all.headings_style.text_style.label"
        }
      ]
    },
    {
      "type": "promo_code",
      "name": "t:blocks.promo_code.name",
      "settings": [
          {
              "type": "text",
              "id": "promo_code",
              "default": "Promo code",
              "label": "t:blocks.promo_code.settings.promo_code.label"
          },
          {
              "type": "select",
              "id": "text_style",
              "options": [
                {
                  "value": "caption-font",
                  "label": "t:sections.all.headings_style.options__6.label"
                },
                {
                  "value": "body-font",
                  "label": "t:sections.all.headings_style.options__1.label"
                },
                {
                  "value": "subheading-font",
                  "label": "t:sections.all.headings_style.options__2.label"
                },
                {
                  "value": "secondary-heading",
                  "label": "t:sections.all.headings_style.options__3.label"
                },
                {
                  "value": "section-heading",
                  "label": "t:sections.all.headings_style.options__4.label"
                }
              ],
              "default": "body-font",
              "label": "t:sections.all.headings_style.text_style.label"
          }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "t:blocks.countdown_timer.name",
      "settings": [
        {
          "type": "text",
          "id": "countdown_end_date",
          "label": "t:blocks.countdown_timer.settings.end_date.label",
          "info": "t:blocks.countdown_timer.settings.end_date.info"
        },
        {
          "type": "text",
          "id": "countdown_end_time",
          "label": "t:blocks.countdown_timer.settings.end_time.label",
          "info": "t:blocks.countdown_timer.settings.end_time.info"
        },
        {
          "type": "select",
          "id": "countdown_expiration_action",
          "label": "t:blocks.countdown_timer.settings.expiration_action.label",
          "options": [
            {
              "value": "hide_timer",
              "label": "t:blocks.countdown_timer.settings.expiration_action.hide_timer.label"
            },
            {
              "value": "show_zeros",
              "label": "t:blocks.countdown_timer.settings.expiration_action.show_zeros.label"
            },
            {
              "value": "show_message",
              "label": "t:blocks.countdown_timer.settings.expiration_action.show_message.label"
            },
            {
              "value": "show_zeros_and_message",
              "label": "t:blocks.countdown_timer.settings.expiration_action.show_zeros_and_message.label"
            }
          ],
          "default": "hide_timer"
        },
        {
          "type": "richtext",
          "id": "countdown_complete_message",
          "label": "t:blocks.countdown_timer.settings.complete_message.label"
        },
        {
          "type": "checkbox",
          "id": "countdown_enable_animation",
          "label": "t:blocks.countdown_timer.settings.enable_animation.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:blocks.countdown_timer.settings.headers.timer_style.label"
        },
        {
          "type": "select",
          "id": "countdown_timer_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "label": "t:sections.all.headings_style.text_style.label",
          "default": "subheading-font"
        },
        {
          "type": "checkbox",
          "id": "countdown_make_timer_font_bolder",
          "label": "t:settings_schema.typography.settings.bolder_font.label",
          "default": false
        },
        {
          "type": "color",
          "id": "countdown_text_color",
          "label": "t:blocks.countdown_timer.settings.text_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "countdown_show_background",
          "label": "t:sections.all.background.show_background.label",
          "default": true
        },
        {
          "type": "color",
          "id": "countdown_background_color",
          "label": "t:sections.all.background.background_color.label",
          "default": "#e8e8e8"
        },
        {
          "type": "color_background",
          "id": "countdown_background_gradient",
          "label": "t:sections.all.background.background_gradient.label",
          "default": "linear-gradient(180deg, rgba(235, 235, 235, 1), rgba(255, 255, 255, 1) 100%)"
        },
        {
          "type": "range",
          "id": "countdown_corner_radius",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 2,
          "label": "t:sections.all.corner_radius.label"
        },
        {
          "type": "checkbox",
          "id": "countdown_show_outline",
          "label": "t:sections.all.outline.show_outline.label",
          "default": true
        },
        {
          "type": "color",
          "id": "countdown_outline_color",
          "label": "t:sections.all.outline.outline_color.label",
          "default": "#dcdcdc"
        },
        {
          "type": "header",
          "content": "t:blocks.countdown_timer.settings.headers.labels_style.label"
        },
        {
          "type": "checkbox",
          "id": "countdown_show_labels",
          "label": "t:blocks.countdown_timer.settings.show_labels.label",
          "default": true
        },
        {
          "type": "select",
          "id": "countdown_labels_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            }
          ],
          "label": "t:sections.all.headings_style.text_style.label",
          "default": "body-font"
        },
        {
          "type": "checkbox",
          "id": "countdown_make_labels_font_bolder",
          "label": "t:settings_schema.typography.settings.bolder_font.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "countdown_make_labels_uppercase",
          "label": "t:settings_schema.typography.settings.uppercase.label",
          "default": false
        },
        {
          "type": "color",
          "id": "countdown_labels_color",
          "label": "t:blocks.countdown_timer.settings.labels_color.label",
          "default": "#565656"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": [
      "footer"
    ]
  }
}
{% endschema %}