{% if request.design_mode or section.settings.first_image != blank or section.settings.second_image != blank %}
    {{ 'section-banner.css' | asset_url | stylesheet_tag }}
    {{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
    {{ 'scrolling-promotion.css' | asset_url | stylesheet_tag }}
    
    {%- liquid
        assign disable_max_width = false
        if section.settings.disable_max_width 
          assign disable_max_width = true
        elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
          assign disable_max_width = true
        elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
          assign disable_max_width = true
        elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
          assign disable_max_width = true
        endif
    
        assign disable_max_width_container = disable_max_width
    
        assign max_width = '100vw'
        if disable_max_width == false and section.settings.grid_style == 'page'
            assign max_width = settings.page_width | append: 'px'
        elsif disable_max_width == false and section.settings.grid_style == 'alternative'
            assign max_width = settings.alt_grid_width | append: 'px'
        elsif disable_max_width == false and section.settings.grid_style == 'secondary'
            assign max_width = settings.second_grid_width | append: 'px'
        endif
        if section.settings.full_width
          assign max_width = '100vw'
          assign disable_max_width = true
        endif
    
        assign section_images = 1
        if section.settings.first_image != blank and section.settings.second_image != blank
          assign section_images = 2
        endif
    
        assign section_framing = false
        if section.settings.section_framing != 'disable'
            assign section_framing = true
        endif

        assign uppercase_font = false
        if section.settings.font_style == 'secondary-heading' and settings.uppercase_secondary_headings
            assign uppercase_font = true
        elsif section.settings.font_style == 'section-heading' and settings.uppercase_section_headings
            assign uppercase_font = true
        elsif section.settings.font_style == 'page-title' and settings.uppercase_page_titles
            assign uppercase_font = true
        elsif section.settings.font_style == 'subheading-font' and settings.uppercase_subheadings
            assign uppercase_font = true
        elsif section.settings.font_style == 'body-font' and settings.uppercase_body
            assign uppercase_font = true
        elsif section.settings.font_style == 'caption-font' and settings.uppercase_caption
            assign uppercase_font = true
        endif

        assign lazy_loading_images = false
        assign onload_script = ''
        assign loading_images = ''
        assign loading_images_promotion = ''
        assign onload_script_promotion = ''
        if section.index > 2 and settings.images_loading != 'disable'
          assign lazy_loading_images = true
          assign onload_script = 'this.parentNode.classList.add("lazyloaded");'
          assign loading_images = 'lazy'
        endif
        if settings.images_loading != 'disable'
          assign loading_images_promotion = 'lazy'
          assign onload_script_promotion = 'this.parentNode.classList.add("lazyloaded");'
        endif
    -%}
    
    {% style %}
        #shopify-section-{{ section.id }} {
            --top-spacing: {{ section.settings.top_spacing }};
            --bottom-spacing: {{ section.settings.bottom_spacing }};
            {% if section.settings.desktop_height_type == 'pixels' %}
            --height: {{ section.settings.desktop_pixels_height }}px;
            {% endif %}
            --vertical-position: {{ section.settings.vertical_content_position }};
            --horizontal-position: center;
            --banner-overlay-opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
            --line-paddings: {{ section.settings.line_padding }}px;
            --gap-items: {{ section.settings.gap_items }}px;
        }
        {% if section.settings.overlap == 'enable' %}
          body:not(.search-modal--open):not(.mega-menu-opened) .shopify-section-header.overlap-enable:not(.animate):has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--enable) .header > div,
          body:not(.search-modal--open) .shopify-section-password-header.overlap-enable:has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--enable) .header-password > div {
            --layout-text-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_text_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_text_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_text_color.blue }};
            --layout-bg-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_background_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_background_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_background_color.blue }};
            {% if section.settings.overlapped_header_color_scheme.settings.layout_background_gradient != empty %}
              --bg-gradient: {{ section.settings.overlapped_header_color_scheme.settings.layout_background_gradient }};
            {% else %}
              --bg-gradient: {{ section.settings.overlapped_header_color_scheme.settings.layout_background_color }};
            {% endif %}
            {% if section.settings.overlapped_header_color_scheme.settings.overlay_gradient != empty %}
              --overlay-background: {{ section.settings.overlapped_header_color_scheme.settings.overlay_gradient }};
            {% else %}
              --overlay-background: {{ section.settings.overlapped_header_color_scheme.settings.overlay_color }};
            {% endif %}
            --layout-link-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_link_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_link_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_link_color.blue }};
            --layout-highlighted-background: {{ section.settings.overlapped_header_color_scheme.settings.layout_highlighted_background.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_highlighted_background.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_highlighted_background.blue }};
            --layout-accent-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_accent_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_accent_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_accent_color.blue }};
            --popover-bg-color: {{ section.settings.overlapped_header_color_scheme.settings.popover_background_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.popover_background_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.popover_background_color.blue }};
            --popover-text-color: {{ section.settings.overlapped_header_color_scheme.settings.popover_text_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.popover_text_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.popover_text_color.blue }};
            --shadow-color: {{ section.settings.overlapped_header_color_scheme.settings.shadow_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.shadow_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.shadow_color.blue }};
            --button-bg-color: {{ section.settings.overlapped_header_color_scheme.settings.button_background_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.button_background_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.button_background_color.blue }};
            --button-label-color: {{ section.settings.overlapped_header_color_scheme.settings.button_label_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.button_label_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.button_label_color.blue }};
            --button-hover-color: {{ section.settings.overlapped_header_color_scheme.settings.button_hover_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.button_hover_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.button_hover_color.blue }};
            --lines-color: {{ section.settings.overlapped_header_color_scheme.settings.lines_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.lines_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.lines_color.blue }};
          }
        {% endif %}
        {% if section.settings.overlap == 'desktop' %}
          @media screen and (min-width: 769px) {
            body:not(.search-modal--open):not(.mega-menu-opened) .shopify-section-header.overlap-desktop:not(.animate):has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--desktop) .header > div,
            body:not(.search-modal--open) .shopify-section-password-header.overlap-desktop:has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--desktop) .header-password > div {
              --layout-text-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_text_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_text_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_text_color.blue }};
              --layout-bg-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_background_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_background_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_background_color.blue }};
              {% if section.settings.overlapped_header_color_scheme.settings.layout_background_gradient != empty %}
                --bg-gradient: {{ section.settings.overlapped_header_color_scheme.settings.layout_background_gradient }};
              {% else %}
                --bg-gradient: {{ section.settings.overlapped_header_color_scheme.settings.layout_background_color }};
              {% endif %}
              {% if section.settings.overlapped_header_color_scheme.settings.overlay_gradient != empty %}
                --overlay-background: {{ section.settings.overlapped_header_color_scheme.settings.overlay_gradient }};
              {% else %}
                --overlay-background: {{ section.settings.overlapped_header_color_scheme.settings.overlay_color }};
              {% endif %}
              --layout-link-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_link_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_link_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_link_color.blue }};
              --layout-highlighted-background: {{ section.settings.overlapped_header_color_scheme.settings.layout_highlighted_background.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_highlighted_background.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_highlighted_background.blue }};
              --layout-accent-color: {{ section.settings.overlapped_header_color_scheme.settings.layout_accent_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.layout_accent_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.layout_accent_color.blue }};
              --popover-bg-color: {{ section.settings.overlapped_header_color_scheme.settings.popover_background_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.popover_background_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.popover_background_color.blue }};
              --popover-text-color: {{ section.settings.overlapped_header_color_scheme.settings.popover_text_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.popover_text_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.popover_text_color.blue }};
              --shadow-color: {{ section.settings.overlapped_header_color_scheme.settings.shadow_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.shadow_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.shadow_color.blue }};
              --button-bg-color: {{ section.settings.overlapped_header_color_scheme.settings.button_background_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.button_background_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.button_background_color.blue }};
              --button-label-color: {{ section.settings.overlapped_header_color_scheme.settings.button_label_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.button_label_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.button_label_color.blue }};
              --button-hover-color: {{ section.settings.overlapped_header_color_scheme.settings.button_hover_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.button_hover_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.button_hover_color.blue }};
              --lines-color: {{ section.settings.overlapped_header_color_scheme.settings.lines_color.red }},{{ section.settings.overlapped_header_color_scheme.settings.lines_color.green }},{{ section.settings.overlapped_header_color_scheme.settings.lines_color.blue }};
            }
          }
        {% endif %}
        @media screen and (min-width: 769px) {
          {% if section.settings.desktop_height_type == 'adapt' %}
            #shopify-section-{{ section.id }} .image-banner__media-block {
              aspect-ratio: {% if section.settings.first_image != blank %}{{ section.settings.first_image.aspect_ratio }}{% elsif section.settings.first_image == blank and section.settings.second_image != blank %}{{ section.settings.second_image.aspect_ratio }}{% elsif section.settings.mobile_image != blank %}{{ section.settings.mobile_image.aspect_ratio }}{% else %}16 / 9{% endif %};
            }
          {% endif %}
          {% if section.settings.desktop_height_type == 'adapt' %}
            #shopify-section-{{ section.id }} .banner__wrapper {
              aspect-ratio: calc({% if section.settings.first_image != blank %}{{ section.settings.first_image.aspect_ratio }}{% elsif section.settings.first_image == blank and section.settings.second_image != blank %}{{ section.settings.second_image.aspect_ratio }}{% elsif section.settings.mobile_image != blank %}{{ section.settings.mobile_image.aspect_ratio }}{% else %}16 / 9{% endif %}{% if section.settings.first_image != blank and section.settings.second_image != blank %} * 2{% endif %});
              --height: 100%;
            }
          {% endif %}
        }
        @media screen and (max-width: 768px) {
          {% if section.settings.overlap == 'mobile' %}
            body:not(.search-modal--open) .shopify-section-header.overlap-mobile:not(.animate):has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--mobile) .header > div,
            body:not(.search-modal--open) .shopify-section-password-header.overlap-mobile:has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--mobile) .header-password > div {
              --layout-text-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_text_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_text_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_text_color.blue }};
              --layout-bg-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color.blue }};
              {% if section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_gradient != empty %}
                --bg-gradient: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_gradient }};
              {% else %}
                --bg-gradient: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color }};
              {% endif %}
              {% if section.settings.mobile_overlapped_header_color_scheme.settings.overlay_gradient != empty %}
                --overlay-background: {{ section.settings.mobile_overlapped_header_color_scheme.settings.overlay_gradient }};
              {% else %}
                --overlay-background: {{ section.settings.mobile_overlapped_header_color_scheme.settings.overlay_color }};
              {% endif %}
              --layout-link-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_link_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_link_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_link_color.blue }};
              --layout-highlighted-background: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_highlighted_background.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_highlighted_background.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_highlighted_background.blue }};
              --layout-accent-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_accent_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_accent_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_accent_color.blue }};
              --popover-bg-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_background_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_background_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_background_color.blue }};
              --popover-text-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_text_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_text_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_text_color.blue }};
              --shadow-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.shadow_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.shadow_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.shadow_color.blue }};
              --button-bg-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.button_background_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_background_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_background_color.blue }};
              --button-label-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.button_label_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_label_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_label_color.blue }};
              --button-hover-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.button_hover_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_hover_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_hover_color.blue }};
              --lines-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.lines_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.lines_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.lines_color.blue }};
            }
          {% endif %}
          {% if section.settings.overlap == 'enable' %}
            body:not(.search-modal--open):not(.mega-menu-opened) .shopify-section-header.overlap-enable:not(.animate):has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--enable) .header > div,
            body:not(.search-modal--open) .shopify-section-password-header.overlap-enable:has(+ main #shopify-section-{{ section.id }}:first-child .section-overlap--enable) .header-password > div {
              --layout-text-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_text_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_text_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_text_color.blue }};
              --layout-bg-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color.blue }};
              {% if section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_gradient != empty %}
                --bg-gradient: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_gradient }};
              {% else %}
                --bg-gradient: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_background_color }};
              {% endif %}
              {% if section.settings.mobile_overlapped_header_color_scheme.settings.overlay_gradient != empty %}
                --overlay-background: {{ section.settings.mobile_overlapped_header_color_scheme.settings.overlay_gradient }};
              {% else %}
                --overlay-background: {{ section.settings.mobile_overlapped_header_color_scheme.settings.overlay_color }};
              {% endif %}
              --layout-link-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_link_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_link_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_link_color.blue }};
              --layout-highlighted-background: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_highlighted_background.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_highlighted_background.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_highlighted_background.blue }};
              --layout-accent-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_accent_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_accent_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.layout_accent_color.blue }};
              --popover-bg-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_background_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_background_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_background_color.blue }};
              --popover-text-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_text_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_text_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.popover_text_color.blue }};
              --shadow-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.shadow_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.shadow_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.shadow_color.blue }};
              --button-bg-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.button_background_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_background_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_background_color.blue }};
              --button-label-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.button_label_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_label_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_label_color.blue }};
              --button-hover-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.button_hover_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_hover_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.button_hover_color.blue }};
              --lines-color: {{ section.settings.mobile_overlapped_header_color_scheme.settings.lines_color.red }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.lines_color.green }},{{ section.settings.mobile_overlapped_header_color_scheme.settings.lines_color.blue }};
            }
          {% endif %}
          #shopify-section-{{ section.id }} .color-{{ section.settings.color_scheme }} .content-below .banner__content {
            --layout-bg-color: {{ section.settings.mobile_color_scheme.settings.layout_background_color.red }},{{ section.settings.mobile_color_scheme.settings.layout_background_color.green }},{{ section.settings.color_scheme.settings.layout_background_color.blue }};
            {% if section.settings.mobile_color_scheme.settings.layout_background_gradient != empty %}
              --bg-gradient: {{ section.settings.mobile_color_scheme.settings.layout_background_gradient }};
            {% else %}
              --bg-gradient: {{ section.settings.mobile_color_scheme.settings.layout_background_color }};
            {% endif %}
            --layout-text-color: {{ section.settings.mobile_color_scheme.settings.layout_text_color.red }},{{ section.settings.mobile_color_scheme.settings.layout_text_color.green }},{{ section.settings.mobile_color_scheme.settings.layout_text_color.blue }};
            --layout-link-color: {{ section.settings.mobile_color_scheme.settings.layout_link_color.red }},{{ section.settings.mobile_color_scheme.settings.layout_link_color.green }},{{ section.settings.mobile_color_scheme.settings.layout_link_color.blue }};
            --layout-highlighted-background: {{ section.settings.mobile_color_scheme.settings.layout_highlighted_background.red }},{{ section.settings.mobile_color_scheme.settings.layout_highlighted_background.green }},{{ section.settings.mobile_color_scheme.settings.layout_highlighted_background.blue }};
            --layout-accent-color: {{ section.settings.mobile_color_scheme.settings.layout_accent_color.red }},{{ section.settings.mobile_color_scheme.settings.layout_accent_color.green }},{{ section.settings.mobile_color_scheme.settings.layout_accent_color.blue }};
            --popover-bg-color: {{ section.settings.mobile_color_scheme.settings.popover_background_color.red }},{{ section.settings.mobile_color_scheme.settings.popover_background_color.green }},{{ section.settings.mobile_color_scheme.settings.popover_background_color.blue }};
            --popover-text-color: {{ section.settings.mobile_color_scheme.settings.popover_text_color.red }},{{ section.settings.mobile_color_scheme.settings.popover_text_color.green }},{{ section.settings.mobile_color_scheme.settings.popover_text_color.blue }};
            --shadow-color: {{ section.settings.mobile_color_scheme.settings.shadow_color.red }},{{ section.settings.mobile_color_scheme.settings.shadow_color.green }},{{ section.settings.mobile_color_scheme.settings.shadow_color.blue }};
            --button-bg-color: {{ section.settings.mobile_color_scheme.settings.button_background_color.red }},{{ section.settings.mobile_color_scheme.settings.button_background_color.green }},{{ section.settings.mobile_color_scheme.settings.button_background_color.blue }};
            --button-label-color: {{ section.settings.mobile_color_scheme.settings.button_label_color.red }},{{ section.settings.mobile_color_scheme.settings.button_label_color.green }},{{ section.settings.mobile_color_scheme.settings.button_label_color.blue }};
            --button-hover-color: {{ section.settings.mobile_color_scheme.settings.button_hover_color.red }},{{ section.settings.mobile_color_scheme.settings.button_hover_color.green }},{{ section.settings.mobile_color_scheme.settings.button_hover_color.blue }};
            --lines-color: {{ section.settings.mobile_color_scheme.settings.lines_color.red }},{{ section.settings.mobile_color_scheme.settings.lines_color.green }},{{ section.settings.mobile_color_scheme.settings.lines_color.blue }};
          }
          #shopify-section-{{ section.id }} {
              --banner-overlay-opacity: {{ section.settings.mobile_overlay_opacity | divided_by: 100.0 }};
              {% if section.settings.mobile_height_type == 'pixels' %}
              --height: {{ section.settings.mobile_pixels_height }}px;
              {% endif %}
              --gap-items: {{ section.settings.mobile_gap_items }}px;
          }
          #shopify-section-{{ section.id }} .banner__media {
            {% if section.settings.mobile_banner_color_scheme.settings.overlay_gradient != empty %}
              --overlay-background: {{ section.settings.mobile_banner_color_scheme.settings.overlay_gradient }};
            {% else %}
              --overlay-background: {{ section.settings.mobile_banner_color_scheme.settings.overlay_color }};
            {% endif %}
          }
          {% if section.settings.mobile_height_type == 'adapt' %}
            #shopify-section-{{ section.id }} {% if section.settings.content_under_image %}.banner__media{% else %}.image-banner__media-block{% endif %} {
              aspect-ratio: {% if section.settings.mobile_image != blank %}{{ section.settings.mobile_image.aspect_ratio }}{% elsif section.settings.first_image != blank %}{{ section.settings.first_image.aspect_ratio }}{% elsif section.settings.first_image == blank and section.settings.second_image != blank %}{{ section.settings.second_image.aspect_ratio }}{% else %}16 / 9{% endif %};
              --height: 100%;
            }
          {% endif %}
          {% if section.settings.mobile_height_type == 'adapt' %}
            #shopify-section-{{ section.id }} {% if section.settings.content_under_image %}.banner__media{% else %}.banner__wrapper{% endif %} {
              {% if section.settings.first_image != blank and section.settings.second_image != blank %}
                aspect-ratio: calc({% if section.settings.mobile_image != blank %}{{ section.settings.mobile_image.aspect_ratio }}{% elsif section.settings.first_image != blank %}{{ section.settings.first_image.aspect_ratio }}{% elsif section.settings.first_image == blank and section.settings.second_image != blank %}{{ section.settings.second_image.aspect_ratio }}{% else %}16 / 9{% endif %}{% unless section.settings.mobile_image != blank %} * {% if section.settings.only_first_image  %}1{% else %}2{% endif %}{% endunless %});
            {% else %}
              aspect-ratio: {% if section.settings.mobile_image != blank %}{{ section.settings.mobile_image.aspect_ratio }}{% elsif section.settings.first_image != blank %}{{ section.settings.first_image.aspect_ratio }}{% elsif section.settings.first_image == blank and section.settings.second_image != blank %}{{ section.settings.second_image.aspect_ratio }}{% else %}16 / 9{% endif %};
            {% endif %}
              --height: 100%;
            }
          {% endif %}
        }
    {% endstyle %}
    
    {% assign color_scheme_id = section.settings.banner_color_scheme.id %}
    
    <div class="section {{ color_scheme_id }}{% if section_framing == false or section.settings.full_width %} color-{{ section.settings.color_scheme }} mobile-color-{{ section.settings.mobile_color_scheme }}{% endif %} side-margins{% if section.settings.full_width %} disable-margins{% endif %} section-overlap--{{ section.settings.overlap }} logo-{{ section.settings.logo_style }} mobile-logo-{{ section.settings.mobile_logo_style }}{% if section.settings.show_bottom_line %} bottom-line{% endif %}">
        <div class="section-container video-banner banner{% if section_framing == false or section.settings.full_width %} {{ section.settings.grid_style }}-grid{% if disable_max_width or section.settings.overlap != 'disable' %} disable-max-width{% endif %}{% if disable_max_width_container %} disable-max-width-container{% endif %}{% endif %}">
          {%- if section_framing and section.settings.full_width == false -%}<div class="section-radius elem-padding-l color-{{ section.settings.color_scheme }} mobile-color-{{ section.settings.mobile_color_scheme }} disable-section-framing"><div class="{{ section.settings.grid_style }}-grid{% if disable_max_width or section.settings.overlap != 'disable' %} disable-max-width{% endif %}{% if disable_max_width_container %} disable-max-width-container{% endif %}">{%- endif -%}
            {%- if section.settings.link != blank -%}<a href="{{ section.settings.link }}"{% if section.settings.target_blank %} target="_blank"{% endif %} class="banner__wrapper{% if section.settings.content_under_image %} content-below{% endif %}{% if section.settings.content_on_hover %} hover-content{% endif %}">
            {%- else -%}<div class="banner__wrapper{% if section.settings.content_under_image %} content-below{% endif %}{% if section.settings.content_on_hover %} hover-content{% endif %}">{%- endif -%}
                <div class="banner__media color-{{ section.settings.banner_color_scheme }} mobile-color-{{ section.settings.mobile_banner_color_scheme }} image-banner__media{% if section.settings.only_first_image %} only-first{% endif %}"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                  {%- liquid
                    assign widths = '300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                    assign img_class = "banner__image image-banner__image"
                    assign fetchpriority = 'high'
                    if section.index > 1 
                      assign fetchpriority = 'auto'
                    endif
                  -%}
                  {%- capture sizes -%}
                    {% if disable_max_width %}
                      {{ max_width | divided_by: section_images }}vw
                    {% else %}
                      (max-width: 768px) 100vw, (max-width: {{ max_width }}) {{ max_width | divided_by: section_images }}px, {{ max_width | divided_by: section_images }}px
                    {% endif %}
                  {%- endcapture -%}
                  {%- if section.settings.first_image != blank -%}
                    <div class="image-banner__media-block{% if section.settings.mobile_image != blank %} image-banner__media-block--desktop{% endif %}"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                      {% if lazy_loading_images %}
                        <figure class="lazy-image lazy-image--absolut lazy-image--{{ settings.images_loading }} ">
                      {% endif %}
                      {{
                        section.settings.first_image
                        | image_url: width: 3200
                        | image_tag:
                        sizes: sizes,
                        widths: widths,
                        class: img_class,
                        alt: section.settings.first_image.alt,
                        draggable: false,
                        fetchpriority: fetchpriority,
                        loading: loading_images,
                        onload: onload_script
                      }}
                      {% if lazy_loading_images %}
                        {% if settings.images_loading != 'fade_scale' %}
                        <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                          <img 
                          alt="{{ section.settings.first_image.alt | escape }}" 
                          src="{{ section.settings.first_image | image_url: width: 10 }}"
                          draggable="false"
                          width="10" 
                          height="10">
                        </div>
                        {% endif %}
                      </figure>
                      {% endif %}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.second_image != blank -%}
                    {%- liquid
                      assign widths = '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                      assign img_class = "banner__image image-banner__image"
                      assign fetchpriority = 'high'
                      if section.index > 1 
                        assign fetchpriority = 'auto'
                      endif
                    -%}
                    <div class="image-banner__media-block{% if section.settings.mobile_image != blank %} image-banner__media-block--desktop{% endif %}"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                      {% if lazy_loading_images %}
                        <figure class="lazy-image lazy-image--absolut lazy-image--{{ settings.images_loading }} ">
                      {% endif %}
                      {{
                        section.settings.second_image
                        | image_url: width: 3200
                        | image_tag:
                        sizes: sizes,
                        widths: widths,
                        class: img_class,
                        alt: section.settings.second_image.alt,
                        draggable: false,
                        fetchpriority: fetchpriority,
                        loading: loading_images,
                        onload: onload_script
                      }}
                      {% if lazy_loading_images %}
                        {% if settings.images_loading != 'fade_scale' %}
                        <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                          <img 
                          alt="{{ section.settings.second_image.alt | escape }}" 
                          src="{{ section.settings.second_image | image_url: width: 10 }}"
                          draggable="false"
                          width="10" 
                          height="10">
                        </div>
                        {% endif %}
                      </figure>
                      {% endif %}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.mobile_image != blank -%}
                    {%- liquid
                      assign widths = '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                      assign img_class = "banner__image image-banner__image"
                      assign fetchpriority = 'high'
                      if section.index > 1 
                        assign fetchpriority = 'auto'
                      endif
                    -%}
                    <div class="image-banner__media-block {% if section.settings.first_image != blank or section.settings.second_image != blank %}image-banner__media-block--mobile{% endif %}"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                      {% if lazy_loading_images %}
                        <figure class="lazy-image lazy-image--absolut lazy-image--{{ settings.images_loading }} ">
                      {% endif %}
                      {{
                        section.settings.mobile_image
                        | image_url: width: 3200
                        | image_tag:
                        sizes: sizes,
                        widths: widths,
                        class: img_class,
                        alt: section.settings.mobile_image.alt,
                        draggable: false,
                        fetchpriority: fetchpriority,
                        loading: loading_images,
                        onload: onload_script
                      }}
                      {% if lazy_loading_images %}
                        {% if settings.images_loading != 'fade_scale' %}
                        <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                          <img 
                          alt="{{ section.settings.mobile_image.alt | escape }}" 
                          src="{{ section.settings.mobile_image | image_url: width: 10 }}"
                          draggable="false"
                          width="10" 
                          height="10">
                        </div>
                        {% endif %}
                      </figure>
                      {% endif %}
                    </div>
                  {%- endif -%}
                  {% if section.settings.first_image == blank and section.settings.second_image == blank and section.settings.mobile_image == blank %}
                    <div class="image-banner__media-block"{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                </div>
                <div class="banner__container-content{% if section.settings.full_width %} {{ section.settings.grid_style }}-grid{% if disable_max_width_container %} disable-max-width{% endif %}{% endif %}">
                  <div class="banner__content wide elem-padding-l color-{{ section.settings.banner_color_scheme }} mobile-color-{{ section.settings.mobile_banner_color_scheme }}">
                      {% if section.blocks.size > 0 %}
                      <div class="banner__content-wrapper">
                        <div class="line-{{ section.settings.line_show }}">
                            <scrolling-promotion data-speed="{{ section.settings.speed }}" class="scrolling-promotion scrolling-promotion--{{ section.settings.scroll_direction }}">
                                <div class="promotion">
                                    {%- for block in section.blocks -%}
                                      {%- case block.type -%}
                                        {%- when 'text' -%}
                                          {%- if block.settings.link != blank -%}<object><a href="{{ block.settings.link }}" {% if block.settings.target_blank %}target="_blank"{% endif %} class="promotion__item custom-heading promotion__item--text {{ section.settings.font_style }}{% if uppercase_font %} uppercase{% endif %}{% if section.settings.font_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" {{ block.shopify_attributes }}>
                                          {%- else -%}<div class="promotion__item custom-heading promotion__item--text disabled {{ section.settings.font_style }}{% if uppercase_font %} uppercase{% endif %}{% if section.settings.font_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}" {{ block.shopify_attributes }}>{%- endif -%}
                                          {%- if block.settings.desktop_text != blank or block.settings.mobile_text != blank -%}
                                          <div class="promotion__info">
                                              {%- if block.settings.desktop_text != blank -%}
                                                {% liquid
                                                  assign heading_text = block.settings.desktop_text
                                                  assign processed_text = ''
                                                  assign split_text = heading_text | split: '['
                  
                                                  for part in split_text
                                                    if part contains ']'
                                                      assign split_bracket = part | split: ']'
                                                      assign highlight_text = split_bracket[0]
                                                      assign after_bracket = split_bracket[1]
                                                      assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                                                    else
                                                      assign processed_text = processed_text | append: part
                                                    endif
                                                  endfor
                  
                                                  assign final_text = ''
                                                  assign split_text_curly = processed_text | split: '{'
                  
                                                  for part in split_text_curly
                                                    if part contains '}'
                                                      assign split_curly = part | split: '}'
                                                      assign styled_text = split_curly[0]
                                                      assign after_curly = split_curly[1]
                                                      assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                                                    else
                                                      assign final_text = final_text | append: part
                                                    endif
                                                  endfor
                                                %}
                                                  <p class="promotion__text promotion__text--desktop{% if block.settings.mobile_text == blank %} promotion__text--all{% endif %}">
                                                      {% if section.settings.font_style == 'subheading' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if section.settings.font_style == 'subheading' and settings.bolder_subheadings_font %}</b>{% endif %}
                                                  </p>
                                              {%- endif -%}
                                              {%- if block.settings.mobile_text != blank -%}
                                                  {% liquid
                                                    assign heading_text = block.settings.mobile_text
                                                    assign processed_text = ''
                                                    assign split_text = heading_text | split: '['
                    
                                                    for part in split_text
                                                      if part contains ']'
                                                        assign split_bracket = part | split: ']'
                                                        assign highlight_text = split_bracket[0]
                                                        assign after_bracket = split_bracket[1]
                                                        assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                                                      else
                                                        assign processed_text = processed_text | append: part
                                                      endif
                                                    endfor
                    
                                                    assign final_text = ''
                                                    assign split_text_curly = processed_text | split: '{'
                    
                                                    for part in split_text_curly
                                                      if part contains '}'
                                                        assign split_curly = part | split: '}'
                                                        assign styled_text = split_curly[0]
                                                        assign after_curly = split_curly[1]
                                                        assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                                                      else
                                                        assign final_text = final_text | append: part
                                                      endif
                                                    endfor
                                                  %}
                                                  <p class="promotion__text{% if block.settings.desktop_text != blank %} promotion__text--mobile{% endif %}">
                                                      {% if section.settings.font_style == 'subheading' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if section.settings.font_style == 'subheading' and settings.bolder_subheadings_font %}</b>{% endif %}
                                                  </p>
                                              {%- endif -%}
                                          </div>
                                          {%- endif -%}
                                          {%- if block.settings.link != blank -%}</a></object>{%- else -%}</div>{%- endif -%}
                                        {%- when 'button' -%}
                                          {%- if block.settings.button_label != blank or block.settings.button_icon != blank -%}
                                          <div class="promotion__item">
                                            {%- if block.settings.button_link != blank -%}
                                                <object><a href="{{ block.settings.button_link }}"{% if block.settings.target_blank %} target="_blank"{% endif %} class="button {{ block.settings.button_style }}-button body-font {% if section.settings.use_main_button %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}
                                                  {% if block.settings.button_label != blank and block.settings.button_icon != blank %} button-block--small-padding{% endif %}{% if block.settings.button_icon != blank %} button-with-icon{% if block.settings.swap_button_icon%} icon--swap{% endif %}{% endif %}" {{ block.shopify_attributes }}>
                                            {%- else -%}
                                                <span disabled class="button {{ block.settings.button_style }}-button body-font{% if section.settings.use_main_button %} button--main{% if settings.use_heading_font_main_buttons %} heading-font-style{% endif %}{% if settings.uppercase_main_buttons %} uppercase{% endif %}{% else %} button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% endif %}
                                                  {% if block.settings.button_label != blank and block.settings.button_icon != blank %} button-block--small-padding{% endif %}{% if block.settings.button_icon != blank %} button-with-icon{% if block.settings.swap_button_icon%} icon--swap{% endif %}{% endif %}" {{ block.shopify_attributes }}>
                                            {%- endif -%}
                                                {% if block.settings.button_icon != blank %}
                                                    {%- liquid
                                                    assign icon_name = block.settings.button_icon | split: '/'
                                                    if icon_name.size == 3
                                                        assign file_name = icon_name.first | append: '_' | append: icon_name[1]
                                                    elsif icon_name.size == 2
                                                        assign file_name = icon_name.first
                                                    endif
                                                    assign icon = icon_name.last
                                                    -%}
                                                    <span class="icon-accordion flex--row {% if section.settings.use_main_button %}icon--large{% else %}icon--small{% endif %}">{% render 'catalog-icons', file_name: file_name, icon: icon %}</span>
                                                {% endif %}
                                                {% if section.settings.use_main_button %}
                                                    {% if settings.bolder_main_buttons_font %}<b>{% endif %}{{ block.settings.button_label }}{% if settings.bolder_main_buttons_font %}</b>{% endif %}
                                                {% else %}
                                                    {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ block.settings.button_label }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                                                {% endif %}
                                            {%- if block.settings.button_link != blank -%}</a></object>{%- else -%}</span>{%- endif -%}
                                          </div>
                                          {%- endif -%}
                                        {%- when 'context_image' -%}
                                          {%- if block.settings.context_image != blank or request.design_mode -%}
                                            <div class="promotion__item">
                                            {%- if block.settings.context_image_link != blank -%}
                                              <object><a href="{{ block.settings.context_image_link }}"{% if block.settings.context_target_blank %} target="_blank"{% endif %} aria-label="{{ block.settings.context_image.alt | escape }}" class="context-image context-image--{{ block.id }} aspect-ratio {% unless block.settings.context_image != blank %} context-image--placeholder{% endunless %}"{{ block.shopify_attributes }}{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                                            {%- else -%}
                                                <div class="context-image context-image--{{ block.id }} aspect-ratio{% unless block.settings.context_image != blank %} context-image--placeholder{% endunless %}" {{ block.shopify_attributes }}{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                                            {%- endif -%}
                                                    {% style %}
                                                    .context-image--{{ block.id }} {
                                                    --aspect-ratio: {{ block.settings.context_media_ratio }};
                                                    --context-image-width: {{ block.settings.context_image_width }}px;
                                                    {%- if block.settings.context_image_radius == 'default' -%}
                                                    --context-image-radius: {{ settings.images_and_sections_radius }};
                                                    {%- else -%}
                                                    --context-image-radius: {{ block.settings.context_image_radius }};
                                                    {%- endif -%}
                                                    }   
                                                    {% if settings.images_loading != 'disable' and block.settings.context_media_ratio == 'auto' %}
                                                      .context-image--{{ block.id }} .lazy-image {
                                                          aspect-ratio: var(--asp-rat);
                                                      }
                                                    {% endif %}
                                                    {% endstyle %}
                                                    {%- if block.settings.context_image != blank -%}
                                                        {%- liquid
                                                            assign widths = '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250'
                                                            assign img_class = "context-image__image"
                                                        -%}
                                                        {%- capture sizes -%}
                                                            (max-width: 768px) 100vw, {{ block.settings.context_image_width }}px
                                                        {%- endcapture -%}
                                                        {% if settings.images_loading != 'disable' %}
                                                          <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--asp-rat: {{ block.settings.context_image.aspect_ratio }};">
                                                        {% endif %}
                                                        {{
                                                            block.settings.context_image
                                                            | image_url: width: 1500
                                                            | image_tag:
                                                            sizes: sizes,
                                                            widths: widths,
                                                            class: img_class,
                                                            alt: block.settings.context_image.alt,
                                                            draggable: false,
                                                            loading: loading_images_promotion,
                                                            onload: onload_script_promotion
                                                        }}
                                                        {% if settings.images_loading != 'disable' %}
                                                          {% if settings.images_loading != 'fade_scale' %}
                                                          <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                                                            <img 
                                                            alt="{{ block.settings.context_image.alt | escape }}" 
                                                            src="{{ block.settings.context_image | image_url: width: 10 }}"
                                                            draggable="false"
                                                            width="10" 
                                                            height="10">
                                                          </div>
                                                          {% endif %}
                                                      </figure>
                                                      {% endif %}
                                                    {%- else -%}
                                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    {%- endif -%}
                                            {%- if block.settings.context_image_link != blank -%}
                                                </a></object>
                                            {%- else -%}
                                                </div>
                                            {%- endif -%}
                                            </div>
                                          {%- endif -%}
                                        {%- when 'icon' -%}
                                          {%- if block.settings.icon != blank or request.design_mode -%}
                                            <div class="promotion__item">
                                            {%- if block.settings.link != blank -%}
                                              <object class="section-block block-icon block-icon--{{ block.id }}" aria-label="{{ 'general.links.link_to_button_label' | t: label: block.settings.link }}">
                                                <a href="{{ block.settings.link }}"{% if block.settings.target_blank %} target="_blank"{% endif %} class="{% unless block.settings.icon != blank %} block-icon--placeholder{% endunless %}"{{ block.shopify_attributes }}{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                                            {%- else -%}
                                                <div class="block-icon block-icon--{{ block.id }}{% unless block.settings.icon != blank %} block-icon--placeholder{% endunless %}" {{ block.shopify_attributes }}{% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                                            {%- endif -%}
                                                {% assign color_rgb = block.settings.color | color_to_rgb | strip %}
                                                {% assign mobile_color_rgb = block.settings.mobile_color | color_to_rgb | strip %}
                                                    {% style %}
                                                        .block-icon--{{ block.id }} {
                                                            --icon-size: {{ block.settings.icon_size }}px;
                                                            --color: {{ color_rgb }};
                                                            --mobile-color: {{ mobile_color_rgb }};
                                                        }
                                                        @media screen and (max-width: 768px) {
                                                            .block-icon--{{ block.id }} {
                                                                --icon-size: {{ block.settings.mobile_icon_size }}px;
                                                            }
                                                        }
                                                    {% endstyle %}
                                                    {%- if block.settings.icon != blank -%}
                                                        {%- liquid
                                                            assign icon_name = block.settings.icon | split: '/'
                                                            if icon_name.size == 3
                                                              assign file_name = icon_name.first | append: '_' | append: icon_name[1]
                                                            elsif icon_name.size == 2
                                                              assign file_name = icon_name.first
                                                            endif
                                                            assign icon = icon_name.last
                                                        -%}
                                                        {% render 'catalog-icons', file_name: file_name, icon: icon %}
                                                    {%- else -%}
                                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                    {%- endif -%}
                                            {%- if block.settings.link != blank -%}
                                                </a></object>
                                            {%- else -%}
                                                </div>
                                            {%- endif -%}
                                            </div>
                                          {%- endif -%}
                                      {%- endcase -%}
                                    {%- endfor -%}
                                </div>
                            </scrolling-promotion>
                        </div>
                      </div>
                      {% endif %}
                  </div>
                </div>
            {%- if section.settings.link != blank -%}</a>{%- else -%}</div>{%- endif -%}
          {%- if section_framing and section.settings.full_width == false -%}</div></div>{%- endif -%}
        </div>
    </div>
    {% endif %}
    
    {% schema %}
    {
      "name": "t:sections.scrolling-promotion-banner.name",
      "tag": "section",
      "class": "section-image-banner section-scrolling-promotion-banner",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "checkbox",
          "id": "target_blank",
          "default": false,
          "label": "t:sections.all.link.target_blank.label"
        },
        {
          "type": "select",
          "id": "overlap",
          "options": [
              {
                  "value": "disable",
                  "label": "t:sections.all.overlap.options__1.label"
              },
              {
                  "value": "enable",
                  "label": "t:sections.all.overlap.options__2.label"
              },
              {
                  "value": "desktop",
                  "label": "t:sections.all.overlap.options__3.label"
              },
              {
                  "value": "mobile",
                  "label": "t:sections.all.overlap.options__4.label"
              }
          ],
          "default": "disable",
          "label": "t:sections.all.overlap.label"
        },
        {
          "type": "checkbox",
          "id": "content_on_hover",
          "default": false,
          "label": "t:sections.all.settings_titles.content_on_hover.label"
        },
        {
          "type": "image_picker",
          "id": "first_image",
          "label": "t:sections.image-banner.settings.first_image.label"
        },
        {
          "type": "image_picker",
          "id": "second_image",
          "label": "t:sections.image-banner.settings.second_image.label"
        },
        {
          "type": "select",
          "id": "desktop_height_type",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.all.height_type.options__1.label"
            },
            {
              "value": "pixels",
              "label": "t:sections.all.height_type.options__2.label"
            }
          ],
          "default": "pixels",
          "label": "t:sections.all.height.label"
        },
        {
          "type": "range",
          "id": "desktop_pixels_height",
          "min": 200,
          "max": 1600,
          "step": 20,
          "unit": "px",
          "label": "t:sections.all.height_type.pixels_height.label",
          "default": 600
        },
        {
          "type": "select",
          "id": "vertical_content_position",
          "options": [
            {
              "value": "start",
              "label": "t:sections.all.alignment.options__4.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.alignment.options__2.label"
            },
            {
              "value": "end",
              "label": "t:sections.all.alignment.options__5.label"
            }
          ],
          "default": "center",
          "label": "t:sections.all.alignment.vertical_content_position.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.media.overlay.overlay_opacity.label",
          "default": 80
        },
        {
          "type": "range",
          "id": "mobile_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.media.overlay.mobile_overlay_opacity.label",
          "default": 50
        },
        {
            "type": "select",
            "id": "font_style",
            "options": [
              {
                "value": "page-title",
                "label": "t:sections.all.headings_style.options__5.label"
              },
              {
                "value": "section-heading",
                "label": "t:sections.all.headings_style.options__4.label"
              },
              {
                "value": "secondary-heading",
                "label": "t:sections.all.headings_style.options__3.label"
              },
              {
                "value": "subheading-font",
                "label": "t:sections.all.headings_style.options__2.label"
              },
              {
                "value": "body-font",
                "label": "t:sections.all.headings_style.options__1.label"
              },
              {
                "value": "caption-font",
                "label": "t:sections.all.headings_style.options__6.label"
              }
            ],
            "default": "section-heading",
            "label": "t:sections.all.headings_style.font_style.label"
        },
        {
            "type": "select",
            "id": "line_show",
            "options": [
              {
                "value": "disable",
                "label": "t:sections.scrolling-promotion.settings.line_show.options__1.label"
              },
              {
                "value": "top",
                "label": "t:sections.scrolling-promotion.settings.line_show.options__2.label"
              },
              {
                "value": "bottom",
                "label": "t:sections.scrolling-promotion.settings.line_show.options__3.label"
              },
              {
                "value": "both",
                "label": "t:sections.scrolling-promotion.settings.line_show.options__4.label"
              }
            ],
            "default": "disable",
            "label": "t:sections.scrolling-promotion.settings.line_show.label"
        },
        {
            "type": "range",
            "id": "line_padding",
            "min": 0,
            "max": 48,
            "step": 2,
            "unit": "px",
            "default": 24,
            "label": "t:sections.scrolling-promotion.settings.line_padding.label"
        },
        {
            "type": "range",
            "id": "gap_items",
            "min": 0,
            "max": 160,
            "step": 2,
            "unit": "px",
            "default": 48,
            "label": "t:sections.scrolling-promotion.settings.gap_items.label"
        },
        {
            "type": "range",
            "id": "mobile_gap_items",
            "min": 0,
            "max": 160,
            "step": 2,
            "unit": "px",
            "default": 48,
            "label": "t:sections.scrolling-promotion.settings.mobile_gap_items.label"
        },
        {
            "type": "select",
            "id": "scroll_direction",
            "options": [
              {
                "value": "left",
                "label": "t:sections.scrolling-promotion.settings.scroll_direction.options__1.label"
              },
              {
                "value": "right",
                "label": "t:sections.scrolling-promotion.settings.scroll_direction.options__2.label"
              }
            ],
            "default": "left",
            "label": "t:sections.scrolling-promotion.settings.scroll_direction.label"
        },
        {
            "type": "range",
            "id": "speed",
            "min": 0.5,
            "max": 2.5,
            "step": 0.1,
            "unit": "s",
            "default": 1.6,
            "label": "t:sections.scrolling-promotion.settings.speed.label",
            "info": "t:sections.scrolling-promotion.settings.speed.info"
        },
        {
            "type": "checkbox",
            "id": "use_main_button",
            "default": false,
            "label": "t:sections.all.buttons.use_main_button.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.settings_titles.mobile_header.content"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.featured-blog-with-banner.settings.first_image.label"
        },
        {
          "type": "select",
          "id": "mobile_height_type",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.all.height_type.options__1.label"
            },
            {
              "value": "pixels",
              "label": "t:sections.all.height_type.options__2.label"
            }
          ],
          "default": "pixels",
          "label": "t:sections.all.height.mobile_height.label"
        },
        {
          "type": "range",
          "id": "mobile_pixels_height",
          "min": 100,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "label": "t:sections.all.height_type.mobile_pixels_height.label",
          "default": 480
        },
        {
          "type": "checkbox",
          "id": "content_under_image",
          "default": false,
          "label": "t:sections.all.settings_titles.content_under_image.label"
        },
        {
          "type": "checkbox",
          "id": "only_first_image",
          "default": false,
          "label": "t:sections.image-banner.settings.only_first_image.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.settings_titles.section_layout_header.content"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "default": false,
          "label": "t:sections.all.full_width.label"
        },
        {
          "type": "select",
          "id": "grid_style",
          "options": [
            {
              "value": "page",
              "label": "t:sections.all.grid_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.grid_style.options__3.label"
            },
            {
              "value": "alternative",
              "label": "t:sections.all.grid_style.options__2.label"
            }
          ],
          "default": "page",
          "label": "t:sections.all.grid_style.label"
        },
        {
          "type": "checkbox",
          "id": "disable_max_width",
          "default": false,
          "label": "t:sections.all.disable_max_width.label"
        },
        {
          "type": "checkbox",
          "id": "show_bottom_line",
          "default": false,
          "label": "t:sections.all.show_bottom_line.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.colors.header.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.color_scheme.label",
          "default": "background-1"
        },
        {
          "type": "color_scheme",
          "id": "banner_color_scheme",
          "label": "t:sections.all.colors.banner_color_scheme.label",
          "default": "background-2"
        },
        {
          "type": "color_scheme",
          "id": "overlapped_header_color_scheme",
          "label": "t:sections.all.colors.overlapped_header_color_scheme.label",
          "default": "background-2"
        },
        {
          "type": "select",
          "id": "logo_style",
          "options": [
            {
              "value": "regular",
              "label": "t:blocks.logo.settings.logo_style.options__1.label"
            },
            {
              "value": "overlapped",
              "label": "t:blocks.logo.settings.logo_style.options__2.label"
            }
          ],
          "default": "overlapped",
          "label": "t:blocks.logo.settings.logo_style.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.colors.mobile_header.content"
        },
        {
          "type": "color_scheme",
          "id": "mobile_color_scheme",
          "label": "t:sections.all.colors.color_scheme.label",
          "default": "background-1"
        },
        {
          "type": "color_scheme",
          "id": "mobile_banner_color_scheme",
          "label": "t:sections.all.colors.banner_color_scheme.label",
          "default": "background-2"
        },
        {
          "type": "color_scheme",
          "id": "mobile_overlapped_header_color_scheme",
          "label": "t:sections.all.colors.overlapped_header_color_scheme.label",
          "default": "background-2"
        },
        {
          "type": "select",
          "id": "mobile_logo_style",
          "options": [
            {
              "value": "regular",
              "label": "t:blocks.logo.settings.logo_style.options__1.label"
            },
            {
              "value": "overlapped",
              "label": "t:blocks.logo.settings.logo_style.options__2.label"
            }
          ],
          "default": "overlapped",
          "label": "t:blocks.logo.settings.logo_style.label"
        },
        {
          "type": "select",
          "id": "section_framing",
          "options": [
            {
              "value": "disable",
              "label": "t:sections.all.section_framing.options__1.label"
            },
            {
              "value": "enable",
              "label": "t:sections.all.section_framing.options__2.label"
            }
          ],
          "default": "disable",
          "label": "t:sections.all.section_framing.label",
          "info": "t:sections.all.section_framing.info"
        },
        {
          "type": "header",
          "content": "t:sections.all.spacing.header.content"
        },
        {
          "type": "range",
          "id": "top_spacing",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "x",
          "label": "t:sections.all.spacing.top_spacing.label",
          "default": 1
        },
        {
          "type": "range",
          "id": "bottom_spacing",
          "min": 0,
          "max": 2,
          "step": 0.1,
          "unit": "x",
          "label": "t:sections.all.spacing.bottom_spacing.label",
          "default": 1
        }
      ],
      "blocks": [
        {
            "type": "text",
            "name": "t:blocks.text.name",
            "settings": [
              {
                "type": "text",
                "id": "desktop_text",
                "label": "t:sections.all.settings_titles.text.text.label",
                "info": "t:sections.all.settings_titles.heading.heading.info",
                "default": "Promotion"
              },
              {
                "type": "text",
                "id": "mobile_text",
                "label": "t:sections.all.settings_titles.text.mobile_text.label",
                "info": "t:sections.all.settings_titles.heading.heading.info"
              },
              {
                "type": "url",
                "id": "link",
                "label": "t:sections.all.link.label"
              },
              {
                "type": "checkbox",
                "id": "target_blank",
                "default": false,
                "label": "t:sections.all.link.target_blank.label"
              }
            ]
        },
        {
            "type": "button",
            "name": "t:blocks.button.name",
            "settings": [
              {
                "type": "text",
                "id": "button_label",
                "label": "t:sections.all.settings_titles.label.label",
                "default": "Discover"
              },
              {
                "type": "text",
                "id": "button_icon",
                "label": "t:sections.all.icons.icon.label",
                "info": "t:sections.all.icons.icon.info"
              },
              {
                "type": "checkbox",
                "id": "swap_button_icon",
                "default": false,
                "label": "t:sections.all.icons.swap_icon_position.label"
              },
              {
                "type": "url",
                "id": "button_link",
                "label": "t:sections.all.link.label"
              },
              {
                "type": "checkbox",
                "id": "target_blank",
                "default": false,
                "label": "t:sections.all.link.target_blank.label"
              },
              {
                "type": "select",
                "id": "button_style",
                "options": [
                  {
                    "value": "solid",
                    "label": "t:sections.all.buttons.button_styles.options__1.label"
                  },
                  {
                    "value": "outlined",
                    "label": "t:sections.all.buttons.button_styles.options__2.label"
                  }
                ],
                "default": "solid",
                "label": "t:sections.all.buttons.button_styles.button_style.label"
              }
            ]
        },
        {
            "type": "context_image",
            "name": "t:blocks.context_image.name",
            "settings": [
              {
                "type": "image_picker",
                "id": "context_image",
                "label": "t:sections.all.media.image.image.label"
              },
              {
                "type": "range",
                "id": "context_image_width",
                "min": 40,
                "max": 800,
                "step": 8,
                "unit": "px",
                "default": 120,
                "label": "t:blocks.context_image.settings.image_width.label"
              },
              {
                "type": "select",
                "id": "context_media_ratio",
                "options": [
                  {
                    "value": "auto",
                    "label": "t:sections.all.media.media_ratio.options__1.label"
                  },
                  {
                    "value": "1/1",
                    "label": "t:sections.all.media.media_ratio.options__2.label"
                  },
                  {
                    "value": "4/5",
                    "label": "t:sections.all.media.media_ratio.options__3.label"
                  },
                  {
                    "value": "2/3",
                    "label": "t:sections.all.media.media_ratio.options__4.label"
                  },
                  {
                    "value": "4/3",
                    "label": "t:sections.all.media.media_ratio.options__5.label"
                  },
                  {
                    "value": "3/2",
                    "label": "t:sections.all.media.media_ratio.options__6.label"
                  },
                  {
                    "value": "16/9",
                    "label": "t:sections.all.media.media_ratio.options__7.label"
                  },
                  {
                    "value": "4/1",
                    "label": "t:sections.all.media.media_ratio.options__8.label"
                  }
                ],
                "default": "auto",
                "label": "t:sections.all.media.media_ratio.label"
              },
              {
                "type": "select",
                "id": "context_image_radius",
                "options": [
                  {
                    "value": "default",
                    "label": "t:sections.all.corner_radius.options__7.label"
                  },
                  {
                    "value": "0px",
                    "label": "t:sections.all.corner_radius.options__1.label"
                  },
                  {
                    "value": "3px",
                    "label": "t:sections.all.corner_radius.options__2.label"
                  },
                  {
                    "value": "5px",
                    "label": "t:sections.all.corner_radius.options__3.label"
                  },
                  {
                    "value": "12px",
                    "label": "t:sections.all.corner_radius.options__4.label"
                  },
                  {
                    "value": "16px",
                    "label": "t:sections.all.corner_radius.options__5.label"
                  },
                  {
                    "value": "2000px",
                    "label": "t:sections.all.corner_radius.options__6.label"
                  }
                ],
                "default": "default",
                "label": "t:sections.all.corner_radius.label"
              },
              {
                "type": "url",
                "id": "context_image_link",
                "label": "t:sections.all.link.label"
              },
              {
                "type": "checkbox",
                "id": "context_target_blank",
                "default": false,
                "label": "t:sections.all.link.target_blank.label"
              }
            ]
        },
        {
          "type": "icon",
          "name": "t:blocks.icon.name",
          "settings": [
            {
              "type": "text",
              "id": "icon",
              "default": "glyphs/signs/full-image",
              "label": "t:sections.all.icons.icon.label",
              "info": "t:sections.all.icons.icon.info"
            },
            {
              "type": "range",
              "id": "icon_size",
              "min": 24,
              "max": 400,
              "step": 4,
              "unit": "px",
              "default": 48,
              "label": "t:sections.icons-with-text.settings.icon_or_image_size.label"
            },
            {
              "type": "color",
              "id": "color",
              "label": "t:blocks.icon.settings.color.label",
              "info": "t:blocks.icon.settings.color.info",
              "default": "#ffffff"
            },
            {
              "type": "color",
              "id": "mobile_color",
              "label": "t:blocks.icon.settings.mobile_color.label",
              "info": "t:blocks.icon.settings.color.info",
              "default": "#ffffff"
            },
            {
              "type": "range",
              "id": "mobile_icon_size",
              "min": 24,
              "max": 400,
              "step": 4,
              "unit": "px",
              "default": 48,
              "label": "t:blocks.icon.settings.mobile_icon_size.label"
            },
            {
              "type": "url",
              "id": "link",
              "label": "t:sections.all.link.label"
            },
            {
              "type": "checkbox",
              "id": "target_blank",
              "default": false,
              "label": "t:sections.all.link.target_blank.label"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "t:sections.scrolling-promotion-banner.name",
          "blocks": [
            {
              "type": "text"
            },
            {
              "type": "icon"
            },
            {
              "type": "text"
            },
            {
              "type": "button"
            }
          ]
        }
      ],
      "disabled_on": {
        "groups": [
          "*"
        ]
      }
    }
    {% endschema %}