{% if section.blocks.size > 0 %}
{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
  
{%- liquid
    assign disable_max_width = false
    if section.settings.disable_max_width 
        assign disable_max_width = true
    elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
        assign disable_max_width = true
    elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
        assign disable_max_width = true
    elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
        assign disable_max_width = true
    endif

    assign full_width = false
    if section.settings.full_width
      assign max_width = '100vw'
      assign full_width = true
    endif
    
    assign desktop_item_width = section.settings.desktop_item_width | times: 1
    assign desktop_item_size = desktop_item_width | floor
    
    assign mobile_item_size = 100.00 | divided_by: section.settings.mobile_item_min_width

    assign section_framing = false
    if section.settings.section_framing != 'disable'
        assign section_framing = true
    endif

    assign widths = '150, 200, 300, 400, 600, 750, 1000, 1250, 1500, 1750'
    assign img_class = "testimonials__image"

    assign item_count = section.blocks.size

    assign onload_script = ''
    assign loading_images = ''
    if settings.images_loading != 'disable'
        assign onload_script = 'this.parentNode.classList.add("lazyloaded");' 
        assign loading_images = 'lazy'
    elsif section.index > 2
      assign loading_images = 'lazy'
    endif
-%}
  
{% style %}
  #shopify-section-{{ section.id }} {
    --top-spacing: {{ section.settings.top_spacing }};
    --bottom-spacing: {{ section.settings.bottom_spacing }};
    --aspect-ratio: {{ section.settings.media_ratio }};
    --reduce-items: 1;
    {%- if section.settings.image_radius == 'default' -%}
        --image-radius: {{ settings.images_and_sections_radius }};
    {%- else -%}
        --image-radius: {{ section.settings.image_radius }};
    {%- endif -%}
    
    {% if section.settings.grid_style == 'page' %}
      --desktop-item-width: calc((100% - ({{ settings.page_column_gap }}px * ({{ desktop_item_size }} - var(--reduce-items)))) / ({{ desktop_item_width }} - (var(--reduce-items) - 1)));
    {% elsif section.settings.grid_style == 'alternative' %}
      --desktop-item-width: calc((100% - ({{ settings.alt_grid_column_gap }}px * ({{ desktop_item_size }} - var(--reduce-items)))) / ({{ desktop_item_width }} - (var(--reduce-items) - 1)));
    {% elsif section.settings.grid_style == 'secondary' %}
      --desktop-item-width: calc((100% - ({{ settings.second_grid_column_gap }}px * ({{ desktop_item_size }} - var(--reduce-items)))) / ({{ desktop_item_width }} - (var(--reduce-items) - 1)));
    {% endif %}
    {% if section.settings.grid_style == 'page' and full_width %}
      --slide-margin: var(--page-column-gap);
      --desktop-item-width: calc((100% - (var(--page-column-gap) * ({{ desktop_item_width }} - (var(--reduce-items) - 1) + 1)))/ ({{ desktop_item_width }} - (var(--reduce-items) - 1)));
    {% elsif section.settings.grid_style == 'alternative' and full_width %}
      --slide-margin: var(--alt-column-gap);
      --desktop-item-width: calc((100% - (var(--alt-column-gap) * ({{ desktop_item_width }} - (var(--reduce-items) - 1) + 1)))/ ({{ desktop_item_width }} - (var(--reduce-items) - 1)));
    {% elsif section.settings.grid_style == 'secondary' and full_width %}
      --slide-margin: var(--second-column-gap);
      --desktop-item-width: calc((100% - (var(--second-column-gap) * ({{ desktop_item_width }} - (var(--reduce-items) - 1) + 1)))/ ({{ desktop_item_width }} - (var(--reduce-items) - 1)));
    {% endif %}
  }
  {% if settings.images_loading != 'disable' and section.settings.media_ratio == 'auto' %}
      #shopify-section-{{ section.id }} .lazy-image {
        aspect-ratio: var(--asp-rat);
      }
    {% endif %}
  @media screen and (max-width: 1300px) {
    #shopify-section-{{ section.id }} {
      {% if desktop_item_size == 6 %}
        --reduce-items: 2;
      {% endif %}
    }
    {% if desktop_item_size == 6 and item_count >= 5 %}
      #shopify-section-{{ section.id }} .slider__grid--center {
        justify-content: flex-start;
      }
    {% endif %}
  }
  @media screen and (max-width: 1100px) {
    #shopify-section-{{ section.id }} {
      {% if desktop_item_size == 6 %}
        --reduce-items: 3;
      {% elsif desktop_item_size == 5 %}
        --reduce-items: 2;
      {% endif %}
    }
    {% if desktop_item_size == 6 and item_count >= 4 %}
      #shopify-section-{{ section.id }} .slider__grid--center {
        justify-content: flex-start;
      }
    {% endif %}
    {% if desktop_item_size == 5 and item_count >= 4 %}
      #shopify-section-{{ section.id }} .slider__grid--center {
        justify-content: flex-start;
      }
    {% endif %}
  }
  @media screen and (max-width: 1024px) {
    #shopify-section-{{ section.id }} {
      --desktop-item-width: {{ section.settings.mobile_item_min_width }}px;
    }
    #shopify-section-{{ section.id }} .slider__grid--center {
      justify-content: flex-start;
    }
  }
{% endstyle %}

<div class="section{% if section_framing == false or section.settings.full_width %} color-{{ section.settings.color_scheme }}{% endif %} {% unless section.settings.full_width %} side-margins{% endunless %}{% if section.settings.show_bottom_line %} bottom-line{% endif %}">
    <div class="section-container{% if section.settings.full_width == false %}{% if section.settings.section_framing == 'grid' %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}{% unless section_framing %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endunless %}{% endif %}{% if section.settings.center_text %} center{% endif %}">
      {% if section_framing and section.settings.full_width == false %}<div class="section-radius elem-padding-l color-{{ section.settings.color_scheme }}"><div {% if section.settings.section_framing != 'grid' %}class="{{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% if section.settings.center_text %} center{% endif %}"{% endif %}>{% endif %}
        {%- if section.settings.heading != blank -%}
          {%- liquid
            assign uppercase_heading = false
            if section.settings.heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                assign uppercase_heading = true
            elsif section.settings.heading_style == 'section-heading' and settings.uppercase_section_headings
                assign uppercase_heading = true
            elsif section.settings.heading_style == 'page-title' and settings.uppercase_page_titles
                assign uppercase_heading = true
            elsif section.settings.heading_style == 'subheading-font' and settings.uppercase_subheadings
                assign uppercase_heading = true
            elsif section.settings.heading_style == 'body-font' and settings.uppercase_body
                assign uppercase_heading = true
            elsif section.settings.heading_style == 'caption-font' and settings.uppercase_caption
                assign uppercase_heading = true
            endif

            assign heading_text = section.settings.heading
            assign processed_text = ''
            assign split_text = heading_text | split: '['

            for part in split_text
              if part contains ']'
                assign split_bracket = part | split: ']'
                assign highlight_text = split_bracket[0]
                assign after_bracket = split_bracket[1]
                assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
              else
                assign processed_text = processed_text | append: part
              endif
            endfor

            assign final_text = ''
            assign split_text_curly = processed_text | split: '{'

            for part in split_text_curly
              if part contains '}'
                assign split_curly = part | split: '}'
                assign styled_text = split_curly[0]
                assign after_curly = split_curly[1]
                assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
              else
                assign final_text = final_text | append: part
              endif
            endfor
          -%}
          <div {% if section.settings.full_width %}class="side-margins"{% endif %}>
            <{{ section.settings.heading_tag }} class="section-header custom-heading {{ section.settings.heading_style }}{% if uppercase_heading %} uppercase{% endif %} {% if section.settings.full_width %} {{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}{% if section.settings.heading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
              {% if section.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if section.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
            </{{ section.settings.heading_tag }}>
          </div>
        {%- endif -%}
        <slider-component id="GalleryViewer-{{ section.id }}" class="slider scroll-to-block {% unless full_width %} {{ section.settings.grid_style }}-grid{% endunless %}{% if section.settings.full_width %} slider--full-width{% endif %} slider--text-blocks">
            <div class="slider__viewport">
              <ul id="Slider-Gallery-{{ section.id }}" class="slider__grid {% if section.settings.alignment_fewer_items == 'center' and desktop_item_width > item_count %}slider__grid--center{% endif %}
                {% unless full_width %}{{ section.settings.grid_style }}-grid-gaps{% endunless %} hide-scrollbar" role="list" 
                style="--desktop-columns: {{ desktop_item_width }};"
                data-count="{{ desktop_item_size }}"
                data-mobile-width="{{ section.settings.mobile_item_min_width }}">
                {% for block in section.blocks %}
                  {%- case block.type -%}
                    {%- when 'information_card' -%}
                    {% if block.settings.info_card_heading != blank or block.settings.info_card_subheading != blank or block.settings.info_card_text != blank or block.settings.info_card_link != blank %}
                      <li id="Slide-{{ section.id }}" class="slider__grid-item {% if forloop.first %} is-active{% endif %}{% if block.settings.show_on_desktop %} only-on-desktop{% endif %}">
                        {% render 'information-card', location: block, parent_color_scheme: section.settings.color_scheme, full_width: full_width, block_style: true %}
                      </li>
                    {% endif %}
                    {% when 'testimonial' %}
                    <li id="Slide-{{ section.id }}" class="slider__grid-item {% if forloop.first %}is-active{% endif %}" {{ block.shopify_attributes }}>
                    <div class="testimonials_card flex--column">
                        {% if section.settings.show_rating %}
                          <div class="card__reviews testimonials__rating rating-container rating-container--full">
                            <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: block.settings.stars, rating_max: 5 }}">
                              <span aria-hidden="true" class="rating-star subheading-font{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.uppercase_subheadings %} uppercase{% endif %}" style="--rating: {{ block.settings.stars }}; --rating-max: 5; --rating-decimal: 0;"></span>
                            </div>
                          </div>
                        {% endif %}
                        {% if block.settings.heading != blank %}
                          {%- liquid
                            assign uppercase_heading = false
                            if block.settings.heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                              assign uppercase_heading = true
                            elsif block.settings.heading_style == 'section-heading' and settings.uppercase_section_headings
                              assign uppercase_heading = true
                            elsif block.settings.heading_style == 'page-title' and settings.uppercase_page_titles
                              assign uppercase_heading = true
                            elsif block.settings.heading_style == 'subheading-font' and settings.uppercase_subheadings
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'body-font' and settings.uppercase_body
                                assign uppercase_heading = true
                            elsif block.settings.heading_style == 'caption-font' and settings.uppercase_caption
                                assign uppercase_heading = true
                            endif

                            assign heading_text = block.settings.heading
                            assign processed_text = ''
                            assign split_text = heading_text | split: '['

                            for part in split_text
                              if part contains ']'
                                assign split_bracket = part | split: ']'
                                assign highlight_text = split_bracket[0]
                                assign after_bracket = split_bracket[1]
                                assign processed_text = processed_text | append: '<span class="highlight"><span>' | append: highlight_text | append: '</span></span>' | append: after_bracket
                              else
                                assign processed_text = processed_text | append: part
                              endif
                            endfor

                            assign final_text = ''
                            assign split_text_curly = processed_text | split: '{'

                            for part in split_text_curly
                              if part contains '}'
                                assign split_curly = part | split: '}'
                                assign styled_text = split_curly[0]
                                assign after_curly = split_curly[1]
                                assign final_text = final_text | append: '<span class="styled">' | append: styled_text | append: '</span>' | append: after_curly
                              else
                                assign final_text = final_text | append: part
                              endif
                            endfor
                          -%}
                            <{{ block.settings.heading_tag }} class="testimonial__title custom-heading {{ block.settings.heading_style }}{% if uppercase_heading %} uppercase{% endif %}{% if block.settings.heading_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
                              {% if block.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}<b>{% endif %}{{ final_text }}{% if block.settings.heading_style == 'subheading-font' and settings.bolder_subheadings_font %}</b>{% endif %}
                            </{{ block.settings.heading_tag }}>
                        {% endif %}
                        {% if block.settings.text != blank %}
                          {%- liquid
                            assign uppercase_text = false
                            if block.settings.text_style == 'secondary-heading' and settings.uppercase_secondary_headings
                              assign uppercase_text = true
                            elsif block.settings.text_style == 'section-heading' and settings.uppercase_section_headings
                              assign uppercase_text = true
                            elsif block.settings.text_style == 'page-title' and settings.uppercase_page_titles
                              assign uppercase_text = true
                            elsif block.settings.text_style == 'subheading-font' and settings.uppercase_subheadings
                                assign uppercase_text = true
                            elsif block.settings.text_style == 'body-font' and settings.uppercase_body
                                assign uppercase_text = true
                            elsif block.settings.text_style == 'caption-font' and settings.uppercase_caption
                                assign uppercase_text = true
                            endif
                          -%}
                          <div class="testimonial__text richtext rte link-underline {{ block.settings.text_style }}
                            {% if block.settings.text_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}{% if settings.uppercase_subheadings %} uppercase{% endif %}{% if settings.bolder_subheadings_font %} bold{% endif %}
                            {% else %}{% if uppercase_text %} uppercase{% endif %}{% endif %}">
                            <object>{{ block.settings.text }}</object>
                          </div>
                        {% endif %}
                        {%- if block.settings.page != blank -%}
                          <modal-opener class="testimonials__popup" data-modal="#TestimonialsModal-{{ block.id }}">
                            <button class="testimonials__more button--modal-opener button link-button body-font {% if settings.use_heading_font_secondary_buttons %}heading-font-style{% endif %} {% if settings.uppercase_secondary_buttons %}uppercase{% endif %}" id="Testimonials-{{ block.id }}" data-modal-toggle>
                                {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ section.settings.testimonial_label }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
                            </button>
                          </modal-opener>
                            <modal-dialog id="TestimonialsModal-{{ block.id }}" class="global-popup-modal global-popup-modal--drawer" data-template-id="TestimonialsModalTemplate-{{ block.id }}">
                            </modal-dialog>
                            <template id="TestimonialsModalTemplate-{{ block.id }}">
                            <div class="{% if block.settings.popup_style == 'popover' %}popup color-{{ settings.popup_color_scheme }}{% else %}drawer{% if settings.modal_border %} modal--border{% endif %} color-{{ settings.drawer_color_scheme }}{% endif %} modal {{ block.settings.popup_width }} {% if settings.modal_enable_shadow %}modal--shadow{% endif %} hide-scrollbar">
                              {% if block.settings.popup_style == 'drawer' %}
                                <div class="button-wrapper">
                                    <button type="button" class="button button-close button--small close-popup icon--large" id="ModalClose-{{ block.id }}">
                                      {%- render 'glyphs_interface', icon: 'close' -%}
                                    </button>
                                </div>
                              {% endif %}
                              <div class="scroll-area hide-scrollbar">
                                {% if block.settings.popup_style == 'popover' %}
                                <div class="button-wrapper">
                                    <button type="button" class="button button-close button--small close-popup icon--large" id="ModalClose-{{ block.id }}">
                                      {%- render 'glyphs_interface', icon: 'close' -%}
                                    </button>
                                </div>
                              {% endif %}
                                {% liquid 
                                  assign uppercase_headings = false
                                  if block.settings.rte_heading_style == 'body-font' and settings.uppercase_body
                                    assign uppercase_headings = true
                                  elsif block.settings.rte_heading_style == 'subheading-font' and settings.uppercase_subheadings
                                    assign uppercase_headings = true
                                  elsif block.settings.rte_heading_style == 'secondary-heading' and settings.uppercase_secondary_headings
                                    assign uppercase_headings = true
                                  elsif block.settings.rte_heading_style == 'section-heading' and settings.uppercase_section_headings
                                      assign uppercase_headings = true
                                  elsif block.settings.rte_heading_style == 'page-title' and settings.uppercase_page_titles
                                      assign uppercase_headings = true
                                  endif
                                %}
                                <div class="{% if block.settings.popup_style == 'popover' %}popup-content{% else %}drawer-wrapper drawer-wrapper--padding{% endif %} heading-style-{{ block.settings.rte_heading_style }} {% if block.settings.rte_heading_style == 'subheading-font' %}{% if settings.use_heading_font_subheadings %} heading-style-subheading-heading-font{% endif %}{% if settings.bolder_subheadings_font %} heading-style-bold{% endif %}{% endif %}
                                   page__content body-font rte {% if settings.uppercase_body %}uppercase{% endif %} {% if uppercase_headings %}headings-uppercase{% endif %}">{{ block.settings.page.content }}</div>
                              {% if block.settings.popup_style == 'drawer' %}</div>{% endif %}
                            </div>
                          </template>
                        {%- endif -%}
                        {%- if block.settings.image != blank or block.settings.author_name != blank or block.settings.author_position != blank -%}
                          <div class="testimonials__avatar flex--{% if section.settings.center_text %}column{% else %}row{% endif %}">
                            {%- if block.settings.image != blank or block.settings.author_name != blank or block.settings.author_position != blank -%}
                              <div class="testimonials__avatar flex--{% if section.settings.center_text %}column{% else %}row{% endif %}">
                                {%- if block.settings.image != blank -%}
                                  <div class="testimonials__image-container aspect-ratio" {% if settings.disable_right_click %}oncontextmenu="return false"{% endif %}>
                                    {%- capture sizes -%}150px{%- endcapture -%}
                                    {% if settings.images_loading != 'disable' %}
                                      <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--asp-rat: {{ block.settings.image.aspect_ratio }}">
                                    {% endif %}
                                    {{
                                        block.settings.image
                                        | image_url: width: 1700
                                        | image_tag:
                                        sizes: sizes,
                                        widths: widths,
                                        class: img_class,
                                        alt: block.settings.image.alt,
                                        draggable: false,
                                        loading: loading_images,
                                        onload: onload_script
                                    }}
                                    {% if settings.images_loading != 'disable' %}
                                      {% if settings.images_loading != 'fade_scale' %}
                                      <div class="lazy-image__preloader lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                                        <img 
                                        alt="{{ block.settings.image.alt | escape }}" 
                                        src="{{ block.settings.image | image_url: width: 10 }}"
                                        draggable="false"
                                        width="10" 
                                        height="10">
                                      </div>
                                      {% endif %}
                                  </figure>
                                  {% endif %}
                                  </div>
                                {%- endif -%}
                                {%- if block.settings.author_name != blank or block.settings.author_position != blank -%}
                                  <div class="testimonials__author-block body-font{% if settings.uppercase_body %} uppercase{% endif %}">
                                    {%- if block.settings.author_name != blank -%}
                                        <p class="testimonials__author">{{ block.settings.author_name }}</p>
                                    {%- endif -%}
                                    {%- if block.settings.author_position != blank -%}
                                      <div class="testimonials__position richtext rte link-underline">
                                        <object>{{ block.settings.author_position }}</object>
                                      </div>  
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </li>
                  {%- endcase -%}
                {% endfor %}
              </ul>
                <button type="button" class="slider-button slider-button--prev{% if section.settings.show_arrows %} slider-button-hover{% endif %} visually-hidden" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
                  <span class="icon icon--small">{%- render 'glyphs_arrows', icon: 'arrow-left' -%}</span>
                </button>
                <button type="button" class="slider-button slider-button--next{% if section.settings.show_arrows %} slider-button-hover{% endif %} visually-hidden" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
                  <span class="icon icon--small">{%- render 'glyphs_arrows', icon: 'arrow-right' -%}</span>
                </button>
                {% if section.settings.show_scrollbar %}
                  {% if section.settings.full_width %}<div class="side-margins">{% endif %}
                    <div role="scrollbar" aria-orientation="horizontal" aria-valuemax="100" aria-valuemin="0" aria-valuenow="39" class="slider-scrollbar visually-hidden">
                      <span class="slider-scrollbar__track">
                        <span class="slider-scrollbar__thumb"></span>
                      </span>
                    </div>
                  {% if section.settings.full_width %}</div>{% endif %}
                {% endif %}
            </div>
        </slider-component>
        {% if section.settings.button_label != blank or section.settings.button_icon != blank %}
          {% if full_width %}<div class="side-margins"><div class="{{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}">{% endif %}
            <{% if section.settings.button_link != blank %}a href="{{ section.settings.button_link }}"{% if section.settings.target_blank %} target="_blank"{% endif %}{% else %}span disabled{% endif %} class="testimonials__button button {{ section.settings.button_style }}-button body-font button--secondary{% if settings.use_heading_font_secondary_buttons %} heading-font-style{% endif %}{% if settings.uppercase_secondary_buttons %} uppercase{% endif %}{% if section.settings.button_label != blank and section.settings.button_icon != blank %} button-block--small-padding{% endif %}{% if section.settings.button_icon != blank %} button-with-icon{% if section.settings.swap_button_icon %} icon--swap{% endif %}{% endif %}">
              {% if section.settings.button_icon != blank %}
                {%- liquid
                  assign icon_name = section.settings.button_icon | split: '/'
                  if icon_name.size == 3
                      assign file_name = icon_name.first | append: '_' | append: icon_name[1]
                  elsif icon_name.size == 2
                      assign file_name = icon_name.first
                  endif
                  assign icon = icon_name.last
                -%}
                    <span class="icon-accordion flex--row icon--small">{% render 'catalog-icons', file_name: file_name, icon: icon %}</span>
              {% endif %}
              {% if settings.bolder_secondary_buttons_font %}<b>{% endif %}{{ section.settings.button_label }}{% if settings.bolder_secondary_buttons_font %}</b>{% endif %}
            </{% if section.settings.button_link != blank %}a{% else %}span{% endif %}>
          {% if full_width %}</div></div>{%endif %}
        {% endif %}
        {% if section_framing and section.settings.full_width == false %}</div></div>{% endif %}
    </div>
</div>

{% endif %}

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class": "testimonials",
  "max_blocks": 20,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": true,
      "label": "t:sections.testimonials.settings.show_rating.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.settings_titles.heading.heading.label",
      "info": "t:sections.all.settings_titles.heading.heading.info",
      "default": "What our clients say"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "caption-font",
          "label": "t:sections.all.headings_style.options__6.label"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.headings_style.options__1.label"
        },
        {
          "value": "subheading-font",
          "label": "t:sections.all.headings_style.options__2.label"
        },
        {
          "value": "secondary-heading",
          "label": "t:sections.all.headings_style.options__3.label"
        },
        {
          "value": "section-heading",
          "label": "t:sections.all.headings_style.options__4.label"
        },
        {
          "value": "page-title",
          "label": "t:sections.all.headings_style.options__5.label"
        }
      ],
      "default": "page-title",
      "label": "t:sections.all.headings_style.heading_style.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
            "value": "h1",
            "label": "t:sections.all.tag.options__1.label"
        },
        {
            "value": "h2",
            "label": "t:sections.all.tag.options__2.label"
        },
        {
            "value": "h3",
            "label": "t:sections.all.tag.options__3.label"
        },
        {
            "value": "h4",
            "label": "t:sections.all.tag.options__4.label"
        },
        {
            "value": "h5",
            "label": "t:sections.all.tag.options__5.label"
        },
        {
            "value": "h6",
            "label": "t:sections.all.tag.options__6.label"
        },
        {
            "value": "div",
            "label": "t:sections.all.tag.options__7.label"
        },
        {
            "value": "span",
            "label": "t:sections.all.tag.options__8.label"
        }, 
        {
            "value": "p",
            "label": "t:sections.all.tag.options__9.label"
        }
        ],
        "default": "h2",
        "label": "t:sections.all.tag.heading_tag.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.buttons.button_label.label"
    },
    {
      "type": "text",
      "id": "button_icon",
      "label": "t:sections.all.buttons.button_icon.label",
      "info": "t:sections.all.icons.icon.info"
    },
    {
      "type": "checkbox",
      "id": "swap_button_icon",
      "default": false,
      "label": "t:sections.all.icons.swap_icon_position.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.link.label"
    },
    {
      "type": "checkbox",
      "id": "target_blank",
      "default": false,
      "label": "t:sections.all.link.target_blank.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "solid",
          "label": "t:sections.all.buttons.button_styles.options__1.label"
        },
        {
          "value": "outlined",
          "label": "t:sections.all.buttons.button_styles.options__2.label"
        },
        {
          "value": "link",
          "label": "t:sections.all.buttons.button_styles.options__3.label"
        }
      ],
      "default": "solid",
      "label": "t:sections.all.buttons.button_styles.button_style.label"
    },
    {
      "type": "text",
      "id": "testimonial_label",
      "label": "t:sections.testimonials.settings.testimonial_label.label",
      "default": "Show full review"
    },
    {
      "type": "checkbox",
      "id": "center_text",
      "default": true,
      "label": "t:sections.all.alignment.center_text.label"
    },
    {
      "type": "select",
      "id": "media_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.media.media_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "t:sections.all.media.media_ratio.options__2.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.all.media.media_ratio.options__3.label"
        },
        {
          "value": "2/3",
          "label": "t:sections.all.media.media_ratio.options__4.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.all.media.media_ratio.options__5.label"
        },
        {
          "value": "3/2",
          "label": "t:sections.all.media.media_ratio.options__6.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.all.media.media_ratio.options__7.label"
        },
        {
          "value": "4/1",
          "label": "t:sections.all.media.media_ratio.options__8.label"
        }
      ],
      "default": "1/1",
      "label": "t:sections.all.media.media_ratio.label"
    },
    {
      "type": "select",
      "id": "image_radius",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.corner_radius.options__7.label"
        },
        {
          "value": "0px",
          "label": "t:sections.all.corner_radius.options__1.label"
        },
        {
          "value": "3px",
          "label": "t:sections.all.corner_radius.options__2.label"
        },
        {
          "value": "5px",
          "label": "t:sections.all.corner_radius.options__3.label"
        },
        {
          "value": "12px",
          "label": "t:sections.all.corner_radius.options__4.label"
        },
        {
          "value": "16px",
          "label": "t:sections.all.corner_radius.options__5.label"
        },
        {
          "value": "2000px",
          "label": "t:sections.all.corner_radius.options__6.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.corner_radius.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.slider.header.content"
    },
    {
      "type": "range",
      "id": "desktop_item_width",
      "min": 2,
      "max": 6.5,
      "step": 0.5,
      "label": "t:sections.all.slider.desktop_item_width.label",
      "info": "t:sections.all.slider.desktop_item_width.info",
      "default": 3
    },
    {
      "type": "select",
      "id": "alignment_fewer_items",
      "options": [
        {
          "value": "center",
          "label": "t:sections.all.slider.alignment_fewer_items.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.all.slider.alignment_fewer_items.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.slider.alignment_fewer_items.label"
    },
    {
      "type": "range",
      "id": "mobile_item_min_width",
      "min": 150,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.slider.mobile_item_min_width.label",
      "default": 210
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "default": true,
      "label": "t:sections.all.slider.show_arrows.label"
    },
    {
      "type": "checkbox",
      "id": "show_scrollbar",
      "default": true,
      "label": "t:sections.all.slider.show_scrollbar.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.section_layout_header.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "page",
          "label": "t:sections.all.grid_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.grid_style.options__3.label"
        },
        {
          "value": "alternative",
          "label": "t:sections.all.grid_style.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.all.grid_style.label"
    },
    {
      "type": "checkbox",
      "id": "disable_max_width",
      "default": false,
      "label": "t:sections.all.disable_max_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "t:sections.all.show_bottom_line.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "color_scheme",
      "id": "info_card_color_scheme",
      "label": "t:sections.all.colors.info_card_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "section_framing",
      "options": [
        {
          "value": "disable",
          "label": "t:sections.all.section_framing.options__1.label"
        },
        {
          "value": "enable",
          "label": "t:sections.all.section_framing.options__2.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.section_framing.options__3.label"
        }
      ],
      "default": "disable",
      "label": "t:sections.all.section_framing.label",
      "info": "t:sections.all.section_framing.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.top_spacing.label",
      "default": 2
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.bottom_spacing.label",
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.testimonial.name",
      "settings": [
        {
          "type": "range",
          "id": "stars",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5,
          "label": "t:sections.testimonials.blocks.testimonial.settings.stars.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.settings_titles.heading.heading.label",
          "info": "t:sections.all.settings_titles.heading.heading.info",
          "default": "Highlight the most valuable part and put it in the review heading."
        },
        {
          "type": "select",
          "id": "heading_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "section-heading",
          "label": "t:sections.all.headings_style.heading_style.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h2",
            "label": "t:sections.all.tag.heading_tag.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.all.settings_titles.text.text.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store's happy customers.</p>"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "body-font",
          "label": "t:sections.all.headings_style.text_style.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.media.image.image.label"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_name.label",
          "default": "Author’s name"
        },
        {
          "type": "richtext",
          "id": "author_position",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_position.label",
          "default": "<p>Optional company’s name</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.all.settings_titles.page.page.label",
          "info": "t:sections.testimonials.blocks.testimonial.settings.page.info"
        },
        {
          "type": "select",
          "id": "rte_heading_style",
          "options": [
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "section-heading",
          "label": "t:sections.all.headings_style.richtext_heading_style.label"
        },
        {
          "type": "select",
          "id": "popup_style",
          "options": [
            {
              "value": "popover",
              "label": "t:settings_schema.drawers_popups_dropdowns.settings.localization_style.options__1.label"
            },
            {
              "value": "drawer",
              "label": "t:settings_schema.drawers_popups_dropdowns.settings.localization_style.options__2.label"
            }
          ],
          "default": "popover",
          "label": "t:settings_schema.drawers_popups_dropdowns.settings.localization_style.label"
        },
        {
          "type": "select",
          "id": "popup_width",
          "options": [
            {
              "value": "regular",
              "label": "t:sections.all.settings_titles.content_width.options__2.label"
            },
            {
              "value": "wide",
              "label": "t:sections.all.settings_titles.content_width.options__3.label"
            }
          ],
          "default": "wide",
          "label": "t:sections.all.settings_titles.popup_width.label"
        }
      ]
    },
    {
      "type": "information_card",
      "name": "t:sections.all.settings_titles.information_card.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_on_desktop",
          "default": false,
          "label": "t:sections.all.settings_titles.information_card.show_on_desktop.label"
        },
        {
          "type": "checkbox",
          "id": "info_card_center_text",
          "default": false,
          "label": "t:sections.all.alignment.center_text.label"
        },
        {
          "type": "url",
          "id": "info_card_link",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "checkbox",
          "id": "info_card_target_blank",
          "default": false,
          "label": "t:sections.all.link.target_blank.label"
        },
        {
          "type": "text",
          "id": "info_card_subheading",
          "label": "t:sections.all.settings_titles.subheading.subheading.label",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "info_card_subheading_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            }
          ],
          "default": "subheading-font",
          "label": "t:sections.all.headings_style.subheading_style.label"
        },
        {
          "type": "select",
          "id": "info_card_subheading_tag",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h3",
            "label": "t:sections.all.tag.subheading_tag.label"
        },
        {
          "type": "text",
          "id": "info_card_heading",
          "label": "t:sections.all.settings_titles.heading.heading.label",
          "info": "t:sections.all.settings_titles.heading.heading.info",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "info_card_heading_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "secondary-heading",
          "label": "t:sections.all.headings_style.heading_style.label"
        },
        {
          "type": "select",
          "id": "info_card_heading_tag",
          "options": [
            {
                "value": "h1",
                "label": "t:sections.all.tag.options__1.label"
            },
            {
                "value": "h2",
                "label": "t:sections.all.tag.options__2.label"
            },
            {
                "value": "h3",
                "label": "t:sections.all.tag.options__3.label"
            },
            {
                "value": "h4",
                "label": "t:sections.all.tag.options__4.label"
            },
            {
                "value": "h5",
                "label": "t:sections.all.tag.options__5.label"
            },
            {
                "value": "h6",
                "label": "t:sections.all.tag.options__6.label"
            },
            {
                "value": "div",
                "label": "t:sections.all.tag.options__7.label"
            },
            {
                "value": "span",
                "label": "t:sections.all.tag.options__8.label"
            }, 
            {
                "value": "p",
                "label": "t:sections.all.tag.options__9.label"
            }
            ],
            "default": "h2",
            "label": "t:sections.all.tag.heading_tag.label"
        },
        {
          "type": "richtext",
          "id": "info_card_text",
          "label": "t:sections.all.settings_titles.text.text.label"
        },
        {
          "type": "select",
          "id": "info_card_text_style",
          "options": [
            {
              "value": "caption-font",
              "label": "t:sections.all.headings_style.options__6.label"
            },
            {
              "value": "body-font",
              "label": "t:sections.all.headings_style.options__1.label"
            },
            {
              "value": "subheading-font",
              "label": "t:sections.all.headings_style.options__2.label"
            },
            {
              "value": "secondary-heading",
              "label": "t:sections.all.headings_style.options__3.label"
            },
            {
              "value": "section-heading",
              "label": "t:sections.all.headings_style.options__4.label"
            },
            {
              "value": "page-title",
              "label": "t:sections.all.headings_style.options__5.label"
            }
          ],
          "default": "body-font",
          "label": "t:sections.all.headings_style.text_style.label"
        },
        {
          "type": "select",
          "id": "info_card_button_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.buttons.button_styles.options__1.label"
            },
            {
              "value": "outlined",
              "label": "t:sections.all.buttons.button_styles.options__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.buttons.button_styles.options__3.label"
            }
          ],
          "default": "solid",
          "label": "t:sections.all.buttons.button_styles.button_style.label"
        },
        {
          "type": "select",
          "id": "info_card_button_radius",
          "options": [
            {
              "value": "default",
              "label": "t:sections.all.corner_radius.options__7.label"
            },
            {
              "value": "0px",
              "label": "t:sections.all.corner_radius.options__1.label"
            },
            {
              "value": "3px",
              "label": "t:sections.all.corner_radius.options__2.label"
            },
            {
              "value": "5px",
              "label": "t:sections.all.corner_radius.options__3.label"
            },
            {
              "value": "12px",
              "label": "t:sections.all.corner_radius.options__4.label"
            },
            {
              "value": "16px",
              "label": "t:sections.all.corner_radius.options__5.label"
            },
            {
              "value": "2000px",
              "label": "t:sections.all.corner_radius.options__6.label"
            }
          ],
          "default": "default",
          "label": "t:sections.all.corner_radius.button_radius"
        },
        {
          "type": "color_scheme",
          "id": "info_card_color_scheme",
          "label": "t:sections.all.colors.info_card_color_scheme.label",
          "default": "background-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  }
}
{% endschema %}